.invisible {
  display: none;
}

.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: gold;
  cursor: pointer;
  gap: 5px;
}

.star {
  padding: 0 5px;
}