<div class="user-selection-wrapper">
  <header class="selection-header">
    <h1>SELECCIONA TU USUARIO</h1>
  </header>

  <div class="responsables-grid">
    <div *ngFor="let r of resposablesDeSucursal" class="responsable-card"
      [class.is-selected]="r.id === responsableActivoSeleccionado?.id" (click)="onSeleccionar(r)" role="button"
      tabindex="0">
      <div class="card-content">
        <ngx-avatars class="avatar-item" [name]="r.nombre" [size]="64" [bgColor]="r.color" [pTooltip]="r.nombre">
        </ngx-avatars>

        <div class="info-container">
          <span class="nombre">{{ r.nombre }}</span>
          <span class="posicion" *ngIf="r.posicion">{{ r.posicion }}</span>
        </div>
      </div>

      <div class="selection-badge" *ngIf="r.id === responsableActivoSeleccionado?.id">
        <i class="pi pi-check"></i>
      </div>
    </div>
  </div>
</div>

<app-modal-validar-pin (pinValidado)="onPinValidado($event)">
</app-modal-validar-pin>
