<p-table [value]="mantenimientos" [tableStyle]="{ 'min-width': '10rem', padding: '10px' }"
    styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="62vh" selectionMode="single"
    [(selection)]="mantenimientoSeleccionado">
    <ng-template pTemplate="header">
        <tr class="text-center">
            <th>NOMBRE</th>
            <th>FECHA</th>
            <th>CAJA</th>
            <th>IMPRESORAS</th>
            <th>RACK</th>
            <th>TPV / TABLETAS</th>
            <th>CONTENIDOS</th>
            <th>INTERNET</th>
            <th>CCTV</th>
            <th>NO BRAKES</th>
            <th>TIEMPOS COCINA</th>
            <th>CONCENTRADOR APPS</th>
            <th>% DE PROGRESO</th>
            <th>ACCIONES</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-mantenimiento>
        <tr>
            <td class="text-center"> {{ obtenerNombreResponsable(mantenimiento!.idUsuarioSoporte) }}
            </td>
            <td class="text-center">{{ dateHelpder.getDate(mantenimiento.fechaFin) | date: 'dd/MM/yyyy hh:mm a' }}</td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'CAJA')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoCaja, 'bg-danger': !mantenimiento.mantenimientoCaja}">
                <label style="color: white;">{{ mantenimiento.mantenimientoCaja ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'IMPRESORAS')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoImpresoras, 'bg-danger': !mantenimiento.mantenimientoImpresoras}">
                <label style="color: white;">{{ mantenimiento.mantenimientoImpresoras ? 'Si' : 'No' }}</label>

            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'RACK')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoRack, 'bg-danger': !mantenimiento.mantenimientoRack}">
                <label style="color: white;">{{ mantenimiento.mantenimientoRack ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'TPV')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoPuntosVentaTabletas, 'bg-danger': !mantenimiento.mantenimientoPuntosVentaTabletas}">
                <label style="color: white;">{{ mantenimiento.mantenimientoPuntosVentaTabletas ? 'Si' : 'No'
                    }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'CONTENIDOS')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoContenidosSistemaCable, 'bg-danger': !mantenimiento.mantenimientoContenidosSistemaCable}">
                <label style="color: white;">{{ mantenimiento.mantenimientoContenidosSistemaCable ? 'Si' : 'No'
                    }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'INTERNET')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoInternet, 'bg-danger': !mantenimiento.mantenimientoInternet}">
                <label style="color: white;">{{ mantenimiento.mantenimientoInternet ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'CCTV')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoCCTV, 'bg-danger': !mantenimiento.mantenimientoCCTV}">
                <label style="color: white;">{{ mantenimiento.mantenimientoCCTV ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'NO BRAKES')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoNoBrakes, 'bg-danger': !mantenimiento.mantenimientoNoBrakes}">
                <label style="color: white;">{{ mantenimiento.mantenimientoNoBrakes ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'TIEMPOS COCINA')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoTiemposCocina, 'bg-danger': !mantenimiento.mantenimientoTiemposCocina}">
                <label style="color: white;">{{ mantenimiento.mantenimientoTiemposCocina ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'APPS')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoConcentradorApps, 'bg-danger': !mantenimiento.mantenimientoConcentradorApps}">
                <label style="color: white;">{{ mantenimiento.mantenimientoConcentradorApps ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center">{{ maintenance10x10Service.calcularPorcentaje(mantenimiento) }}%</td>
            <td style="display: flex; gap: 10px">
                <button class="btn btn-info" pTooltip="DETALLES" tooltipPosition="top"
                    (click)="abrirModalDetalle(mantenimiento)">
                    <i class='bx bx-show bx-sm'></i>
                </button>

                <button class="btn btn-primary btn-notification" (click)="onClickChat(mantenimiento)"
                    *ngIf="mostrarChat" style="margin: 2px"
                    [ngClass]="{'has-notification': verificarChatNoLeido(mantenimiento)}">
                    <i class="bx bx-message-square-dots bx-sm" style="color: rgb(255, 255, 255)" pTooltip="CHAT"
                        tooltipPosition="top"></i>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-modal-final-comments *ngIf="mostrarModalComentarios" [mostrarModal]="mostrarModalComentarios"
    [mantenimiento]="mantenimientoSeleccionado"
    (closeEvent)="mostrarModalComentarios = false"></app-modal-final-comments>

<app-modal-sys-mtto-imguploader *ngIf="mostrarModalSubirImagen" [mostrarModal]="mostrarModalSubirImagen"
    (closeEvent)="mostrarModalSubirImagen = false" [titulo]="tituloEvidencia"
    [mantenimiento]="mantenimientoSeleccionado"></app-modal-sys-mtto-imguploader>

<app-modal-visor-varias-imagenes *ngIf="mostrarModalVisorImagen" [mostrarModal]="mostrarModalVisorImagen"
    [titulo]="tituloVisor!" (closeEvent)="mostrarModalVisorImagen = false" [imagenes]="imagenes"
    (imagenEliminadaEvent)="onEliminarImagen($event)"
    [mostrarBotonEliminar]="usuario.idRol == '4' || usuario.idRol == '1' || usuario.idRol == '5'"></app-modal-visor-varias-imagenes>

<app-modal-maintenance-chat *ngIf="mostrarModalChat" [mostrarModal]="mostrarModalChat"
    (closeEvent)="mostrarModalChat = false" [idMnatenimiento]="mantenimientoSeleccionado?.id"
    [idArea]="'1'"></app-modal-maintenance-chat>