<p-tabView>
  <p-tabPanel header="SISTEMAS">
    <app-branches-sys-tab></app-branches-sys-tab>
  </p-tabPanel>
  <p-tabPanel header="AUDIO Y VIDEO">
    <p>Contenido de la segunda pestaña.</p>
  </p-tabPanel>
  <p-tabPanel header="MANTENIMIENTO">
    <p>Contenido de la tercera pestaña.</p>
  </p-tabPanel>
  <p-tabPanel header="ADMINISTRACIÓN ">
    <p>Contenido de la tercera pestaña.</p>
  </p-tabPanel>
  <p-tabPanel header="COMPRAS">
    <p>Contenido de la tercera pestaña.</p>
  </p-tabPanel>
</p-tabView>
