<p-tabView>
  <p-tabPanel header="SISTEMAS">
    <app-branches-sys-tab [tickets]="filtrarTicketsPorArea('1')" [todosLosTickets]="todosLosTickets"></app-branches-sys-tab>
  </p-tabPanel>
  <p-tabPanel header="AUDIO Y VIDEO">
    <app-branches-audio-video-tab [tickets]="filtrarTicketsPorArea('2')"></app-branches-audio-video-tab>
  </p-tabPanel>
  <p-tabPanel header="MANTENIMIENTO">
    <p>Contenido de la tercera pestaña.</p>
  </p-tabPanel>
  <p-tabPanel header="ADMINISTRACIÓN ">
    <p>Contenido de la tercera pestaña.</p>
  </p-tabPanel>
  <p-tabPanel header="COMPRAS">
    <p>Contenido de la tercera pestaña.</p>
  </p-tabPanel>
</p-tabView>

<div class="d-flex flex-column align-items-center gap-3 bg-white m-4 justify-content-center p-5 shadow-sm rounded-3"
  *ngIf="tickets.length == 0">
  @if (loading) {
  <i class="bx bx-loader bx-lg bx-spin" style="color: rgb(0, 153, 255)"></i>
  }@else {
  <i class="bx bx-file-blank bx-md" style="color: rgb(43, 92, 226)"></i>
  <p>SIN TICKETS PENDIENTES</p>
  }
</div>