<div class="pt-5">
    <div class="pt-3" style="padding-left: 50px; padding-right: 50px;">
        <div class="m-2 mt-3 bg-white p-3">
            <div class="d-flex justify-content-between align-items-center">
                <h3>FILTROS DE BÚSQUEDA</h3>
            </div>
            <br>

            <div class="row">
                <div class="col-md-2">
                    <p class="fw-bold">SUCURSAL</p>
                    <p-dropdown [options]="sucursales" [(ngModel)]="idSucursalFiltro" name="sucursal"
                        [optionValue]="'id'" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
                        placeholder="SELECCIONAR SUCURSAL / DEPARTAMENTO" [style]="{width:'100%'}">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.nombre }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-dep pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ dep.nombre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p></p>
                </div>
                <div class="col-md-2">
                    <p class="fw-bold">ÁREA</p>
                    <p-dropdown [options]="areas" [(ngModel)]="idAreaFiltro" [optionValue]="'id'" name="area"
                        optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
                        placeholder="SELECCIONAR ÁREA" [style]="{width:'100%'}">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.nombre }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-dep pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ dep.nombre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p></p>
                </div>
                <div class="col-md-2">
                    <p class="fw-bold">LOCACIÓN</p>
                    <p-dropdown [options]="areasActivosFijos" [(ngModel)]="idLocacionFiltro" [optionValue]="'id'"
                        name="locacion" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
                        placeholder="SELECCIONAR LOCACIÓN" [style]="{width:'100%'}">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.nombre }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-dep pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ dep.nombre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p></p>
                </div>
                <div class="col-md-2">
                    <p class="fw-bold">CATEGORÍA</p>
                    <p-dropdown [options]="categoriasActivosFijos" [(ngModel)]="idCategoriaFiltro" [optionValue]="'id'"
                        name="categoria" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
                        placeholder="SELECCIONAR CATEGORÍA" [style]="{width:'100%'}">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.nombre }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-dep pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ dep.nombre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p></p>
                </div>
                <div class="col-md-2">
                    <p class="fw-bold">CONDICIÓN</p>
                    <p-dropdown [options]="estatusActivosFijos" [(ngModel)]="idEstatusFiltro" [optionValue]="'id'"
                        name="condicion" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
                        placeholder="SELECCIONAR CONDICIÓN" [style]="{width:'100%'}">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.nombre }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-dep pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ dep.nombre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p></p>
                </div>
                <div class="col-md-2">
                    <p class="fw-bold">UBICACIÓN</p>
                    <p-dropdown [options]="ubicacionesActivosFijos" [(ngModel)]="idUbicacionFiltro" [optionValue]="'id'"
                        name="ubicacion" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
                        placeholder="SELECCIONAR CONDICIÓN" [style]="{width:'100%'}">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.nombre }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-dep pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ dep.nombre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p></p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-6">
                    <label class="form-label fw-bold">Filtro</label>
                    <input type="text" class="form-control" [(ngModel)]="textoBusquedaReferencia"
                        placeholder="BUSCAR POR REFERENCIA">
                </div>

                <div class="col-6 text-end">
                    <label class="fw-bold" style="color: red;">
                        Costo total de activos: {{ costoTotalFiltrado | currency }}
                    </label>
                </div>
            </div>

            <div class="d-flex flex-wrap justify-content-between align-items-center mt-3">
                <div class="d-flex gap-2">
                    <p-button label="BUSCAR" icon="pi pi-search" styleClass="p-button-info"
                        (click)="filtrarActivosFijos()"></p-button>
                    <p-button label="LIMPIAR FILTROS" icon="pi pi-filter-slash" styleClass="p-button-secondary"
                        (click)="limpiarFiltros()"></p-button>
                </div>
            </div>



            <br>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <h2>LISTA DE ACTIVOS FIJOS</h2>
                <p-button label="AGREGAR" icon="pi pi-plus" styleClass="p-button-info"
                    (click)="abrirModalCrearActivoFijo()">
                </p-button>
            </div>
            <br>

            <p-table [value]="activosFijosFiltrados | buscarPorReferencia: textoBusquedaReferencia"
                [tableStyle]="{ 'min-width': '10rem', padding: '10px' }" styleClass="p-datatable-gridlines table-tk"
                [scrollable]="true" scrollHeight="62vh">
                <ng-template pTemplate="header">
                    <tr>
                        <th>REFERENCIA</th>
                        <th>DESCRIPCION</th>
                        <th>SUCURSAL</th>
                        <th>AREA</th>
                        <th>LOCACIÓN</th>
                        <th>CATEGORIA</th>
                        <th># MANT</th>
                        <th>CONDICIÓN</th>
                        <th>UBICACIÓN</th>
                        <th>COSTO</th>
                        <th>COSTO MANT.</th>
                        <th>ACCIONES</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-activo>
                    <tr [pSelectableRow]="activo" [ngClass]="{
                        'row-highlight': getCostoTotalMantenimientos(activo) >= activo.costo,
                        'row-rojo': nombreEstatusActivoFijo(activo.idEstatusActivoFijo) === 'DESCOMPUESTO' && getCostoTotalMantenimientos(activo) < activo.costo,
                        'row-morado': (
                            ['EN REPARACIÓN', 'REPARADO', 'POR INSTALAR'].includes(nombreEstatusActivoFijo(activo.idEstatusActivoFijo)!) &&
                            getCostoTotalMantenimientos(activo) < activo.costo
                        ),
                        'row-verde': nombreEstatusActivoFijo(activo.idEstatusActivoFijo) === 'NUEVO' && getCostoTotalMantenimientos(activo) < activo.costo,
                        'row-amarillo': nombreEstatusActivoFijo(activo.idEstatusActivoFijo) === 'USADO' && getCostoTotalMantenimientos(activo) < activo.costo
                    }">
                        <td>{{ activo.referencia }}</td>
                        <td>{{ activo.descripcion }}</td>
                        <td>{{ nombreSucursal(activo.idSucursal) }}</td>
                        <td>{{ nombreArea(activo.idArea) }}</td>
                        <td>{{ nombreAreaActivoFijo(activo.idAreaActivoFijo) }}</td>
                        <td>{{ nombreCategoriaActivoFijo(activo.idCategoriaActivoFijo) }}</td>
                        <td>{{ activo.mantenimientos.length }}</td>
                        <td>{{ nombreEstatusActivoFijo(activo.idEstatusActivoFijo) }}</td>
                        <td>{{ nombreUbicacionActivoFijo(activo.idUbicacionActivoFijo) }}</td>
                        <td>{{ activo.costo | currency }}</td>
                        <td>{{ getCostoTotalMantenimientos(activo) | currency }}</td>
                        <td style="display: flex; gap: 10px">
                            <button class="btn btn-secondary me-3" (click)="mostrarTickets(activo)"><i
                                    class='bx bx-receipt bx-sm' pTooltip="VER TICKETS"
                                    tooltipPosition="top"></i></button>

                            <button class="btn btn-warning me-3" (click)="abrirModalMantenimientos(activo)"><i
                                    class='bx bx-wrench bx-sm' pTooltip="VER MANTENIMIENTOS"
                                    tooltipPosition="top"></i></button>

                            <button class="btn btn-primary me-3" (click)="abrirModalEditarActivoFijo(activo)"><i
                                    class='bx bx-edit bx-sm' pTooltip="EDITAR" tooltipPosition="top"></i></button>

                            <button class="btn btn-danger" (click)="confirmaEliminacion(activo.id)"><i
                                    class='bx bx-trash bx-sm' pTooltip="ELIMINAR" tooltipPosition="top"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>







<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
    [showTransformOptions]="'translateX(100%)'"></p-toast>
<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>

<app-modal-fixed-assets-create *ngIf="mostrarModalActivoFijo" [mostrarModalCrearActivoFijo]="mostrarModalActivoFijo"
    (closeEvent)="cerrarModalActivoFijo()" [activoFijo]="activoFijoSeleccionada"
    [esNuevoActivoFijo]="esNuevoActivoFijo"></app-modal-fixed-assets-create>

<app-modal-fixed-asset-tickets *ngIf="mostrarModalTickets" [mostrarModalDetalleActivoFijo]="mostrarModalTickets"
    [activoFijo]="activoFijoSeleccionada" (closeEvent)="mostrarModalTickets = false"></app-modal-fixed-asset-tickets>

<app-modal-fixed-asset-maintenance *ngIf="mostrarModalMantenimientos" [mostrarModal]="mostrarModalMantenimientos"
    [activoFijo]="activoFijoSeleccionada"
    (closeEvent)="mostrarModalMantenimientos = false"></app-modal-fixed-asset-maintenance>