.row-highlight {
  background-color: #fecbcb !important;
}

.row-rojo {
  background-color: red !important;
  color: white;
}

.row-morado {
  background-color: rgb(139, 0, 189) !important;
  color: white;
}

.row-verde {
  background-color: rgb(44, 189, 0) !important;
  color: white;
}

.row-amarillo {
  background-color: rgb(213, 213, 26) !important;
}