<p-dialog header="DETALLES TICKET" [modal]="true" [(visible)]="showModalTicketDetail" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" (onHide)="onHide()">

    <div *ngIf="ticket" class="modal-ticket-content">

        <!-- Descripción -->
        <section class="ticket-section">
            <h4>DESCRIPCIÓN</h4>
            <ng-container *ngIf="ticket.descripcion; else noDescripcion">
                <p [innerHTML]="ticket.descripcion"></p>
            </ng-container>
            <ng-template #noDescripcion>
                <p>No hay descripción</p>
            </ng-template>
        </section>

        <!-- Imágenes de evidencia -->
        <section class="ticket-section" *ngIf="ticket.imagenesEvidencia?.length">
            <h4>EVIDENCIA</h4>
            <div class="evidencias-container">
                <ng-container *ngFor="let url of ticket.imagenesEvidencia">
                    <img [src]="url" alt="Evidencia" class="imagen-evidencia" />
                </ng-container>
            </div>
        </section>

        <!-- Comentarios Finales -->
        <section class="ticket-section" *ngIf="ticket.idEstatusTicket == '3'">
            <h4>COMENTARIOS FINALES</h4>
            <p [innerHTML]="ticket.comentariosFinales"></p>
        </section>

        <!-- Botón TRABAJAR -->
        <div class="d-flex justify-content-end mt-3"
            *ngIf="usuario?.idRol == '4' && !['2', '3', '5', '7'].includes(ticket?.idEstatusTicket!)"
            (click)="onClick()">
            <button class="btn bg-p-b p-3">TRABAJAR</button>
        </div>

        <!-- Botón ASIGNAR A ESPECIALISTA -->
        <div class="d-flex mt-3"
            *ngIf="usuario?.idArea == '4' && usuario?.idRol == '5' && ticket?.idEstatusTicket == '2' && !ticket?.esAsignadoEspecialista"
            (click)="onClickAsignarEspecialista()">
            <button class="btn btn-danger p-3">ASIGNAR A ESPECIALISTA</button>
        </div>
    </div>
</p-dialog>

<app-modal-select-specialist-user *ngIf="mostrarModalEspecialistas" [mostrarModal]="mostrarModalEspecialistas"
    [idSucursal]="idSucursalEspecialista" [ticket]="ticket!"
    (closeEvent)="mostrarModalEspecialistas = false"></app-modal-select-specialist-user>