<p-dialog header="CREAR ETIQUETA" [modal]="true" [(visible)]="mostrarModal" [style]="{ width: '60vw'}"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" (onHide)="onHide()">

  <!-- FORMULARIO REAL -->
  <form #f="ngForm" (ngSubmit)="enviar(f)">
    <div class="row align-items-center">

      <!-- INPUT NOMBRE -->
      <div class="col-md-6">
        <p class="fw-bold mb-1">NOMBRE DE LA ETIQUETA</p>

        <input class="form-control" style="height: 48px;" type="text" placeholder="ESCRIBE EL NOMBRE"
          [(ngModel)]="nuevaEtiqueta.nombre" name="nombre" required minlength="3" maxlength="40" #nombreCtrl="ngModel"
          [ngClass]="{'p-invalid': nombreCtrl.invalid && nombreCtrl.touched}" />

        <small *ngIf="nombreCtrl.errors?.['required'] && nombreCtrl.touched" class="p-error">
          Campo requerido.
        </small>
        <small *ngIf="nombreCtrl.errors?.['minlength'] && nombreCtrl.touched" class="p-error">
          Mínimo 3 caracteres.
        </small>
      </div>

      <!-- DROPDOWN ÁREAS -->
      <div class="col-md-6">
        <p class="fw-bold mb-1">ÁREA</p>

        <p-dropdown [options]="areas" optionLabel="nombre" optionValue="id" placeholder="SELECCIONA UN ÁREA"
          [(ngModel)]="nuevaEtiqueta.idArea" name="idArea" required #areaCtrl="ngModel"
          (onChange)="onAreaChange($event.value)" [style]="{ width: '100%', height: '48px' }"
          [ngClass]="{ 'p-invalid': areaCtrl.invalid && areaCtrl.touched }">
        </p-dropdown>

        <small *ngIf="areaCtrl.errors?.['required'] && areaCtrl.touched" class="p-error">
          Selecciona un área.
        </small>
      </div>


      <!-- COLOR PICKER -->
      <div class="col-auto">
        <p class="fw-bold mb-1">COLOR</p>

        <input type="color" class="form-control form-control-color" [(ngModel)]="nuevaEtiqueta.color" name="color"
          required #colorCtrl="ngModel">

        <small *ngIf="colorCtrl.errors?.['required'] && colorCtrl.touched" class="p-error">
          Selecciona un color.
        </small>
      </div>


      <!-- BOTON AGREGAR -->
      <div class="col-auto mt-4 pt-2">

        <button pButton type="submit" label="Agregar" [disabled]="f.invalid || cargando">
        </button>

      </div>

    </div>
  </form>

  <!-- TABLA -->
  <div class="mt-4" style="min-height: 300px;">
    <p-table [value]="etiquetas" [tableStyle]="{ 'min-width': '50rem', 'min-height': '20rem' }">

      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Color</th>
          <th>Eliminar</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-et>
        <tr>
          <!-- NOMBRE -->
          <td>{{ et.nombre }}</td>

          <!-- COLOR PICKER -->
          <td>
            <input type="color" [(ngModel)]="et.color" (change)="actualizarColor(et)"
              class="form-control form-control-color">
          </td>

          <!-- BOTON ELIMINAR -->
          <td>
            <p-button icon="pi pi-trash" severity="danger" (onClick)="eliminarEtiqueta(et)">
            </p-button>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</p-dialog>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>
