<p-accordion class="w-full">
    <p-accordionTab *ngFor="let item of ordenarSucursalesUser(sucursales)">
        <ng-template pTemplate="header">
            <span class="ms-3 d-flex gap-3 p-3 rounded-3 w-100 align-items-center" [style]="{
            'background-color': obtenerColorDeFondoSucursal(obtenerPorcentajedeUltimoMantenimiento(item.id))
          }">
                <p-badge [value]="obtenerPorcentajedeUltimoMantenimiento(item.id)+'%'" class="ml-auto mr-2"
                    [size]="'large'" [style]="{ 'background-color': 'white', color: 'black' }" />
                <span class="fw-bold"
                    [style]="{ color: obtenerColorDeTexto(obtenerPorcentajedeUltimoMantenimiento(item.id)) }">
                    {{ item.nombre }}
                </span>
            </span>
        </ng-template>

        <app-branch-maintenance-table-av [mantenimientos]="filtrarMantenimientoPorSucursal(item.id)"
            [usuariosHelp]="usuariosHelp"></app-branch-maintenance-table-av>

    </p-accordionTab>
</p-accordion>