//boton
.btn-upload {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-upload:hover {
    background-color: #0056b3;
}

.mt-3 {
    margin-top: 1rem;
}

//imagenes
.contenedor-thumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.thumb {
    width: 120px;
    text-align: center;
}

.thumb-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
}