.contenedor-imagen {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-imagen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.botones-navegacion {
    text-align: center;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.miniaturas {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.miniatura {
    border: 2px solid transparent;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease;
}

.miniatura img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}

.miniatura.seleccionada {
    border-color: #007bff;
}