.tablero-tareas {
  display: flex;
  gap: 20px;
  border-radius: 8px;
}

.contenedor {
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
  // background-color: #fef9cb;
  width: 100%;
}

.contador-columnas {
  display: flex;
  gap: 20px;
}

.columna {
  flex: 1;
  min-height: 300px;
  padding: 10px;
  // padding-left: 5px;
  // padding-right: 5px;
  border-radius: 8px;
}

// .scroll {
//   max-height: 600px;
//   overflow-y: auto;
// }

.columna.cdk-drop-list-dragging app-task-card {
  opacity: 0.5;
}

.cdk-drag-preview {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.titulo-columna {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.contador {
  background: rgba(0, 0, 0, 0.15);
  padding: 2px 10px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 600;
}

.titulo-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 10px;
  padding-left: 10px;
  flex-basis: 100%;
}
