<div class="pt-5">
    <div class="mt-5"></div>

    <h3 class="m-3 text-center">TICKETS</h3>

    <div class="d-flex justify-content-start gap-3 p-3 pb-0">
        <button class="btn bg-p-b p-2" (click)="openadd()"><i class='bx bx-plus bx-sm'></i></button>
        <button class="btn bg-p-b p-2" style="background-color: #FF5722;" (click)="showModalFiltros()"><i class='bx bx-filter bx-sm'></i></button>
        <button class="btn bg-p-b p-2" style="background-color: #29d998;" (click)="showHistorial()"><i class='bx bx-history bx-flip-horizontal bx-sm' ></i></button>
        <!-- <button (onClick)="opg.toggle($event)" class="btn bg-p-b p-2" style="background-color: #8922ff;" ><i class='bx bx-group bx-sm'></i></button> -->
        <p-button (onClick)="opg.toggle($event)" icon="pi pi-users" label="AGRUPAR" styleClass="rounded-3"/>
    </div>


    <p-overlayPanel #opg>

        <button class="btn p-2 btn-light" (click)="showalltk()">
           <i class='bx bxs-grid-alt' ></i>&nbsp;VER TODO
          </button>

          <button class="btn p-2 btn-light" (click)="agruparSucs()">
            <i class='bx bx-buildings' ></i>&nbsp;SUCURSALES
           </button>

        <div class="d-flex flex-column justify-content-center p-3 gap-2">
          <button *ngFor="let item of catusuarioshelp" class="btn p-2 btn-light" (click)="agrupar(item)">
            <i class='bx bxs-user' ></i>&nbsp;{{(item.nombre + ' ' + item.apellidoP) | uppercase}}
          </button>
        </div>
    </p-overlayPanel>

    <div *ngIf="showagrupacion && usergroup == undefined" class="mt-4">
        <p-accordion class="w-full">
            <p-accordionTab *ngFor="let item of ordenarSucursales()">
                <ng-template pTemplate="header">
                    <span class="ms-3 d-flex gap-3 p-3 rounded-3 w-100"  [style]="{'background-color':getBGSuc(getTicketsSuc(item.id).length)}">
                        <p-badge [value]="getTicketsSuc(item.id).length" class="ml-auto mr-2" [size]="'large'" [style]="{'background-color':'white','color':'black'}"/>
                        <span class="fw-bold" [style]="{'color':getColortxt(getTicketsSuc(item.id).length)}">
                            {{item.nombre}}:&nbsp;{{getResponsablesUC(item.id)}}
                        </span>
                    </span>
                </ng-template>
    
                <p-table [value]="getTicketsSuc(item.id)" [tableStyle]="{'min-width': '10rem', 'padding':'10px'}"
                styleClass="p-datatable-gridlines table-tk"
                [scrollable]="true" scrollHeight="62vh"
                selectionMode="single"
                [(selection)]="selectedtk"
                >
                <ng-template pTemplate="header">
                    <tr class="text-center">
                        <th>PRIORIDAD</th>
                        <th>FECHA</th>
                        <th>SUCURSAL</th>
                        <th>AREA</th>
                        <th>CATEGORÍA</th>
                        <th>STATUS</th>
                        <th>SOLICITANTE</th>
                        <th>RESPONSABLE</th>
                        <th>ASISTENCIA</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tk>
                    <tr [pSelectableRow]="tk">
                        <td>
                           
                            <p-dropdown
                            [options]="[{name:'PÁNICO'},{name:'ALTA'},{name:'MEDIA'},{name:'BAJA'}]"
                            [(ngModel)]="tk.prioridadsuc"
                            optionLabel="name"
                            [showClear]="false"
                            optionValue="name"
                            (onChange)="updatetk(tk)"
                            [style]="{'border':'none'}"
                            >
                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                    <div class="flex align-items-center gap-2">
                                        <div>
                                            <td *ngIf="selectedOption.name == 'PÁNICO'"><i class='bx bxs-hot bx-sm rounded-3' style="color: red;"></i></td>
                                            <div *ngIf="selectedOption.name != 'PÁNICO'" style="border-radius: 50%;" class="p-1" [style]="{'background-color':getBgPrioridad(selectedOption.name),'width':'20px','height':'20px'}"></div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div class="d-flex justify-content-start align-items-center gap-3">
                                            <td *ngIf="item.name == 'PÁNICO'"><i class='bx bxs-hot bx-sm rounded-3' style="color: red;"></i></td>
                                            <div *ngIf="item.name != 'PÁNICO'" style="border-radius: 50%;" class="p-1" [style]="{'background-color':getBgPrioridad(item.name),'width':'25px','height':'25px'}"></div>
                                            <div>{{ item.name }}</div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
        
                        </td>
                        <td  class="text-center" >{{getdate(tk.fecha) | date}}</td>
                        <td  class="text-center" >{{getNameSuc(tk.idsucordpto)}}</td>
                        <td  class="text-center" >
                                 <p-dropdown
                                [options]="catproveedores"
                                [(ngModel)]="tk.idproveedor"
                                optionLabel="nombre"
                                [showClear]="false"
                                optionValue="id"
                                (onChange)="updatetk(tk)"
                                [style]="{'border':'none'}"
                                >
                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ selectedOption.nombre }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-dep pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ dep.nombre }}</div>
                                    </div>
                                </ng-template>
                                </p-dropdown>
                        </td>
                        <td  class="text-center" >
        
                                                    <p-dropdown
                                [options]="catcategorias"
                                [(ngModel)]="tk.idcategoria"
                                optionLabel="name"
                                [showClear]="false"
                                optionValue="id"
                                [style]="{width:'100%'}"
                                >
                                    <ng-template pTemplate="selectedItem" let-selectedOption>
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ selectedOption.nombre }}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-categoria pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ categoria.nombre }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
        
                        </td>
                        <td class="text-center">
        
                            <p-dropdown
                            [options]="
                            [{id:'1',icon:'bx bx-dots-horizontal-rounded',animation:'bx-tada',color:'#ff0028'},
                            {id:'2',icon:'bx-loader',animation:'bx-rotate-180 bx-spin bx-sm',color:'#ff7b00'},
                            {id:'3',icon:'bx bx-check',animation:'bx-tada',color:'#008500'},
                            {id:'4',icon:'bx bx-pause',animation:'bx-tada',color:'#a300ff'},
                            {id:'5',icon:'bx bxs-cart',animation:'bx-tada',color:'#ff7b00'},
                            {id:'6',icon:'bx bxs-cart',animation:'bx-tada',color:'#008500'}
                            ]"
                            [(ngModel)]="tk.status"
                            optionLabel="nombre"
                            [showClear]="false"
                            optionValue="id"
                            (onChange)="updatetk(tk)"
                            [style]="{'border':'none'}"
                            >
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="flex align-items-center gap-2">
                                    <i class='bx {{selectedOption.icon}} {{selectedOption.animation}} bx-sm' [style]="{'color':selectedOption.color}"></i>
                                </div>
                            </ng-template>
                            <ng-template let-st pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <i class='bx {{st.icon}} {{st.animation}} bx-sm' [style]="{'color':st.color}"></i>
                                </div>
                            </ng-template>
                            </p-dropdown>
        
                        </td>
                        <td class="text-center">{{tk.solicitante | uppercase}}</td>
                        <td class="text-center">{{getNameResponsable(tk.responsable)}}</td>
                        <td class="text-center">
                            <p-dropdown
                            [options]="[{name:'FÍSICA'},{name:'REMOTA'}]"
                            [(ngModel)]="tk.tiposoporte"
                            optionLabel="name"
                            [showClear]="false"
                            optionValue="name"
                            (onChange)="updatetk(tk)"
                            [style]="{'border':'none'}"
                            >
                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                    <div class="flex align-items-center gap-2">
                                        <div>
                                            {{selectedOption.name}}
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div class="d-flex justify-content-start align-items-center gap-3">
                                            <div>{{ item.name }}</div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
        
                        </td>
                        <td><button class="btn bg-p-b p-1" (click)="showticketA(tk)"><i class='bx bx-show bx-sm'></i></button></td>
                    </tr>
                </ng-template>
                </p-table>
    
            </p-accordionTab>
    </p-accordion>
    
    </div>

<div *ngIf="showagrupacion && usergroup != undefined" class="mt-4">
    <H4 class="text-center text-primary fw-bold">{{usergroup.nombre + ' '+ usergroup.apellidoP}}</H4>
    <p-accordion class="w-full">
        <p-accordionTab *ngFor="let item of ordenarSucursalesUser(usergroup.sucursales)">
            <ng-template pTemplate="header">
                <span class="ms-3 d-flex gap-3 p-3 rounded-3 w-100"  [style]="{'background-color':getBGSuc(getTicketsSuc(item.id).length)}">
                    <p-badge [value]="getTicketsSuc(item.id).length" class="ml-auto mr-2" [size]="'large'" [style]="{'background-color':'white','color':'black'}"/>
                    <span class="fw-bold" [style]="{'color':getColortxt(getTicketsSuc(item.id).length)}">
                        {{item.nombre}}
                    </span>
                </span>
            </ng-template>

            <p-table [value]="getTicketsSuc(item.id)" [tableStyle]="{'min-width': '10rem', 'padding':'10px'}"
            styleClass="p-datatable-gridlines table-tk"
            [scrollable]="true" scrollHeight="62vh"
            selectionMode="single"
            [(selection)]="selectedtk"
            >
            <ng-template pTemplate="header">
                <tr class="text-center">
                    <th>PRIORIDAD</th>
                    <th>FECHA</th>
                    <th>SUCURSAL</th>
                    <th>AREA</th>
                    <th>CATEGORÍA</th>
                    <th>STATUS</th>
                    <th>SOLICITANTE</th>
                    <th>RESPONSABLE</th>
                    <th>ASISTENCIA</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tk>
                <tr [pSelectableRow]="tk">
                    <td>
                       
                        <p-dropdown
                        [options]="[{name:'PÁNICO'},{name:'ALTA'},{name:'MEDIA'},{name:'BAJA'}]"
                        [(ngModel)]="tk.prioridadsuc"
                        optionLabel="name"
                        [showClear]="false"
                        optionValue="name"
                        (onChange)="updatetk(tk)"
                        [style]="{'border':'none'}"
                        >
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="flex align-items-center gap-2">
                                    <div>
                                        <td *ngIf="selectedOption.name == 'PÁNICO'"><i class='bx bxs-hot bx-sm rounded-3' style="color: red;"></i></td>
                                        <div *ngIf="selectedOption.name != 'PÁNICO'" style="border-radius: 50%;" class="p-1" [style]="{'background-color':getBgPrioridad(selectedOption.name),'width':'20px','height':'20px'}"></div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div class="d-flex justify-content-start align-items-center gap-3">
                                        <td *ngIf="item.name == 'PÁNICO'"><i class='bx bxs-hot bx-sm rounded-3' style="color: red;"></i></td>
                                        <div *ngIf="item.name != 'PÁNICO'" style="border-radius: 50%;" class="p-1" [style]="{'background-color':getBgPrioridad(item.name),'width':'25px','height':'25px'}"></div>
                                        <div>{{ item.name }}</div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
    
                    </td>
                    <td  class="text-center" >{{getdate(tk.fecha) | date}}</td>
                    <td  class="text-center" >{{getNameSuc(tk.idsucordpto)}}</td>
                    <td  class="text-center" >
                             <p-dropdown
                            [options]="catproveedores"
                            [(ngModel)]="tk.idproveedor"
                            optionLabel="nombre"
                            [showClear]="false"
                            optionValue="id"
                            (onChange)="updatetk(tk)"
                            [style]="{'border':'none'}"
                            >
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="flex align-items-center gap-2">
                                    <div>{{ selectedOption.nombre }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-dep pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ dep.nombre }}</div>
                                </div>
                            </ng-template>
                            </p-dropdown>
                    </td>
                    <td  class="text-center" >
    
                                                <p-dropdown
                            [options]="catcategorias"
                            [(ngModel)]="tk.idcategoria"
                            optionLabel="name"
                            [showClear]="false"
                            optionValue="id"
                            [style]="{width:'100%'}"
                            >
                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ selectedOption.nombre }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-categoria pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ categoria.nombre }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
    
                    </td>
                    <td class="text-center">
    
                        <p-dropdown
                        [options]="
                        [{id:'1',icon:'bx bx-dots-horizontal-rounded',animation:'bx-tada',color:'#ff0028'},
                        {id:'2',icon:'bx-loader',animation:'bx-rotate-180 bx-spin bx-sm',color:'#ff7b00'},
                        {id:'3',icon:'bx bx-check',animation:'bx-tada',color:'#008500'},
                        {id:'4',icon:'bx bx-pause',animation:'bx-tada',color:'#a300ff'},
                        {id:'5',icon:'bx bxs-cart',animation:'bx-tada',color:'#ff7b00'},
                        {id:'6',icon:'bx bxs-cart',animation:'bx-tada',color:'#008500'}
                        ]"
                        [(ngModel)]="tk.status"
                        optionLabel="nombre"
                        [showClear]="false"
                        optionValue="id"
                        (onChange)="updatetk(tk)"
                        [style]="{'border':'none'}"
                        >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <i class='bx {{selectedOption.icon}} {{selectedOption.animation}} bx-sm' [style]="{'color':selectedOption.color}"></i>
                            </div>
                        </ng-template>
                        <ng-template let-st pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <i class='bx {{st.icon}} {{st.animation}} bx-sm' [style]="{'color':st.color}"></i>
                            </div>
                        </ng-template>
                        </p-dropdown>
    
                    </td>
                    <td class="text-center">{{tk.solicitante | uppercase}}</td>
                    <td class="text-center">{{getNameResponsable(tk.responsable)}}</td>
                    <td class="text-center">
                        <p-dropdown
                        [options]="[{name:'FÍSICA'},{name:'REMOTA'}]"
                        [(ngModel)]="tk.tiposoporte"
                        optionLabel="name"
                        [showClear]="false"
                        optionValue="name"
                        (onChange)="updatetk(tk)"
                        [style]="{'border':'none'}"
                        >
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="flex align-items-center gap-2">
                                    <div>
                                        {{selectedOption.name}}
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div class="d-flex justify-content-start align-items-center gap-3">
                                        <div>{{ item.name }}</div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
    
                    </td>
                    <td><button class="btn bg-p-b p-1" (click)="showticketA(tk)"><i class='bx bx-show bx-sm'></i></button></td>
                </tr>
            </ng-template>
            </p-table>

        </p-accordionTab>
</p-accordion>

</div>

<div class="d-flex flex-column align-items-center gap-3 bg-white m-4 justify-content-center p-5 shadow-sm rounded-3" *ngIf="arr_tickets.length == 0 && showagrupacion == false">
    <i class='bx bx-file-blank bx-md' style="color: rgb(107, 107, 107);" ></i> <p>SIN TICKETS PENDIENTES</p>
</div>


<div *ngIf="arr_tickets.length > 0" class=" p-1 mt-3">


<div class="m-0 pb-4" style="background-color: transparent;" *ngIf="showagrupacion == false">
    <p-table [value]="arr_tickets" [tableStyle]="{'min-width': '10rem', 'padding':'10px','min-height':'500px'}"
    styleClass="p-datatable-gridlines table-tk"
    [scrollable]="true" scrollHeight="65vh"
    selectionMode="single"
    [(selection)]="selectedtk"
    >
        <ng-template pTemplate="header">
            <tr class="text-center">
                <th>PRIORIDAD</th>
                <th>FECHA</th>
                <th>SUCURSAL</th>
                <th>AREA</th>
                <th>CATEGORÍA</th>
                <th>STATUS</th>
                <th>SOLICITANTE</th>
                <th>RESPONSABLE</th>
                <th>ASISTENCIA</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tk>
            <tr [pSelectableRow]="tk">
                <td>
                   
                    <p-dropdown
                    [options]="[{name:'PÁNICO'},{name:'ALTA'},{name:'MEDIA'},{name:'BAJA'}]"
                    [(ngModel)]="tk.prioridadsuc"
                    optionLabel="name"
                    [showClear]="false"
                    optionValue="name"
                    (onChange)="updatetk(tk)"
                    [style]="{'border':'none'}"
                    >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>
                                    <td *ngIf="selectedOption.name == 'PÁNICO'"><i class='bx bxs-hot bx-sm rounded-3' style="color: red;"></i></td>
                                    <div *ngIf="selectedOption.name != 'PÁNICO'" style="border-radius: 50%;" class="p-1" [style]="{'background-color':getBgPrioridad(selectedOption.name),'width':'20px','height':'20px'}"></div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div class="d-flex justify-content-start align-items-center gap-3">
                                    <td *ngIf="item.name == 'PÁNICO'"><i class='bx bxs-hot bx-sm rounded-3' style="color: red;"></i></td>
                                    <div *ngIf="item.name != 'PÁNICO'" style="border-radius: 50%;" class="p-1" [style]="{'background-color':getBgPrioridad(item.name),'width':'25px','height':'25px'}"></div>
                                    <div>{{ item.name }}</div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>

                </td>
                <td  class="text-center" >{{getdate(tk.fecha) | date}}</td>
                <td  class="text-center" >{{getNameSuc(tk.idsucordpto)}}</td>
                <td  class="text-center" >
                         <p-dropdown
                        [options]="catproveedores"
                        [(ngModel)]="tk.idproveedor"
                        optionLabel="nombre"
                        [showClear]="false"
                        optionValue="id"
                        (onChange)="updatetk(tk)"
                        [style]="{'border':'none'}"
                        >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.nombre }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-dep pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ dep.nombre }}</div>
                            </div>
                        </ng-template>
                        </p-dropdown>
                </td>
                <td  class="text-center" >

                                            <p-dropdown
                        [options]="catcategorias"
                        [(ngModel)]="tk.idcategoria"
                        optionLabel="name"
                        [showClear]="false"
                        optionValue="id"
                        [style]="{width:'100%'}"
                        >
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="flex align-items-center gap-2">
                                    <div>{{ selectedOption.nombre }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-categoria pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ categoria.nombre }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>

                </td>
                <td class="text-center">

                    <p-dropdown
                    [options]="
                    [{id:'1',icon:'bx bx-dots-horizontal-rounded',animation:'bx-tada',color:'#ff0028'},
                    {id:'2',icon:'bx-loader',animation:'bx-rotate-180 bx-spin bx-sm',color:'#ff7b00'},
                    {id:'3',icon:'bx bx-check',animation:'bx-tada',color:'#008500'},
                    {id:'4',icon:'bx bx-pause',animation:'bx-tada',color:'#a300ff'},
                    {id:'5',icon:'bx bxs-cart',animation:'bx-tada',color:'#ff7b00'},
                    {id:'6',icon:'bx bxs-cart',animation:'bx-tada',color:'#008500'}
                    ]"
                    [(ngModel)]="tk.status"
                    optionLabel="nombre"
                    [showClear]="false"
                    optionValue="id"
                    (onChange)="updatetk(tk)"
                    [style]="{'border':'none'}"
                    >
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <i class='bx {{selectedOption.icon}} {{selectedOption.animation}} bx-sm' [style]="{'color':selectedOption.color}"></i>
                        </div>
                    </ng-template>
                    <ng-template let-st pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <i class='bx {{st.icon}} {{st.animation}} bx-sm' [style]="{'color':st.color}"></i>
                        </div>
                    </ng-template>
                    </p-dropdown>

                </td>
                <td class="text-center">{{tk.solicitante | uppercase}}</td>
                <td class="text-center">{{getNameResponsable(tk.responsable)}}</td>
                <td class="text-center">
                    <p-dropdown
                    [options]="[{name:'FÍSICA'},{name:'REMOTA'}]"
                    [(ngModel)]="tk.tiposoporte"
                    optionLabel="name"
                    [showClear]="false"
                    optionValue="name"
                    (onChange)="updatetk(tk)"
                    [style]="{'border':'none'}"
                    >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>
                                    {{selectedOption.name}}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div class="d-flex justify-content-start align-items-center gap-3">
                                    <div>{{ item.name }}</div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>

                </td>
                <td><button class="btn bg-p-b p-1" (click)="showticketA(tk)"><i class='bx bx-show bx-sm'></i></button></td>
            </tr>
        </ng-template>
    </p-table>


</div>


</div>

</div>

<p-dialog
    header="GENERAR TICKET"
    [modal]="true"
    [(visible)]="modalagregart"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">

    <p-dropdown
    [options]="catsucursales"
    [(ngModel)]="formdepto"
    optionLabel="nombre"
    [filter]="true"
    filterBy="nombre"
    [showClear]="true"
    placeholder="SELECCIONAR SUCURSAL / DEPARTAMENTO"
    [style]="{width:'100%'}"
    [disabled]="userdata.idRol == '2'"
    >
        <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
                <div>{{ selectedOption.nombre }}</div>
            </div>
        </ng-template>
        <ng-template let-dep pTemplate="item">
            <div class="flex align-items-center gap-2">
                <div>{{ dep.nombre }}</div>
            </div>
        </ng-template>
</p-dropdown>
<p></p>
<p-dropdown
[options]="catproveedores"
[(ngModel)]="formprov"
optionLabel="nombre"
[filter]="true"
filterBy="nombre"
[showClear]="true"
placeholder="SELECCIONAR ÁREA"
[style]="{width:'100%'}"
(onChange)="changeprov()"
>
<ng-template pTemplate="selectedItem" let-selectedOption>
    <div class="flex align-items-center gap-2">
        <div>{{ selectedOption.nombre }}</div>
    </div>
</ng-template>
<ng-template let-dep pTemplate="item">
    <div class="flex align-items-center gap-2">
        <div>{{ dep.nombre }}</div>
    </div>
</ng-template>
</p-dropdown>
<p></p>
<p-dropdown
[options]="catcategorias"
[(ngModel)]="formcategoria"
optionLabel="name"
[filter]="true"
filterBy="nombre"
[showClear]="true"
placeholder="SELECCIONAR CATEGORIA"
[style]="{width:'100%'}"
>
    <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.nombre }}</div>
        </div>
    </ng-template>
    <ng-template let-categoria pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div>{{ categoria.nombre }}</div>
        </div>
    </ng-template>
</p-dropdown>
<P></P>
<input class="form-control" style="height: 48px;" type="text" placeholder="NOMBRE DEL SOLICITANTE" [(ngModel)]="formnomsolicitante">
<p></p>
<p-dropdown
[options]="[{name:'PÁNICO'},{name:'ALTA'},{name:'MEDIA'},{name:'BAJA'}]"
[(ngModel)]="formprioridad"
optionLabel="name"
[filter]="false"
filterBy="nombre"
[showClear]="true"
placeholder="SELECCIONAR PRIORIDAD"
[style]="{width:'100%'}"
>
    <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div class="d-flex justify-content-start align-items-center gap-3">
                <td *ngIf="item.name == 'PÁNICO'"><i class='bx bxs-hot bx-sm rounded-3' style="color: red;"></i></td>
                <div *ngIf="item.name != 'PÁNICO'" style="border-radius: 50%;" class="p-3" [style]="{'background-color':getBgPrioridad(item.name),'width':'30px','height':'30px'}"></div>
                <div>{{ item.name }}</div>
            </div>
        </div>
    </ng-template>
</p-dropdown>
<p></p>
<!-- <p-dropdown
[options]="[{name:'FRÍA'},{name:'MEDIA'},{name:'CALIENTE'},{name:'PÁNICO'}]"
[(ngModel)]="formstatussuc"
optionLabel="name"
[filter]="true"
filterBy="nombre"
[showClear]="true"
placeholder="ESTATUS TICKET"
[style]="{width:'100%'}"
>
    <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div>{{ item.name }}</div>
        </div>
    </ng-template>
</p-dropdown>
<p></p> -->
<P>FAVOR DE INGRESAR UNA DESCRIPCIÓN DEL PROBLEMA, SI ES NECESARIO PUEDE ADJUNTAR IMÁGENES</P>
<p-editor [(ngModel)]="formdescripcion" [style]="{ height: '320px' }" />

<div class="d-flex justify-content-end mt-3">
    <button class="btn bg-p-b p-3" (click)="enviartk()"><i class='bx bx-send'></i>ENVIAR</button>
</div>
</p-dialog>

<p-dialog
    header="DETALLES TICKET"
    [modal]="true"
    [(visible)]="modalticket"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">

    <div class="d-flex justify-content-end t-3 sticky-top">
        <div class="">
            <button class="btn bg-p-b p-2" (click)="showaddcomentario()"><i class='bx bx-message-square-add bx-sm'></i></button>
            </div>
        <!-- <button *ngIf="itemtk != undefined && itemtk!.statusSuc != 'PÁNICO'" class="btn btn-warning ms-3" (click)="panico(itemtk!.id)">
            <i class='bx bxs-hot bx-sm' style="color: red;"></i>
            &nbsp;PÁNICO
        </button> -->
    </div>
     <p></p>

     <div *ngIf="itemtk != undefined">
        <p-editor [(ngModel)]="itemtk.decripcion" [readonly]="true" [style]="{ height: '100%' }" />
    </div>

    <p></p>

        <div *ngIf="itemtk != undefined">
            <div class="d-flex w-100"
            *ngFor="let item of itemtk!.comentarios"
            [ngClass]="{'justify-content-start':esmiuid(item.uid) == false, 'justify-content-end':esmiuid(item.uid)}">

                <div class="p-1 rounded-3 mt-3" style="width: 80%; background-color: rgb(35, 153, 221);"
                *ngIf="esmiuid(item.uid) == false">
                <p class="p-1" style="color: white;">{{item.nombre}}</p>
                    <p-editor [(ngModel)]="item.comentario" [style]="{ height: 'auto'}"  [readonly]="true">
                        <ng-template pTemplate="header">
                        </ng-template>
                    </p-editor>
                   </div>

                   <div *ngIf="esmiuid(item.uid)" class="p-1 rounded-3 mt-3" style="width: 80%; background-color: rgb(163 180 201)">
                    <p class="p-1" style="color: rgb(0, 0, 0);">{{item.nombre}}</p>
                    <p-editor [(ngModel)]="item.comentario" [style]="{ height: 'auto'}"  [readonly]="true">
                        <ng-template pTemplate="header">
                        </ng-template>
                    </p-editor>
                   </div>
            </div>
        </div>


</p-dialog>

<p-dialog
    header="CHAT"
    [modal]="true"
    [(visible)]="modalcomentarios"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">

    <div class="d-flex justify-content-end sticky-top">
        <button class="btn bg-p-b p-2" (click)="showaddcomentario()"><i class='bx bx-message-square-add bx-sm'></i></button>
        </div>

        <div *ngIf="itemtk != undefined">
            <div class="d-flex w-100"
            *ngFor="let item of itemtk!.comentarios"
            [ngClass]="{'justify-content-start':esmiuid(item.uid) == false, 'justify-content-end':esmiuid(item.uid)}">

                <div class="p-1 rounded-3 mt-3" style="width: 80%; background-color: rgb(35, 153, 221);"
                *ngIf="esmiuid(item.uid) == false">
                <p class="p-1" style="color: white;">{{item.nombre}}</p>
                    <p-editor [(ngModel)]="item.comentario" [style]="{ height: 'auto'}"  [readonly]="true">
                        <ng-template pTemplate="header">
                        </ng-template>
                    </p-editor>
                   </div>

                   <div *ngIf="esmiuid(item.uid)" class="p-1 rounded-3 mt-3" style="width: 80%; background-color: rgb(163 180 201)">
                    <p class="p-1" style="color: rgb(0, 0, 0);">{{item.nombre}}</p>
                    <p-editor [(ngModel)]="item.comentario" [style]="{ height: 'auto'}"  [readonly]="true">
                        <ng-template pTemplate="header">
                        </ng-template>
                    </p-editor>
                   </div>
            </div>
        </div>


</p-dialog>

<p-dialog
    header="ENVIAR MENSAJE"
    [modal]="true"
    [(visible)]="modaladdcomentario"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">
<p></p>
<p></p>
<p-editor [(ngModel)]="formcomentario" [style]="{ height: '400px' }"/>
<div class="d-flex justify-content-end mt-3">
    <button class="btn bg-p-b p-3" (click)="addComentariotk()"><i class='bx bx-send'></i>ENVIAR</button>
</div>

</p-dialog>


<p-dialog
    header="FILTRAR TICKETS"
    [modal]="true"
    [(visible)]="modalfiltros"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">

    <p-dropdown
[options]="catproveedores"
[(ngModel)]="filterarea"
optionLabel="nombre"
[filter]="true"
filterBy="nombre"
[showClear]="true"
placeholder="SELECCIONAR ÁREA"
[style]="{width:'100%'}"
(onChange)="changeprovFilter()"
>
<ng-template pTemplate="selectedItem" let-selectedOption>
    <div class="flex align-items-center gap-2">
        <div>{{ selectedOption.nombre }}</div>
    </div>
</ng-template>
<ng-template let-dep pTemplate="item">
    <div class="flex align-items-center gap-2">
        <div>{{ dep.nombre }}</div>
    </div>
</ng-template>
</p-dropdown>
<p></p>
<p-dropdown
[options]="catcategorias"
[(ngModel)]="filtercategoria"
optionLabel="name"
[filter]="true"
filterBy="nombre"
[showClear]="true"
placeholder="SELECCIONAR CATEGORIA"
[style]="{width:'100%'}"
>
    <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.nombre }}</div>
        </div>
    </ng-template>
    <ng-template let-categoria pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div>{{ categoria.nombre }}</div>
        </div>
    </ng-template>
</p-dropdown>
<P></P>
<p-dropdown
[options]="[{name:'PÁNICO'},{name:'ALTA'},{name:'MEDIA'},{name:'BAJA'}]"
[(ngModel)]="filterPrioridad"
optionLabel="name"
[filter]="false"
filterBy="nombre"
[showClear]="true"
placeholder="SELECCIONAR PRIORIDAD"
[style]="{width:'100%'}"
>
    <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div class="d-flex justify-content-start align-items-center gap-3">
                <td *ngIf="item.name == 'PÁNICO'"><i class='bx bxs-hot bx-sm rounded-3' style="color: red;"></i></td>
                <div *ngIf="item.name != 'PÁNICO'" style="border-radius: 50%;" class="p-3" [style]="{'background-color':getBgPrioridad(item.name),'width':'30px','height':'30px'}"></div>
                <div>{{ item.name }}</div>
            </div>
        </div>
    </ng-template>
</p-dropdown>
<p></p>
<p-dropdown
[options]="catStatusT"
[(ngModel)]="filterstatus"
optionLabel="nombre"
[filter]="false"
filterBy="nombre"
[showClear]="true"
placeholder="SELECCIONAR STATUS"
[style]="{width:'100%'}"
(onChange)="changeprov()"
>
<ng-template pTemplate="selectedItem" let-selectedOption>
    <div class="flex align-items-center gap-2">
        <div>{{ selectedOption.nombre }}</div>
    </div>
</ng-template>
<ng-template let-dep pTemplate="item">
    <div class="flex align-items-center gap-2">
        <div>{{ dep.nombre }}</div>
    </div>
</ng-template>
</p-dropdown>
<p></p>

<div style="height: 150px;"></div>
    <div class="d-flex justify-content-between">
        <button class="btn btn-secondary p-3" (click)="limpiarfiltro()">LIMPIAR <i class='bx bx-brush-alt bx-sm'></i></button>
        <button class="btn bg-p-b p-3" style="background-color: #FF5722;" (click)="filtrarT()">FILTRAR <i class='bx bx-filter bx-sm' ></i></button>
    </div>

</p-dialog>

<p-dialog
#dialogHtk
    header="HISTORIAL DE TICKETS"
    [modal]="true"
    [(visible)]="modalhistorial"
    [style]="{ width: '100vw', height: '100vh' }"
    [maximizable]="true">

<app-historial-tk *ngIf="modalhistorial"></app-historial-tk>
</p-dialog>


<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>