<p-dialog [header]="'COMPRAS'" [(visible)]="mostrarModal" [modal]="true" [style]="{ 'width': '75vw', 'height': '95vh' }"
    [maximizable]="true" (onHide)="onHide()" styleClass="dialog-rojo">

    <form #form="ngForm" (ngSubmit)="crear(form)">
        <h5 class="text-dark fw-bold text-center">SOLICITAR COMPRA</h5>
        <p></p>


        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">ARTÍCULO</p>
                <input class="form-control" style="height: 48px;" type="text"
                    placeholder="INGRESA EL NOMBRE DEL ARTÍCULO" [(ngModel)]="compra.articulo" name="articulo"
                    [ngClass]="{'p-invalid': formArticuloCtrl.invalid && formArticuloCtrl.touched}"
                    #formArticuloCtrl="ngModel" required>
                <small *ngIf="formArticuloCtrl.invalid && formArticuloCtrl.touched" class="p-error">
                    Campo requerido.
                </small>
                <p></p>
            </div>
            <div class="col-md-4">
                <p class="fw-bold">JUSTIFICACIÓN</p>
                <input class="form-control" style="height: 48px;" type="text" placeholder="INGRESA LA JUSTIFICACIÓNS"
                    [(ngModel)]="compra.justificacion" name="justificacion"
                    [ngClass]="{'p-invalid': formJustificacionCtrl.invalid && formJustificacionCtrl.touched}"
                    #formJustificacionCtrl="ngModel" required>
                <small *ngIf="formJustificacionCtrl.invalid && formJustificacionCtrl.touched" class="p-error">
                    Campo requerido.
                </small>
                <p></p>
            </div>
            <div class="col-md-4">
                <p class="fw-bold">UNIDADES</p>
                <input class="form-control" style="height: 48px;" type="number"
                    placeholder="INGRESA LAS UNIDADES REQUERIDAS" [(ngModel)]="compra.unidades" name="unidades"
                    [ngClass]="{'p-invalid': formUnidadesCtrl.invalid && formUnidadesCtrl.touched}"
                    #formUnidadesCtrl="ngModel" required>
                <small *ngIf="formUnidadesCtrl.invalid && formUnidadesCtrl.touched" class="p-error">
                    Campo requerido.
                </small>
                <p></p>
            </div>
            <div class="col-md-4">
                <p class="fw-bold">SUCURSAL</p>
                <p-dropdown [options]="sucursales" [(ngModel)]="compra.idSucursal" [optionValue]="'id'" name="sucursal"
                    optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
                    placeholder="SELECCIONAR SUCURSAL" [style]="{width:'100%'}" #formSucursalCtrl="ngModel"
                    [ngClass]="{'p-invalid': formSucursalCtrl.invalid && formSucursalCtrl.touched}" required>
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption.nombre }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-dep pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ dep.nombre }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small *ngIf="formSucursalCtrl.invalid && formSucursalCtrl.touched" class="p-error">Campo
                    requerido.</small>
            </div>
            <div class="col-md-4">
                <p class="fw-bold">ÁREA</p>
                <p-dropdown [options]="areas" [(ngModel)]="compra.idArea" [optionValue]="'id'" name="area"
                    optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
                    placeholder="SELECCIONAR ÁREA" [style]="{width:'100%'}" #formAreaCtrl="ngModel"
                    [ngClass]="{'p-invalid': formAreaCtrl.invalid && formAreaCtrl.touched}" required>
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption.nombre }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-dep pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ dep.nombre }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small *ngIf="formAreaCtrl.invalid && formAreaCtrl.touched" class="p-error">Campo requerido.</small>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button class="btn bg-p-b p-3"><i class='bx bx-send'></i>ENVIAR</button>
        </div>

    </form>



    <h5 class="text-dark fw-bold text-center">MIS COMPRAS</h5>
    <p></p>

    <p-table [value]="compras" [tableStyle]="{ 'min-width': '10rem', padding: '10px' }"
        styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="62vh">
        <ng-template pTemplate="header">
            <tr>
                <th>FECHA</th>
                <th>ARTICULO</th>
                <th>UNIDADES</th>
                <th>SUCURSAL</th>
                <th>AREA</th>
                <th>JUSTIFICACIÓN</th>
                <th>ESTATUS</th>
                <th *ngIf="usuario?.idRol == '4'">ACCIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compra let-i="rowIndex">
            <tr [pSelectableRow]="compra">
                <td>{{ datesHelper.getDate(compra.fecha) | date: 'dd/MM/yyyy hh:mm a'}}</td>
                <td>{{ compra.articulo }}</td>
                <td>{{ compra.unidades }}</td>
                <td>{{ obtenerNombreSucursal(compra.idSucursal) }}</td>
                <td>{{ obtenerNombreAreas(compra.idArea) }}</td>
                <td>{{ compra.justificacion }}</td>
                <td>{{ obtenerNombreEstatus(compra.idEstatusCompra) }}</td>

                <td *ngIf="usuario?.idRol == '4'">
                    <button class="btn btn-danger" (click)="confirmaEliminacion(compra.id)"><i class='bx bx-trash bx-sm'
                            pTooltip="ELIMINAR" tooltipPosition="top"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>