<p-dialog [header]="'COMPRAS'" [(visible)]="mostrarModal" [modal]="true" [style]="{ 'width': '75vw', 'height': '95vh' }"
    [maximizable]="true" (onHide)="onHide()" styleClass="dialog-rojo">

    <form #form="ngForm" (ngSubmit)="crear(form)">
        <h5 class="text-dark fw-bold text-center">SOLICITAR COMPRA</h5>
        <p></p>


        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">ARTÍCULO</p>
                <input class="form-control" style="height: 48px;" type="text"
                    placeholder="INGRESA EL NOMBRE DEL ARTÍCULO" [(ngModel)]="compra.articulo" name="articulo"
                    [ngClass]="{'p-invalid': formArticuloCtrl.invalid && formArticuloCtrl.touched}"
                    #formArticuloCtrl="ngModel" required>
                <small *ngIf="formArticuloCtrl.invalid && formArticuloCtrl.touched" class="p-error">
                    Campo requerido.
                </small>
                <p></p>
            </div>
            <div class="col-md-4">
                <p class="fw-bold">JUSTIFICACIÓN</p>
                <input class="form-control" style="height: 48px;" type="number" placeholder="INGRESA LA JUSTIFICACIÓNS"
                    [(ngModel)]="compra.justificacion" name="justificacion"
                    [ngClass]="{'p-invalid': formJustificacionCtrl.invalid && formJustificacionCtrl.touched}"
                    #formJustificacionCtrl="ngModel" required>
                <small *ngIf="formJustificacionCtrl.invalid && formJustificacionCtrl.touched" class="p-error">
                    Campo requerido.
                </small>
                <p></p>
            </div>
            <div class="col-md-4">
                <p class="fw-bold">UNIDADES</p>
                <input class="form-control" style="height: 48px;" type="number"
                    placeholder="INGRESA LAS UNIDADES REQUERIDAS" [(ngModel)]="compra.unidades" name="unidades"
                    [ngClass]="{'p-invalid': formUnidadesCtrl.invalid && formUnidadesCtrl.touched}"
                    #formUnidadesCtrl="ngModel" required>
                <small *ngIf="formUnidadesCtrl.invalid && formUnidadesCtrl.touched" class="p-error">
                    Campo requerido.
                </small>
                <p></p>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button class="btn bg-p-b p-3"><i class='bx bx-send'></i>ENVIAR</button>
        </div>

    </form>



    <h5 class="text-dark fw-bold text-center">MIS COMPRAS</h5>
    <p></p>

    <p-table [value]="compras" [tableStyle]="{ 'min-width': '10rem', padding: '10px' }"
        styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="62vh">
        <ng-template pTemplate="header">
            <tr>
                <th>FECHA</th>
                <th>ARTICULO</th>
                <th>UNIDADES</th>
                <th>SUCURSAL</th>
                <th>AREA</th>
                <th>JUSTIFICACIÓN</th>
                <th>ESTATUS</th>
                <th *ngIf="usuario?.idRol == '5' || usuario?.idRol == '1'">ACCIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mantenimiento let-i="rowIndex">
            <tr [pSelectableRow]="mantenimiento">
                <td>{{ mantenimiento.costo }}</td>
                <td>{{ mantenimiento.folioTicket ? mantenimiento.folioTicket : 'N/A' }}</td>
                <td>{{ mantenimiento.detalle }}</td>
                <td *ngIf="usuario?.idRol == '5' || usuario?.idRol == '1'">
                    <button class="btn btn-danger" (click)="confirmaEliminacion(mantenimiento.id)"><i
                            class='bx bx-trash bx-sm' pTooltip="ELIMINAR" tooltipPosition="top"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>