
<div class="p-3 bg-white">
    <div class="d-flex justify-content-center p-3" *ngIf="loading">
     <i class="bx bx-loader bx-lg bx-spin" style="color: rgb(0, 153, 255)"></i>
</div>

   <div class="row justify-content-center ">
        <div>
           <div class="d-flex flex-column justify-items-center align-items-center h-100">
             <p>SUCURSALES&nbsp;</p>
           </div>
        </div>
        <div class="col-6">
             <p-multiSelect 
                [options]="sucursales" 
                [(ngModel)]="sucursalesSel" 
                [filter]="true" 
                optionLabel="nombre" 
                placeholder="SELECCIONAR SUCURSALES"
                [style]="{width:'100%'}"
                />
        </div>
        <div class="col-auto">
            <button class="btn btn-warning h-42" (click)="filtrar()"><i class='bx bx-search'></i>&nbsp;filtrar</button>
        </div>
   </div>
</div>

<p-tabView>
    <p-tabPanel header="ACEITE">
         <p-table [value]="entregas" [tableStyle]="{ 'min-width': '50rem' }"
         styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="62vh" >
            <ng-template pTemplate="header">
                <tr>
                  <th>SUCURSAL</th>
                  <th>FECHA</th>
                  <th>ENTREGA CEDIS</th>
                   <th>COMENTARIOS CEDIS</th>
                   <th>ESTATUS</th>
                  <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
                <tr>
                    <td>{{obtenerNombreSucursal(record.idSucursal)}}</td>
                     <td>{{ getDate(record.fecha) | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ record.entregaCedis || '' }}</td>
                  <td>{{ record.comentariosCedis || '' }}</td>
                  <td *ngIf="record.comentariosCedis == null"><i class='bx bx-time bx-sm text-primary'></i>&nbsp;POR VALIDAR</td>
                  <td *ngIf="record.comentariosCedis != null"><i class='bx bx-x-circle bx-sm text-danger' ></i>&nbsp;RECHAZADO</td>
                  <td><button class="btn btn-danger" (click)="confirmarEliminacion(record.id)"><i class='bx bx-trash bx-sm'></i>&nbsp;ELIMINAR</button></td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="TRAMPA DE GRASA">
        <p-table [value]="entregasTA" [tableStyle]="{ 'min-width': '50rem' }"
         styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="62vh" >
            <ng-template pTemplate="header">
                <tr>
                  <th>SUCURSAL</th>
                  <th>FECHA</th>
                   <th>COMENTARIOS CEDIS</th>
                   <th>ESTATUS</th>
                  <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
                <tr>
                    <td>{{obtenerNombreSucursal(record.idSucursal)}}</td>
                     <td>{{ getDate(record.fecha) | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ record.comentariosCedis || '' }}</td>
                  <td *ngIf="record.comentariosCedis == null"><i class='bx bx-time bx-sm text-primary'></i>&nbsp;POR VALIDAR</td>
                  <td *ngIf="record.comentariosCedis != null"><i class='bx bx-x-circle bx-sm text-danger' ></i>&nbsp;RECHAZADO</td>
                  <td><button class="btn btn-danger" (click)="confirmarEliminacionTA(record.id)"><i class='bx bx-trash bx-sm'></i>&nbsp;ELIMINAR</button></td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>