<p-dialog header="FILTRAR TICKETS" [modal]="true" [(visible)]="showModalFinalizeTicket" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" (onHide)="onHide()">
    <p-dropdown [options]="catproveedores" [(ngModel)]="filterarea" optionLabel="nombre" [filter]="true"
        filterBy="nombre" [showClear]="true" placeholder="SELECCIONAR ÁREA" [style]="{ width: '100%' }"
        (onChange)="changeprovFilter()">
        <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
                <div>{{ selectedOption.nombre }}</div>
            </div>
        </ng-template>
        <ng-template let-dep pTemplate="item">
            <div class="flex align-items-center gap-2">
                <div>{{ dep.nombre }}</div>
            </div>
        </ng-template>
    </p-dropdown>
    <p></p>
    <p-dropdown [options]="catcategorias" [(ngModel)]="filtercategoria" optionLabel="name" [filter]="true"
        filterBy="nombre" [showClear]="true" placeholder="SELECCIONAR CATEGORIA" [style]="{ width: '100%' }">
        <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
                <div>{{ selectedOption.nombre }}</div>
            </div>
        </ng-template>
        <ng-template let-categoria pTemplate="item">
            <div class="flex align-items-center gap-2">
                <div>{{ categoria.nombre }}</div>
            </div>
        </ng-template>
    </p-dropdown>
    <P></P>
    <p-dropdown [options]="[
      { name: 'PÁNICO' },
      { name: 'ALTA' },
      { name: 'MEDIA' },
      { name: 'BAJA' }
    ]" [(ngModel)]="filterPrioridad" optionLabel="name" [filter]="false" filterBy="nombre" [showClear]="true"
        placeholder="SELECCIONAR PRIORIDAD" [style]="{ width: '100%' }">
        <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
                <div>{{ selectedOption.name }}</div>
            </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
            <div class="flex align-items-center gap-2">
                <div class="d-flex justify-content-start align-items-center gap-3">
                    <td *ngIf="item.name == 'PÁNICO'">
                        <i class="bx bxs-hot bx-sm rounded-3" style="color: red"></i>
                    </td>
                    <div *ngIf="item.name != 'PÁNICO'" style="border-radius: 50%" class="p-3" [style]="{
              'background-color': getBgPrioridad(item.name),
              width: '30px',
              height: '30px'
            }"></div>
                    <div>{{ item.name }}</div>
                </div>
            </div>
        </ng-template>
    </p-dropdown>
    <p></p>
    <p-dropdown [options]="catStatusT" [(ngModel)]="filterstatus" optionLabel="nombre" [filter]="false"
        filterBy="nombre" [showClear]="true" placeholder="SELECCIONAR STATUS" [style]="{ width: '100%' }">
        <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
                <div>{{ selectedOption.nombre }}</div>
            </div>
        </ng-template>
        <ng-template let-dep pTemplate="item">
            <div class="flex align-items-center gap-2">
                <div>{{ dep.nombre }}</div>
            </div>
        </ng-template>
    </p-dropdown>
    <p></p>

    <div style="height: 150px"></div>
    <div class="d-flex justify-content-between">
        <button class="btn btn-secondary p-3" (click)="limpiarfiltro()">
            LIMPIAR <i class="bx bx-brush-alt bx-sm"></i>
        </button>
        <button class="btn bg-p-b p-3" style="background-color: #ff5722" (click)="filtrarT()">
            FILTRAR <i class="bx bx-filter bx-sm"></i>
        </button>
    </div>
</p-dialog>