<div class="p-3">
<h3 class="text-center mt-3 mb-3">CONTROL DE ACEITE</h3>

<div class="d-flex justify-content-center p-3" *ngIf="loading">
     <i class="bx bx-loader bx-lg bx-spin" style="color: rgb(0, 153, 255)"></i>
</div>

<button class="btn bg-p-b m-3 p-3" (click)="abrirModalagregarRecoleccion()">AGREGAR RECOLECCIÓN DE ACEITE QUEMADO</button>

<button class="btn bg-p-b m-3 p-3" (click)="abrirModalagregarRecoleccionTA()">AGREGAR RECOLECCIÓN RESIDUO TRAMPA DE GRASA</button>

<p-tabView>

  <p-tabPanel header="PENDIENTES">
       <app-registros-pendientes-page *ngIf="sucursales.length>0" [sucursales]="sucursales"></app-registros-pendientes-page>
  </p-tabPanel>

  <p-tabPanel header="POR VALIDAR">
  
     <button class="btn btn-success" [disabled]="entregas.length == 0" (click)="exportarExcel(false)"><img
            width="24" height="24" src="https://img.icons8.com/fluency/40/microsoft-excel-2019.png"
            alt="microsoft-excel-2019" />&nbsp;EXCEL</button>

     <div class="row justify-content-center mb-3">
        <div>
           <div class="d-flex flex-column justify-items-center align-items-center h-100">
             <p>SUCURSALES&nbsp;</p>
           </div>
        </div>
        <div class="col-6">
             <p-multiSelect
                [options]="sucursales"
                [(ngModel)]="sucursalesSel"
                [filter]="true"
                optionLabel="nombre"
                placeholder="SELECCIONAR SUCURSALES"
                [style]="{width:'100%'}"
                />
        </div>
        <div class="col-auto">
            <button class="btn btn-warning h-42" (click)="filtrar()"><i class='bx bx-search'></i>&nbsp;filtrar</button>
        </div>
   </div>

    <p-table [value]="entregas" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
          <th>SUCURSAL</th>
          <th>FECHA</th>
          <th>ENTREGA CEDIS</th>
          <th>ENTREGA SUCURSAL</th>
          <th>75%</th>
          <th>ESTATUS</th>
          <th>DIFERENCIA</th>
          <th>COMENTARIOS CEDIS</th>
          <th>COMENTARIOS SUCURSAL</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
         <tr class="bg-opacity-25" [ngClass]="{
        'bg-danger': record.intercambio == 1,
        'bg-success': record.intercambio == 2,
        'bg-warning': record.intercambio == 3
        }">
            <td>{{obtenerNombreSucursal(record.idSucursal)}}</td>
            <td>{{ getDate(record.fecha) | date: 'dd/MM/yyyy hh:mm a' }}</td>
          <td>{{ record.entregaCedis || '' }}</td>
          <td>{{ record.entregaSucursal || '' }}</td>
          <td>{{ record.porcentaje75*100 | number:'1.0-0' }}%</td>
                    <td *ngIf="record.intercambio == 1"><i class='bx bx-minus-circle bx-sm' style="color:red"></i></td>
                 <td *ngIf="record.intercambio == 2"><i class='bx bx-check-circle bx-sm' style="color:rgb(44, 189, 0)"></i></td>
                  <td *ngIf="record.intercambio == 3"><i class='bx bx-plus-circle bx-sm' style="color:rgb(255, 153, 0)"></i></td>
          <td>{{ record.diferencia || '' }}</td>
          <td>{{ record.comentariosCedis || '' }}</td>
          <td>{{ record.comentariosSucursal || '' }}</td>
        </tr>
    </ng-template>
</p-table>
  </p-tabPanel>

  <p-tabPanel header="HISTORIAL">
       <app-historial-aceite [sucursales]="sucursales"></app-historial-aceite>
  </p-tabPanel>

   <p-tabPanel header="CONFIGURACIÓN">
    <app-control-aceite-tab></app-control-aceite-tab>
   </p-tabPanel>
</p-tabView>

</div>


<p-dialog [header]="tipoActualizacion == 1? 'VALIDAR RECOLECCIÓN':'RECHAZAR RECOLECCIÓN'" [modal]="true" [(visible)]="mostrarModalValidacion" [style]="{ width: '70rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <div class="p-3" style="min-height: 400px;">

        <div class="col-12 mt-3">
          <p>COMENTARIOS</p>
          <textarea class="form-control p-3" [(ngModel)]="formcomentarios"></textarea>
        </div>
        <div class="col-12 mt-3">
          <button class="btn btn-success" (click)="actualizarEntrega()"><i class='bx bx-save'></i>&nbsp;GUARDAR</button>
        </div>
    </div>
</p-dialog>


<app-agregar-recoleccion *ngIf="modalAgregarRecoleccion" [visible]="modalAgregarRecoleccion"
(closeEvent)="modalAgregarRecoleccion = false" [sucursales]="sucursales" [trampaDeAceite]="trampadeAceite"></app-agregar-recoleccion>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>
