<div class="mt-4">
    <p class="fw-bold mb-3">SELECCIONA LA PRIORIDAD</p>

    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">

        <!-- GRUPO URGENCIA -->
        <div class="d-flex align-items-center gap-4">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="grupoUrgencia" [(ngModel)]="modelo.urgente"
                    value="URGENTE" required #urgenteCtrl="ngModel" (change)="emitirCambio()">
                <label class="form-check-label">URGENTE</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="grupoUrgencia" [(ngModel)]="modelo.urgente"
                    value="NO URGENTE" required #urgenteCtrl="ngModel" (change)="emitirCambio()">
                <label class="form-check-label">NO URGENTE</label>
            </div>

        </div>

        <!-- SEPARADOR -->
        <div class="fw-bold text-secondary" style="font-size: 20px;">|</div>

        <!-- GRUPO IMPORTANCIA -->
        <div class="d-flex align-items-center gap-4">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="grupoImportancia" [(ngModel)]="modelo.importante"
                    value="IMPORTANTE" required #importanteCtrl="ngModel" (change)="emitirCambio()">
                <label class="form-check-label">IMPORTANTE</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="grupoImportancia" [(ngModel)]="modelo.importante"
                    value="NO IMPORTANTE" required #importanteCtrl="ngModel" (change)="emitirCambio()">
                <label class="form-check-label">NO IMPORTANTE</label>
            </div>

        </div>

    </div>

    <!-- ERRORES -->
    <div class="mt-2">
        <small *ngIf="urgenteCtrl.invalid && urgenteCtrl.touched" class="p-error">
            Debes seleccionar la urgencia.
        </small>

        <br>

        <small *ngIf="importanteCtrl.invalid && importanteCtrl.touched" class="p-error">
            Debes seleccionar la importancia.
        </small>
    </div>
</div>