<div class="p-3">
<h3 class="text-center">CONTROL DE ACEITE</h3>
<div class="mb-3 d-flex justify-content-start gap-3">
<button class="btn bg-p-b p-3" (click)="abrirmodalAgregar()"><i class='bx bx-plus-circle'></i>&nbsp;AGREGAR</button>
<button class="btn btn-light" style="background-color: rgb(255, 166, 0); color: white;"><i class='bx bx-history' ></i>&nbsp;HISTORIAL</button>
</div>
<p-table [value]="entregas" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
          <th>SUCURSAL</th>
          <th>FECHA</th>
          <th>ENTREGA CEDIS</th>
          <th>ENTREGA SUCURSAL</th>
          <th>75%</th>
          <th>INTERCAMBIO</th>
          <th>DIFERENCIA</th>
          <th>COMENTARIOS CEDIS</th>
          <th>COMENTARIOS SUCURSAL</th>
          <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
         <tr>
            <td>{{obtenerNombreSucursal(record.idSucursal)}}</td>
            <td>{{ getDate(record.fecha) | date: 'dd/MM/yyyy hh:mm a' }}</td>
          <td>{{ record.entregaCedis || '' }}</td>
          <td>{{ record.entregaSucursal || '' }}</td>
          <td>{{ record.porcentaje75 || '' }}</td>
          <td>{{ record.intercambio || '' }}</td>
          <td>{{ record.diferencia || '' }}</td>
          <td>{{ record.comentariosCedis || '' }}</td>
          <td>{{ record.comentariosSucursal || '' }}</td>
          <td><button class="btn btn-primary"><i class='bx bx-check-circle' ></i>&nbsp;RECIBIR</button></td>
        </tr>
    </ng-template>
</p-table>


</div>

<app-modal-agregar-entrega [mostrarModalAgregar]="mostrarModalAgregar" (closeEvent)="mostrarModalAgregar = false"></app-modal-agregar-entrega>
