<app-cabecera-tareas [sucursales]="sucursales" [etiquetas]="etiquetasFiltradas" [sucursalesMap]="sucursalesMap"
  [idSucursalSeleccionada]="idSucursalSeleccionada" [sucursalSeleccionadaNombre]="sucursalSeleccionadaNombre"
  (sucursalChange)="idSucursalSeleccionada = $event; onSucursalChange()"
  (etiquetaChange)="idEtiquetaSeleccionada = $event; onEtiquetaChange()"
  (responsableChange)="idResponsableSeleccionado = $event; onResponsableChange()"
  (responsablesGlobalesChange)="idsResponsablesGlobales = $event; onResponsablesGlobalesChange()"
  (textoBusquedaChange)="onBuscarText($event)" (esGlobal)="esGlobal = $event"
  (verProyectosChange)="mostrarProyectos = $event" (verGantChange)="mostrarGant = $event">
</app-cabecera-tareas>

<p></p>

@if(mostrarGant) {
<app-diagrama-gant [tareas]="filtrarTareasGant" (seleccionarTarea)="abrirDetalle($event)"
  [mostrarProyectos]="mostrarProyectos"></app-diagrama-gant>
}
@else {
<app-contenedor-tareas [toDo]="mostrarProyectos ? filtrarProyectos( toDo) : filtrarTareas(toDo)"
  [working]="mostrarProyectos ? filtrarProyectos( working) : filtrarTareas(working)"
  [check]="mostrarProyectos ? filtrarProyectos( check) : filtrarTareas( check)"
  [done]="mostrarProyectos ? filtrarProyectos( done) : filtrarTareas(done)" [sucursalesMap]="sucursalesMap"
  [idSucursalSeleccionada]="idSucursalSeleccionada" (dropTask)="drop($event)" (seleccionarTarea)="abrirDetalle($event)"
  [textoBusqueda]="textoBusqueda" [mostrarProyectos]="mostrarProyectos">
</app-contenedor-tareas>
}
<!--
<app-projects-board [tareas]="allProjects" (seleccionarTarea)="abrirDetalle($event)"
  *ngIf="mostrarProyectos"></app-projects-board> -->

<app-detalle-tarea-dialog *ngIf="mostrarModalDetalleTarea" [mostrarModal]="mostrarModalDetalleTarea"
  (closeEvent)="mostrarModalDetalleTarea = false" [tarea]="tareaSeleccionada" [proyectos]="obtenerProyectos">
</app-detalle-tarea-dialog>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>
