<app-tasks-filter-component [sucursales]="sucursales" [etiquetas]="etiquetasFiltradas" [sucursalesMap]="sucursalesMap"
  [idSucursalSeleccionada]="idSucursalSeleccionada" [sucursalSeleccionadaNombre]="sucursalSeleccionadaNombre"
  (sucursalChange)="idSucursalSeleccionada = $event; onSucursalChange()"
  (etiquetaChange)="idEtiquetaSeleccionada = $event; onEtiquetaChange()"
  (responsableChange)="idResponsableSeleccionado = $event; onResponsableChange()"
  (responsablesGlobalesChange)="idsResponsablesGlobales = $event; onResponsablesGlobalesChange()"
  (textoBusquedaChange)="onBuscarText($event)" (esGlobal)="esGlobal = $event"
  (verProyectosChange)="mostrarProyectos = $event">
</app-tasks-filter-component>

<p></p>

<app-tasks-board [toDo]="toDo" [working]="working" [check]="check" [done]="done" [sucursalesMap]="sucursalesMap"
  [idSucursalSeleccionada]="idSucursalSeleccionada" (dropTask)="drop($event)" (seleccionarTarea)="abrirDetalle($event)"
  [textoBusqueda]="textoBusqueda" [mostrarProyectos]="mostrarProyectos">
</app-tasks-board>
<!--
<app-projects-board [tareas]="allProjects" (seleccionarTarea)="abrirDetalle($event)"
  *ngIf="mostrarProyectos"></app-projects-board> -->

<app-detalle-tarea-dialog *ngIf="mostrarModalDetalleTarea" [mostrarModal]="mostrarModalDetalleTarea"
  (closeEvent)="mostrarModalDetalleTarea = false" [tarea]="tareaSeleccionada" [proyectos]="obtenerProyectos">
</app-detalle-tarea-dialog>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>
