<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<p-tabView>
  @if (usuario.idArea == '1' || usuario.idRol == '1')
  {
  <p-tabPanel header="SISTEMAS">
    <app-admin-sys-tab></app-admin-sys-tab>
  </p-tabPanel>
  }
  @if (usuario.idArea == '2' || usuario.idRol == '1')
  {
  <p-tabPanel header="AUDIO Y VIDEO" (click)="refrescar()">
    <app-admin-audio-video-tab></app-admin-audio-video-tab>
  </p-tabPanel>
  }
  @if (usuario.idArea == '4' || usuario.idRol == '1')
  {
  <p-tabPanel header="MANTENIMIENTO" (click)="refrescar()">
    <app-admin-maintenance-tab></app-admin-maintenance-tab>
  </p-tabPanel>
  }
</p-tabView>