<app-side-menu />
<div class="pt-5 mt-5">
<h4 class="text-center">
     REQUISICIONES DE COMPRA
</h4>

<div class="p-3 d-flex justify-content-start gap-3">
    <div class="col-auto" *ngIf="facturasPendientes.length == 0"> <p>&nbsp;</p> <button class="btn bg-p-b p-2" (click)="abrirModal()">
    <i class='bx bx-plus-circle bx-sm'></i>&nbsp;AGREGAR
</button>
</div>
    <div class="col-auto"> <p>&nbsp;</p> <button class="btn bg-p-b p-2" (click)="abrirModalProveedores()">
    <i class='bx bx-cog bx-sm'></i>&nbsp;PROVEEDORES
</button></div>
</div>

<div class="row m-3">

<div class="col-auto">
    <p>FECHA INICIO</p>
    <p-calendar 
    [(ngModel)]="filtroFechaIni" 
    [iconDisplay]="'input'" 
    [showIcon]="true" 
    inputId="icondisplay" 
     dateFormat="dd/mm/yy"
     [style]="{width:'100%'}"
      [showButtonBar]="true"
        [touchUI]="true" />
</div>
<div class="col-auto">
    <p>FECHA FIN</p>
    <p-calendar 
    [(ngModel)]="filtroFechaFin" 
    [iconDisplay]="'input'" 
    [showIcon]="true" 
    inputId="icondisplay" 
     dateFormat="dd/mm/yy"
     [style]="{width:'100%'}"
      [showButtonBar]="true"
        [touchUI]="true" />
</div>

<div class="col-auto">
    <p>ESTATUS</p>
      <select class="form-select h-42" [(ngModel)]="filtroStatus">
          <option [value]="item.id" *ngFor="let item of filtrocatStatusCompra">{{item.nombre}}</option>
        </select>
</div>
<div class="col-auto">
    <p>ESTATUS PAGO</p>
       <select class="form-select h-42" [(ngModel)]="filtroStatusPago">
          <option [value]="item.id" *ngFor="let item of filtrocatStatusPago">{{item.nombre}}</option>
        </select>
</div>

<div class="col-auto">
    <p>TIPO COMPRA</p>
    <select class="form-select h-42" [(ngModel)]="filtroTipo">
    <option *ngFor="let item of filtrocatTipoCompra" [value]="item.id">{{item.nombre}}</option>
    </select>
 </div>

 <div class="col-auto" *ngIf="usuario.id == idAdmin">
    <p>REGIÓN</p>
    <select class="form-select h-42" [(ngModel)]="filtroRegion">
       <option value="-1">TODO</option>
        <option value="CDMX">CDMX</option>
       <option value="QRO">QRO</option>
     </select>
                            </div> 
 <div class="col-auto" *ngIf="usuario.id == idAdmin">
                                <p>SUCURSAL / AREA</p>
                                <p-dropdown [options]="sucursales" [(ngModel)]="filtroSucursal" name="sucursal" optionLabel="nombre" [filter]="true"
                                filterBy="nombre" [showClear]="true" placeholder="SELECCIONAR SUCURSAL"
                                [style]="{width:'100%'}">
                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ selectedOption.nombre }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-dep pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ dep.nombre }}</div>
                                    </div>
                                </ng-template>
                                </p-dropdown>
</div>

<div class="col-auto" *ngIf="usuario.id == idServicio">
<p>SUCURSALES</p>
<p-multiSelect 
    [options]="sucursales" 
    [(ngModel)]="sucursalesSel" 
    [filter]="true" 
    optionLabel="nombre" 
    placeholder="SELECCIONAR SUCURSALES"
    [style]="{width:'100%'}"
    />
</div>

 <div class="col-auto"> <p>&nbsp;</p> <button class="btn btn-warning p-2" (click)="obtenerComprasFiltro()">
    <i class='bx bx-search bx-sm'></i>&nbsp;BUSCAR
</button>
</div>

 <div class="col-auto"><p>&nbsp;</p>
        <button class="btn btn-success" [disabled]="regcompras.length == 0" (click)="exportToExcel(regcompras)"><img width="26" height="26" src="https://img.icons8.com/fluency/40/microsoft-excel-2019.png" alt="microsoft-excel-2019"/>&nbsp;EXCEL</button>
</div>

</div>

  
<div *ngIf="facturasPendientes.length>0">
 <p-messages 
    [(value)]="messages" 
    [enableService]="false" 
    [closable]="false" />

 <app-admin-compras-tabla 
[data]="facturasPendientes" [catareas]="catareas" [catMetodosPago]="catMetodosPago" [catProveedores]="catProveedores" [catStatusCompra]="catStatusCompra" 
[catStatusPago]="catStatusPago" [catTipoCompra]="catTipoCompra" [idAdmin]="idAdmin" [sucursales]="sucursales"
></app-admin-compras-tabla> 

</div>


@if(usuario.idRol != "2" && usuario.id != idServicio)
{
    <div class="p-3 shadow m-3 bg-white">
    
    <div class="d-flex justify-content-center p-3" *ngIf="obtenerSolicitudes(1).length>0">
        <div class="w-100"><app-grafica-admin-compras [sucursales]="sucursales" [registros]="obtenerSolicitudes(1)" [catAreas]="catareas" [idAdmin]="idAdmin"></app-grafica-admin-compras></div>
    </div>

<app-admin-compras-tabla 
[data]="obtenerSolicitudes(1)" [catareas]="catareas" [catMetodosPago]="catMetodosPago" [catProveedores]="catProveedores" [catStatusCompra]="catStatusCompra" 
[catStatusPago]="catStatusPago" [catTipoCompra]="catTipoCompra" [idAdmin]="idAdmin" [autorizacion]="false" [sucursales]="sucursales"
></app-admin-compras-tabla>
</div>
}

@if(usuario.idRol == "2" || usuario.id == idServicio)
{
    <p-tabView>
    <p-tabPanel header="AUTORIZADO">
        <div class="p-3">

    <div class="d-flex justify-content-center p-3" *ngIf="obtenerSolicitudes(1).length>0">
        <div class="w-100"><app-grafica-admin-compras [sucursales]="sucursales" [registros]="obtenerSolicitudes(1)" [catAreas]="catareas" [idAdmin]="idAdmin"></app-grafica-admin-compras></div>
    </div>

<app-admin-compras-tabla 
[data]="obtenerSolicitudes(1)" [catareas]="catareas" [catMetodosPago]="catMetodosPago" [catProveedores]="catProveedores" [catStatusCompra]="catStatusCompra" 
[catStatusPago]="catStatusPago" [catTipoCompra]="catTipoCompra" [idAdmin]="idAdmin" [autorizacion]="false" [autorizado]="true" [sucursales]="sucursales"
></app-admin-compras-tabla>

</div>
    </p-tabPanel>

 <p-tabPanel header="POR VALIDAR">
<app-admin-compras-tabla 
[data]="obtenerSolicitudes(0)" [catareas]="catareas" [catMetodosPago]="catMetodosPago" [catProveedores]="catProveedores" [catStatusCompra]="catStatusCompra" 
[catStatusPago]="catStatusPago" [catTipoCompra]="catTipoCompra" [idAdmin]="idAdmin"  [autorizacion]="usuario.idRol == '2' ? false:true" [sucursales]="sucursales"
></app-admin-compras-tabla>
 </p-tabPanel>

  <p-tabPanel header="RECHAZADO">
<app-admin-compras-tabla 
[data]="obtenerSolicitudes(2)" [catareas]="catareas" [catMetodosPago]="catMetodosPago" [catProveedores]="catProveedores" [catStatusCompra]="catStatusCompra" 
[catStatusPago]="catStatusPago" [catTipoCompra]="catTipoCompra" [idAdmin]="idAdmin" [autorizacion]="false"  [sucursales]="sucursales"
></app-admin-compras-tabla>
 </p-tabPanel>
 

</p-tabView>

}


</div>

<app-agregar-compra *ngIf="visible" (closeEvent)="visible = false" [visible]="visible" [catTipoCompra]="catTipoCompra" 
[catProveedores]="catProveedores" [sucursales]="sucursales" [idAdmin]="idAdmin" [catMetodosPago]="catMetodosPago"
 [idServicio]="idServicio"></app-agregar-compra>

<app-proveedores *ngIf="modalProveedores" [visible]="modalProveedores" (closeEvent)="modalProveedores = false"></app-proveedores>

