.custom-dialog .p-dialog-content {
  padding: 20px;
}

.p-field-checkbox {
  display: flex;
  align-items: center;
}

.check-text {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin: 10px;
}

/* Estilos para el textarea */
.custom-dialog textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  resize: vertical;
  transition: border-color 0.3s ease;
}

.custom-dialog textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilos para el label */
.custom-dialog label {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

.custom-dialog .p-field {
  margin-bottom: 20px;
}

.p-invalid {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  /* Color de fondo */
  z-index: 1;
  /* Asegúrate de que esté por encima del contenido */
  padding: 10px;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: sombra para destacar */
}

.sticky-header h2 {
  margin: 0;
}

.sticky-header app-progress-bar {
  margin-top: 10px;
}