<p-dialog 
    header="AGREGAR PRECIOS AYC" 
    [modal]="true"
    [(visible)]="visible" 
    [style]="{ width: '80%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [maximizable]="true"
    (onHide)="onHide()">
<div>

  <div class="row">
    <div class="col-6">
      <p-dropdown 
      [options]="regiones" 
      [(ngModel)]="forRegion" 
      optionLabel="name" 
       [filter]="true"
        filterBy="name" 
      placeholder="SELECCIONAR REGION"
      [style]="{width:'100%'}"
      (onChange)="cambiarRegion()"
      [disabled]="itemReg != undefined" />
    </div>
    <div class="col-6">
        <p-dropdown 
      [options]="sucursalesFiltro" 
      [(ngModel)]="formSucursal" 
      optionLabel="name" 
       [filter]="true"
      filterBy="name" 
      placeholder="SELECCIONAR SUCURSAL"
      [style]="{width:'100%'}"
      [disabled]="sucursalesFiltro.length==0 || itemReg != undefined"
       />
    </div>
  </div>

    <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col" style="background-color: #ccc;">LUNES</th>
      <th scope="col" style="background-color: #ccc;">MARTES</th>
      <th scope="col" style="background-color: #ccc;">MIERCOLES</th>
      <th scope="col" style="background-color: #ccc;">JUEVES</th>
      <th scope="col" style="background-color: #ccc;">VIERNES</th>
      <th scope="col" style="background-color: #ccc;">SABADO</th>
      <th scope="col" style="background-color: #ccc;">DOMINGO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <td>
         <p-dropdown [options]="dataColores" [(ngModel)]="formColorLunes" name="PRECIO" optionLabel="precio"
             [showClear]="false" placeholder=""
            [style]="{width:'100%'}">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': selectedOption.color, 'color':getTextColor(selectedOption.color)}" class="p-3">{{ selectedOption.precio }}</div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': item.color, 'color':getTextColor(item.color)}" class="p-3">{{ item.precio }}</div>
                </div>
            </ng-template>
             </p-dropdown>
      </td>


            <td>
         <p-dropdown [options]="dataColores" [(ngModel)]="formColorMartes" name="PRECIO" optionLabel="precio"
             [showClear]="false" placeholder=""
            [style]="{width:'100%'}">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': selectedOption.color, 'color':getTextColor(selectedOption.color)}" class="p-3">{{ selectedOption.precio }}</div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': item.color, 'color':getTextColor(item.color)}" class="p-3">{{ item.precio }}</div>
                </div>
            </ng-template>
             </p-dropdown>
      </td>

            <td>
         <p-dropdown [options]="dataColores" [(ngModel)]="formColorMiercoles" name="PRECIO" optionLabel="precio"
             [showClear]="false" placeholder=""
            [style]="{width:'100%'}">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': selectedOption.color, 'color':getTextColor(selectedOption.color)}" class="p-3">{{ selectedOption.precio }}</div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': item.color, 'color':getTextColor(item.color)}" class="p-3">{{ item.precio }}</div>
                </div>
            </ng-template>
             </p-dropdown>
      </td>

            <td>
         <p-dropdown [options]="dataColores" [(ngModel)]="formColorJueves" name="PRECIO" optionLabel="precio"
             [showClear]="false" placeholder=""
            [style]="{width:'100%'}">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': selectedOption.color, 'color':getTextColor(selectedOption.color)}" class="p-3">{{ selectedOption.precio }}</div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': item.color, 'color':getTextColor(item.color)}" class="p-3">{{ item.precio }}</div>
                </div>
            </ng-template>
             </p-dropdown>
      </td>

            <td>
         <p-dropdown [options]="dataColores" [(ngModel)]="formColorViernes" name="PRECIO" optionLabel="precio"
             [showClear]="false" placeholder=""
            [style]="{width:'100%'}">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': selectedOption.color, 'color':getTextColor(selectedOption.color)}" class="p-3">{{ selectedOption.precio }}</div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': item.color, 'color':getTextColor(item.color)}" class="p-3">{{ item.precio }}</div>
                </div>
            </ng-template>
             </p-dropdown>
      </td>

            <td>
         <p-dropdown [options]="dataColores" [(ngModel)]="formColorSabado" name="PRECIO" optionLabel="precio"
             [showClear]="false" placeholder=""
            [style]="{width:'100%'}">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': selectedOption.color, 'color':getTextColor(selectedOption.color)}" class="p-3">{{ selectedOption.precio }}</div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': item.color, 'color':getTextColor(item.color)}" class="p-3">{{ item.precio }}</div>
                </div>
            </ng-template>
             </p-dropdown>
      </td>

          <td>
         <p-dropdown [options]="dataColores" [(ngModel)]="formColorDomingo" name="PRECIO" optionLabel="precio"
             [showClear]="false" placeholder=""
            [style]="{width:'100%'}">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': selectedOption.color, 'color':getTextColor(selectedOption.color)}" class="p-3">{{ selectedOption.precio }}</div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-1">
                    <div [ngStyle]="{'background-color': item.color, 'color':getTextColor(item.color)}" class="p-3">{{ item.precio }}</div>
                </div>
            </ng-template>
             </p-dropdown>
      </td>
    </tr>
  </tbody>
</table>
    
<div class="d-flex justify-content-end" style="margin-top: 150px;">
<button class="btn btn-success p-3" (click)="guardar()" *ngIf="itemReg == undefined"><i class='bx bx-save'></i>&nbsp;GUARDAR</button>
<button class="btn btn-success p-3" (click)="actualizar()" *ngIf="itemReg != undefined"><i class='bx bx-save'></i>&nbsp;ACTUALIZAR</button>
</div>

</div>

</p-dialog>