<div class="d-flex justify-content-start gap-3 p-3 pb-0">
  <p-button
    label="Crear ticket"
    icon="pi pi-plus"
    styleClass="p-button-primary"
    (click)="mostrarModalGenerateTicket = true"
  >
  </p-button>

  <!-- <p-button label="Filtrar tickets" icon="pi pi-filter" styleClass="p-button-success"
  (click)="mostrarModalFilterTickets = true">
</p-button> -->

  <p-button
    label="Historial tickets"
    icon="pi pi-history"
    styleClass="p-button-warning"
    (click)="mostrarModalHistorial = true"
  >
  </p-button>

  <p-button
    label="Historial 10 de 10"
    icon="pi pi-history"
    styleClass="p-button-secondary"
    (click)="mostrarModalHistorialMantenimientos = true"
  >
  </p-button>

  <p-button
    label="10 de 10"
    icon="pi pi-wrench"
    styleClass="p-button-danger"
    *ngIf="mantenimientoActivo?.id"
    (click)="mostrarModal10x10 = true"
  >
  </p-button>
</div>

<div
  class="d-flex flex-column align-items-center gap-3 bg-white m-4 justify-content-center p-5 shadow-sm rounded-3"
  *ngIf="tickets.length == 0"
>
  @if (loading) {
  <i class="bx bx-loader bx-lg bx-spin" style="color: rgb(0, 153, 255)"></i>
  }@else {
  <i class="bx bx-file-blank bx-md" style="color: rgb(43, 92, 226)"></i>
  <p>SIN TICKETS PENDIENTES</p>
  }
</div>

<div *ngIf="tickets.length > 0" class="p-1 mt-3">
  <div class="m-0 pb-4" style="background-color: transparent">
    <app-priority-tickets-accordion *ngIf="usuario.idRol == '2'" [tickets]="tickets"
    (clickEvent)="abrirModalDetalleTicket($event)"></app-priority-tickets-accordion>
  </div>
</div>

<app-modal-generate-ticket
  *ngIf="mostrarModalGenerateTicket"
  [showModalGenerateTicket]="mostrarModalGenerateTicket"
  (closeEvent)="mostrarModalGenerateTicket = false"
></app-modal-generate-ticket>

<app-modal-ticket-detail
  *ngIf="mostrarModalTicketDetail"
  [ticket]="ticket"
  [showModalTicketDetail]="mostrarModalTicketDetail"
  (closeEvent)="mostrarModalTicketDetail = false"
></app-modal-ticket-detail>

<app-modal-filter-tickets
  [showModalFilterTickets]="mostrarModalFilterTickets"
  [tickets]="todosLosTickets"
  (closeEvent)="mostrarModalFilterTickets = false"
  (ticketsFiltradosEvent)="tickets = $event"
></app-modal-filter-tickets>

<app-modal-tickets-history
  *ngIf="mostrarModalHistorial"
  [showModalHistorial]="mostrarModalHistorial"
  (closeEvent)="mostrarModalHistorial = false"
></app-modal-tickets-history>

<app-modal-ten-xten-maintenance-history
  *ngIf="mostrarModalHistorialMantenimientos"
  [showModalHistorialMantenimientos]="mostrarModalHistorialMantenimientos"
  (closeEvent)="mostrarModalHistorialMantenimientos = false"
></app-modal-ten-xten-maintenance-history>

<app-modal-ten-xten-maintenance-check
  *ngIf="mostrarModal10x10"
  [showModal10x10]="mostrarModal10x10"
  (closeEvent)="mostrarModal10x10 = false"
  [mantenimientoActivo]="mantenimientoActivo"
></app-modal-ten-xten-maintenance-check>

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'"
  [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"
></p-toast>

<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div
      class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border"
    >
      <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
