<div class="gantt-wrapper" [style.--cell-width.px]="CELL_WIDTH">
  <div class="gantt-scroll-container" #scrollContainer>

    <div class="task-list">
      <div class="header-cell header-actividad">
        <span>ACTIVIDAD</span>
        <span class="contador-badge">
          {{ contadorTareas() }}
        </span>
      </div>
      @for (item of ganttTasks(); track item.tarea.id) {
      <div class="task-cell">
        <span class="estatus estatus-{{ item.tarea.idEstatus }}"
          pTooltip="{{ estatusMap.get(item.tarea.idEstatus) || '' }}">
        </span>

        <div>
          <span *ngIf="item.tarea.idEisenhower == '1'" pTooltip="PELIGRO! Hazlo ya">C1:🔥</span>
          <span *ngIf="item.tarea.idEisenhower == '2'" pTooltip="VALOR! Planifícalo ya">C2:💎</span>
          <span *ngIf="item.tarea.idEisenhower == '3'" pTooltip="RUIDO! Si puedes, delégalo">C3:📢</span>
          <span *ngIf="item.tarea.idEisenhower == '4'" pTooltip="TRANQUILO.. Puede esperar">C4:⏳</span>
        </div>

        <div class="task-title">
          {{ item.tarea.titulo }} ({{ item.tarea.porcentaje }}%)
        </div>
      </div>
      }
    </div>

    <div class="timeline-grid">
      <div class="header-row">
        @for (day of timeline(); track day.getTime()) {
        <div class="day-cell" [class.today]="isToday(day)">

          <span>{{ day | date:'dd' }}</span>
          <small>{{ day | date:'MMM' }}</small>
        </div>
        }
      </div>

      <div class="rows-container">
        <div class="grid-background">
          @for (day of timeline(); track day.getTime(); let i = $index) {
          <div class="grid-column" [class.today-column]="isToday(day)">
          </div>
          }
        </div>

        @for (item of ganttTasks(); track item.tarea.id) {
        <div class="task-row">
          <div class="task-bar" [style.left.px]="item.startOffset * CELL_WIDTH" (click)="onClick(item.tarea)"
            [style.width.px]="item.durationDays * CELL_WIDTH"
            [style.background-color]="getBarColor(item.tarea.porcentaje)">
            <!-- {{ item.tarea.porcentaje }}% -->
          </div>
        </div>
        }
      </div>

      <div class="header-row">
        @for (day of timeline(); track day.getTime()) {
        <div class="day-cell bottom-day" [class.today]="isToday(day)">
          <span>{{ day | date:'dd' }}</span>
          <small>{{ day | date:'MMM' }}</small>
        </div>
        }
      </div>
    </div>

  </div>
</div>
