<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<p-tabView (onChange)="onTabChange($event)" [activeIndex]="activeIndex">
  @if ((usuario.idArea == '1' || usuario.idArea == '2') || usuario.idRol == '1')
  {
  <p-tabPanel header="SISTEMAS">
    <ng-container *ngIf="tabsActivos['SISTEMAS']">
      <app-admin-sys-tab></app-admin-sys-tab>
    </ng-container>
  </p-tabPanel>
  }
  @if (usuario.idArea == '2' || usuario.idRol == '1')
  {
  <p-tabPanel header="AUDIO Y VIDEO">
    <ng-container *ngIf="tabsActivos['AUDIO Y VIDEO']">
      <app-admin-audio-video-tab></app-admin-audio-video-tab>
    </ng-container>
  </p-tabPanel>
  }
  @if (usuario.idArea == '4' || usuario.idRol == '1')
  {
  <p-tabPanel header="MANTENIMIENTO">
    <ng-container *ngIf="tabsActivos['MANTENIMIENTO']">
      <app-admin-maintenance-tab></app-admin-maintenance-tab>
    </ng-container>
  </p-tabPanel>
  }
  @if (usuario.idArea == '20' || usuario.idRol == '1')
  {
  <p-tabPanel header="CADENA DE SUMINISTRO">
    <ng-container *ngIf="tabsActivos['CADENA DE SUMINISTRO']">
      <app-admin-cadena-suministro-tab></app-admin-cadena-suministro-tab>
    </ng-container>
  </p-tabPanel>
  }
</p-tabView>
