<div class="tablero-tareas" [style]="mostrarProyectos ? 'background-color: #cbcdfe;' : 'background-color: #fef9cb;'">
  <div class="contenedor">

    <div class="titulo-contenedor">
      <h3>{{ mostrarProyectos ? 'PROYECTOS' : 'TAREAS' }}</h3>
      <!-- <span class="contador">{{ working.length }}</span> -->
    </div>

    <div class="contador-columnas" [style]="mostrarProyectos ? 'background-color: #cbcdfe;' : 'background-color: #fef9cb;'">
      <!-- TODO -->
      <div class="columna" [style]="mostrarProyectos ? 'background-color: #cbcdfe;' : 'background-color: #fef9cb;'" cdkDropList id="todoList" [cdkDropListData]="toDo"
        [cdkDropListConnectedTo]="dropListIds" (cdkDropListDropped)="onDrop($event)">

        <div class="scroll">
          <app-task-card *ngFor="let t of filtrarTareasProyectos(toDo)" [tarea]="t" (seleccionarTarea)="onSeleccionar($event)"
            [nombreSucursal]="sucursalesMap.get(t.idSucursal) || ''"
            [esOtraSucursal]="t.idSucursal !== idSucursalSeleccionada">
          </app-task-card>
        </div>
      </div>

      <!-- WORKING -->
      <div class="columna" [style]="mostrarProyectos ? 'background-color: #cbcdfe;' : 'background-color: #fef9cb;'" cdkDropList id="workingList" [cdkDropListData]="working"
        [cdkDropListConnectedTo]="dropListIds" (cdkDropListDropped)="onDrop($event)">

        <div class="scroll">
          <app-task-card *ngFor="let t of filtrarTareasProyectos(working)" [tarea]="t" (seleccionarTarea)="onSeleccionar($event)"
            [nombreSucursal]="sucursalesMap.get(t.idSucursal) || ''"
            [esOtraSucursal]="t.idSucursal !== idSucursalSeleccionada">
          </app-task-card>
        </div>
      </div>

      <!-- CHECK -->
      <div class="columna" [style]="mostrarProyectos ? 'background-color: #cbcdfe;' : 'background-color: #fef9cb;'" cdkDropList id="checkList" [cdkDropListData]="check"
        [cdkDropListConnectedTo]="dropListIds" (cdkDropListDropped)="onDrop($event)">

        <div class="scroll">
          <app-task-card *ngFor="let t of filtrarTareasProyectos(check)" [tarea]="t" (seleccionarTarea)="onSeleccionar($event)"
            [nombreSucursal]="sucursalesMap.get(t.idSucursal) || ''"
            [esOtraSucursal]="t.idSucursal !== idSucursalSeleccionada">
          </app-task-card>
        </div>
      </div>

      <!-- DONE -->
      <div class="columna" [style]="mostrarProyectos ? 'background-color: #cbcdfe;' : 'background-color: #fef9cb;'" cdkDropList id="doneList" [cdkDropListData]="done"
        [cdkDropListConnectedTo]="dropListIds" (cdkDropListDropped)="onDrop($event)">

        <div class="scroll">
          <app-task-card *ngFor="let t of filtrarTareasProyectos(done)" [tarea]="t" (seleccionarTarea)="onSeleccionar($event)"
            [nombreSucursal]="sucursalesMap.get(t.idSucursal) || ''"
            [esOtraSucursal]="t.idSucursal !== idSucursalSeleccionada">
          </app-task-card>
        </div>
      </div>
    </div>
  </div>
</div>
