.row-highlight {
  background-color: #fecbcb !important;
}

.row-rojo {
  background-color: #fecbcb !important;
}
.row-morado {
  background-color: #f4cbfe !important;
}
.row-verde {
  background-color: #e4fecb !important;
}
.row-amarillo {
  background-color: #fef9cb !important;
}