<div class="columna" style="background-color: #cbcdfe;">

  <div class="titulo-columna">
    <h3>PROYECTOS</h3>
    <!-- <span class="contador">{{ toDo.length }}</span> -->
  </div>

  <div class="scroll">
    <div class="row">
      <div class="col-md-3" *ngFor="let t of tareas">
        <app-task-card [tarea]="t" (seleccionarTarea)="onSeleccionar($event)"
          [nombreSucursal]="sucursalesMap.get(t.idSucursal) || ''"
          [esOtraSucursal]="t.idSucursal !== idSucursalSeleccionada">
        </app-task-card>
      </div>
    </div>
  </div>
</div>
