<app-tasks-filter-component
  [sucursales]="sucursales"
  [etiquetas]="etiquetasFiltradas"
  [responsables]="responsablesFiltrados"
  [idSucursalSeleccionada]="idSucursalSeleccionada"
  [etiquetaSeleccionada]="etiquetaSeleccionada"
  [responsableSeleccionado]="responsableSeleccionado"
  (sucursalChange)="idSucursalSeleccionada = $event; onSucursalChange()"
  (etiquetaChange)="etiquetaSeleccionada = $event; onEtiquetaChange()"
  (responsableChange)="responsableSeleccionado = $event; onResponsableChange()">
</app-tasks-filter-component>

<p></p>

<app-tasks-board [toDo]="toDo" [working]="working" [check]="check" [done]="done" [sucursalesMap]="sucursalesMap"
  [idSucursalSeleccionada]="idSucursalSeleccionada" (dropTask)="drop($event)" (seleccionarTarea)="abrirDetalle($event)">
</app-tasks-board>

<app-task-detail *ngIf="mostrarModalDetalleTarea" [mostrarModal]="mostrarModalDetalleTarea"
  (closeEvent)="mostrarModalDetalleTarea = false" [tarea]="tareaSeleccionada">
</app-task-detail>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>
