<p-accordion class="w-full">
    <p-accordionTab *ngFor="let item of ordenarSucursales()">
        <ng-template pTemplate="header">
            <span class="ms-3 d-flex gap-3 p-3 rounded-3 w-100" [style]="{
            'background-color': obtenerBackGroundAcordion(contarTickets(item.id))
          }">
                <p-badge [value]="contarTickets(item.id)" class="ml-auto mr-2" [size]="'large'"
                    [style]="{ 'background-color': 'white', color: 'black' }" />
                <span class="fw-bold" [style]="{ color: obtenerColorTexto(contarTickets(item.id)) }">
                    {{ item.nombre }}:&nbsp;{{ obtenerResponsablesUC(item.id) }}
                </span>
            </span>
        </ng-template>

        <app-admin-tickets-list [tickets]="filtrarTicketsPorSucursal(item.id)"></app-admin-tickets-list>
    </p-accordionTab>
</p-accordion>