<p-dialog [header]="'ACTIVIDAD PRINCIPAL'" [(visible)]="mostrarModal" [modal]="true"
  [style]="{ 'width': '95vw', 'height': '95vh' }" [maximizable]="true" (onHide)="onHide()">
  <div class="d-flex gap-3" style="width: 100%; height: 75vh;">
    <div style="width: 60%; overflow-y: auto; padding-right: 10px;">
      <div class="d-flex justify-content-between mt-3 align-items-center">
        <div class="d-flex">
          <button class="btn btn-primary" style="margin: 2px" (click)="mostrarModalSubirImagen = true">
            <i class="bx bx-image-add bx-sm" style="color: white" pTooltip="SUBIR IMÁGEN" tooltipPosition="top"></i>
          </button>
        </div>
      </div>

      <form #form="ngForm" (ngSubmit)="enviar(form)">
        <div class="p-3">

          <!-- ID / TÍTULO -->
          <div class="mb-3">
            <label class="fw-bold">TÍTULO</label>
            <input [(ngModel)]="tarea.titulo" name="titulo" class="form-control" placeholder="Título de la tarea">
          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              <label class="fw-bold d-block mb-1">ESTATUS</label>
              <p-dropdown [options]="estatusTeras" [(ngModel)]="tarea.idEstatus" name="estatusTeras" optionValue="id"
                optionLabel="nombre" [filter]="true" filterBy="nombre" [style]="{width:'250px'}"
                placeholder="SELECCIONA ESTATUS DE LA TAREA" required>

                <ng-template pTemplate="selectedItem" let-selected>
                  <div class="flex align-items-center gap-2" *ngIf="selected">
                    <span class="estatus-dot" [ngClass]="'estatus-' + selected.id">
                    </span>
                    <span style="margin-left: 5px;">{{ selected.nombre }}</span>
                  </div>
                </ng-template>

                <ng-template pTemplate="item" let-item>
                  <div class="flex align-items-center gap-2">
                    <span class="estatus-dot" [ngClass]="'estatus-' + item.id">
                    </span>
                    <span style="margin-left: 5px;">{{ item.nombre }}</span>
                  </div>
                </ng-template>

              </p-dropdown>

            </div>

            <div class="col-md-4">
              <label class="fw-bold d-block mb-1">ETIQUETA</label>
              <p-dropdown [options]="etiquetas" [(ngModel)]="tarea.idEtiqueta" name="etiquetas" optionValue="id"
                optionLabel="nombre" [filter]="true" filterBy="nombre" placeholder="ETIQUETAS"
                placeholder="SELECCIONA ETIQUETA DE LA TAREA" [style]="{width:'250px'}">

                <ng-template pTemplate="selectedItem" let-selected>
                  <div class="flex align-items-center gap-2" *ngIf="selected">

                    <!-- círculo de color -->
                    <span class="label-dot" [style.background]="selected.color">
                    </span>

                    <span>{{ selected.nombre }}</span>
                  </div>
                </ng-template>

                <ng-template pTemplate="item" let-item>
                  <div class="label-item">

                    <div class="label-row">
                      <span class="label-dot" [style.background]="item.color"></span>
                      <span class="label-title">{{ item.nombre }}</span>
                    </div>

                    <small class="label-subtext" *ngIf="item.idArea">
                      {{ areasMap[item.idArea] || 'Área sin asignar' }}
                    </small>


                  </div>
                </ng-template>


              </p-dropdown>
            </div>

            <div class="col-md-4">
              <label class="fw-bold d-block mb-1">RESPONSABLES</label>

              <p-multiSelect [options]="responsables" [(ngModel)]="tarea.responsables" name="responsables"
                optionLabel="nombre" display="chip" [filter]="true" filterBy="nombre"
                placeholder="SELECCIONA RESPONSABLES" [style]="{ width: '250px' }">
                <!-- ITEM -->
                <ng-template let-item pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <span>{{ item.nombre }}</span>
                    <small class="text-muted ms-1" *ngIf="item.posicion">
                      ({{ item.posicion }})
                    </small>
                  </div>
                </ng-template>

                <!-- SELECTED -->
                <ng-template let-item pTemplate="selectedItem">
                  <span>{{ item.nombre }}</span>
                </ng-template>
              </p-multiSelect>
            </div>
          </div>

          <div class="row mb3">
            <div class="col-md-6">
              <!-- SUCURSAL -->
              <p class="fw-bold">RESPONSABLE</p>
              <p-dropdown [options]="sucursales" [(ngModel)]="tarea.idSucursal" name="sucursal" [optionValue]="'id'"
                optionLabel="nombre" [filter]="true" filterBy="nombre" placeholder="SELECCIONA SUCURSAL / DEPARTAMENTO"
                [style]="{width:'100%'}" required="true">
              </p-dropdown>

              <p></p>
            </div>
            <div class="col-md-6">
              <!-- CATEGORÍAS -->
              <p class="fw-bold">CATEGORÍA</p>
              <input class="form-control" style="height: 48px;" type="text" placeholder="ESCRIBE LA CATEGORÍA"
                [(ngModel)]="tarea.categoria" name="categoria" #formCategoriaCtrl="ngModel" required minlength="3"
                maxlength="50" [ngClass]="{'p-invalid': formCategoriaCtrl.invalid && formCategoriaCtrl.touched}">

              <!-- Mensajes de validación -->
              <small *ngIf="formCategoriaCtrl.errors?.['required'] && formCategoriaCtrl.touched" class="p-error">
                Campo requerido.
              </small>
              <small *ngIf="formCategoriaCtrl.errors?.['minlength'] && formCategoriaCtrl.touched" class="p-error">
                Mínimo 3 caracteres.
              </small>
              <small *ngIf="formCategoriaCtrl.errors?.['maxlength'] && formCategoriaCtrl.touched" class="p-error">
                Máximo 50 caracteres.
              </small>
              <p></p>
            </div>
          </div>

          <div class="row">
            <!-- PORCENTAJE -->
            <div class="col-md-6 mb-3">

              <label class="fw-bold subtareas-text">PROGRESO</label>

              <!-- SLIDER -->
              <input type="range" class="form-range mt-2" min="0" max="100" [(ngModel)]="tarea.porcentaje"
                name="porcentaje" style="height: 6px; cursor: pointer;">

              <!-- BARRA DE PROGRESO -->
              <div class="progress mt-2" style="height: 20px;">
                <div class="progress-bar" role="progressbar" [ngClass]="getProgressColor(tarea.porcentaje)"
                  [style.width.%]="tarea.porcentaje" style="transition: width 0.4s ease;">
                  {{ tarea.porcentaje }}%
                </div>
              </div>

            </div>



            <!-- DEADLINE / FECHA LÍMITE -->
            <div class="col-md-6 mb-3">
              <label class="fw-bold">FECHA LÍMITE (DEADLINE)</label>
              <input type="date" class="form-control" [(ngModel)]="tarea.deathline" name="deathline">
            </div>
          </div>

          <!-- DESCRIPCIÓN -->
          <div class="mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="fw-bold mb-0">DESCRIPCIÓN GENERAL</label>

              <!-- BOTÓN EDITAR -->
              <button type="button" class="btn btn-sm btn-outline-primary" *ngIf="!editandoDescripcion"
                (click)="editarDescripcion()">

                <i class="bx bx-edit"></i> Editar
              </button>
            </div>

            <!-- MODO VISTA -->
            <div class="descripcion-vista mt-2" *ngIf="!editandoDescripcion">

              <div *ngIf="!tarea.descripcion" class="text-muted">
                Sin descripción
              </div>

              <!-- LINKIFY AQUÍ -->
              <div *ngIf="tarea.descripcion" [innerHTML]="tarea.descripcion | linkify">
              </div>
            </div>

            <!-- MODO EDICIÓN -->
            <div *ngIf="editandoDescripcion" class="mt-2">
              <textarea [(ngModel)]="descripcionEditada" name="comentarioResponsable" class="form-control" rows="7">
    </textarea>

              <div class="d-flex justify-content-end gap-2 mt-2">
                <button type="button" class="btn btn-sm btn-secondary" (click)="cancelarEdicionDescripcion()">
                  Cancelar
                </button>

                <button type="button" class="btn btn-sm btn-primary" (click)="guardarDescripcion()">
                  Guardar
                </button>
              </div>
            </div>
          </div>


          <!-- VISOR DE MINIATURAS -->
          <div class="mt-3">
            <label class="fw-bold d-block mb-2">EVIDENCIAS</label>

            <div *ngIf="tarea.evidenciaUrls.length === 0" class="text-muted">
              No hay imágenes aún.
            </div>

            <div class="miniaturas-container" *ngIf="tarea.evidenciaUrls.length > 0">
              <div class="thumb" *ngFor="let img of tarea.evidenciaUrls; let i = index" (click)="abrirVisor(i)">
                <img [src]="img" alt="evidencia">
              </div>
            </div>
          </div>

          <br>

          <app-eisenhower-priority-checks [modelo]="tarea" (cambio)="recibirPrioridad($event)">
          </app-eisenhower-priority-checks>

        </div>

        <!-- SUBTAREAS -->
        <div class="d-flex justify-content-start mt-4 mb-3">
          <button type="button" class="btn btn-outline-secondary d-flex align-items-center" (click)="toggleSubtareas()">
            <i class='bx bx-check-square bx-sm me-2'></i> SUBTAREAS
          </button>

        </div>

        <app-subtasks-box [tarea]="tarea" [mostrarSubtareas]="mostrarSubtareas"
          (subtareaAgregada)="agregarSubtarea($event)">
        </app-subtasks-box>

        <!-- BOTONES -->
        <div class="d-flex justify-content-between mt-3">

          <button type="button" class="btn btn-danger p-3 d-flex align-items-center" (click)="eliminarTarea(tarea)">
            <i class='bx bx-trash me-2'></i>
            <label>ELIMINAR</label>
          </button>

          <button class="btn bg-p-b p-3 d-flex align-items-center">
            <i class='bx bx-send me-2'></i>
            <label>GUARDAR</label>
          </button>

        </div>

      </form>
    </div>

    <!-- COMENTARIOS -->
    <div style="width: 40%; border-left: 1px solid #ddd; padding-left: 10px; overflow-y: auto;">
      <app-task-comment-box [tarea]="tarea"></app-task-comment-box>
    </div>

  </div>

</p-dialog>


<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>

<app-modal-visor-varias-imagenes *ngIf="mostrarModalVisorImagen" [mostrarModal]="mostrarModalVisorImagen"
  (closeEvent)="mostrarModalVisorImagen = false" [imagenes]="imagenes" [mostrarBotonEliminar]="true"
  (imagenEliminadaEvent)="onEliminarImagen($event)"></app-modal-visor-varias-imagenes>

<app-task-imguploader *ngIf="mostrarModalSubirImagen" [mostrarModal]="mostrarModalSubirImagen"
  (closeEvent)="mostrarModalSubirImagen = false" [tarea]="tarea"></app-task-imguploader>
