.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }

.bg-black
{
    background-color: black;
    color: yellow;
}

.bg-green
{
    background-color: rgb(81, 255, 96);
    color: black;
}

.bg-red
{
    background-color: rgb(216, 0, 0);
    color: white;
}

.bg-blue
{
    background-color: rgb(0, 60, 255);
    color: white;
}

.bg-yellow
{
    background-color: yellow;
    color: black;
}

.bg-c-yellow
{
    background-color: rgb(255, 255, 211);
    color: black;
}

.bg-c-blue
{
    background-color: rgb(191, 206, 255);
    color: rgb(0, 0, 0);
}

.bg-c-red
{
    background-color: rgb(255, 225, 225);
    color: rgb(0, 0, 0);
}

.bg-c-green
{
    background-color: rgb(212, 255, 215);
    color: black;
}

.columna {
  flex: 1;
  min-height: 200px;
  // background: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
}

.label-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ccc;
  margin-right: 5px;
}
