<p-dialog header="EVALUACION GENERAL" [modal]="true" [(visible)]="mostrarModalRating" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" (onHide)="onHide()">
    <table class="rating-table">
        <tr>
            <th colspan="3">{{ sucursal.nombre }}</th>
        </tr>
        <tr>
            <th colspan="3">CALIFICACIONES</th>
        </tr>
        <tr>
            <td pTooltip="CALIFICACION ANALISTA A SUPERVISOR" tooltipPosition="top">SUCURSAL</td>
            <td></td>
            <td pTooltip="ES LA CALIFICACION DE LOS ULTIMOS 30 TICKETS QUE DA EL ANALISTA A LA SUCURSAL"></td>
        </tr>
        <tr>
            <td pTooltip="CALIFICACION DE ULTIMO MANTENIMIENTO">IT: MTTO 10 X 10</td>
            <td><app-rating-stars [rating]="calificacionMantenimiento" [editable]="false"></app-rating-stars></td>
            <td pTooltip="ES LA CALIFICACION DEL ULTIMO MANTENIMIENTO EN UNA ESCALA DE 5 ESTRELLAS">{{ calificacionMantenimiento }}</td>
        </tr>
        <tr>
            <td pTooltip="CALIFICACION SUPERVISOR A ANALISTA">IT: ANALISTA</td>
            <td><app-rating-stars [rating]="calificacion30Tickets" [editable]="false"></app-rating-stars></td>
            <td pTooltip="ES LA CALIFICACION DE LOS ULTIMOS 30 TICKETS EN UNA ESCALA DE 5 ESTRELLAS">{{ calificacion30Tickets }}</td>
        </tr>
    </table>

</p-dialog>