<div class="pt-5">
  <div class="mt-5"></div>

  <h3 class="m-3 text-center">TICKETS</h3>

  <div class="d-flex justify-content-start gap-3 p-3 pb-0">
    <p-button label="Crear ticket" icon="pi pi-plus" styleClass="p-button-primary"
      (click)="showModalGenerateTicket = true">
    </p-button>
    <p-button label="Filtrar tickets" icon="pi pi-filter" styleClass="p-button-success"
      (click)="showModalFilterTickets = true">
    </p-button>
    <p-button (onClick)="opg.toggle($event)" icon="pi pi-users" label="AGRUPAR" styleClass="p-button-danger" />
  </div>

  <p-overlayPanel #opg>
    <button class="btn p-2 btn-light" (click)="showalltk()">
      <i class="bx bxs-grid-alt"></i>&nbsp;VER TODO
    </button>

    <button class="btn p-2 btn-light" (click)="agruparSucs()">
      <i class="bx bx-buildings"></i>&nbsp;SUCURSALES
    </button>

    <div class="d-flex flex-column justify-content-center p-3 gap-2">
      <button *ngFor="let item of catusuarioshelp" class="btn p-2 btn-light" (click)="agrupar(item)">
        <i class="bx bxs-user"></i>&nbsp;{{
        item.nombre + " " + item.apellidoP | uppercase
        }}
      </button>
    </div>
  </p-overlayPanel>

  <div *ngIf="showagrupacion && usergroup == undefined" class="mt-4">
    <app-branches-tickets-accordion [tickets]="arr_tickets"
      [sucursales]="catcategorias"></app-branches-tickets-accordion>
  </div>

  <div *ngIf="showagrupacion && usergroup != undefined" class="mt-4">
    <H4 class="text-center text-primary fw-bold">{{
      usergroup.nombre + " " + usergroup.apellidoP
      }}</H4>
    <app-user-tickets-accordion [tickets]="arr_tickets" [usuarioAgrupacion]="usergroup"></app-user-tickets-accordion>
  </div>

  <div class="d-flex flex-column align-items-center gap-3 bg-white m-4 justify-content-center p-5 shadow-sm rounded-3"
    *ngIf="arr_tickets.length == 0 && showagrupacion == false">
    <i class="bx bx-file-blank bx-md" style="color: rgb(107, 107, 107)"></i>
    <p>SIN TICKETS PENDIENTES</p>
  </div>

  <div *ngIf="arr_tickets.length > 0" class="p-1 mt-3">
    <div class="m-0 pb-4" style="background-color: transparent">
      <app-admin-tickets-list [tickets]="arr_tickets" *ngIf="showagrupacion == false"></app-admin-tickets-list>
    </div>
  </div>
</div>

<app-modal-generate-ticket *ngIf="showModalGenerateTicket" [showModalGenerateTicket]="showModalGenerateTicket"
  (closeEvent)="showModalGenerateTicket = false"></app-modal-generate-ticket>

<app-modal-filter-tickets [showModalFilterTickets]="showModalFilterTickets" [tickets]="all_arr_tickets"
  (closeEvent)="showModalFilterTickets = false"
  (ticketsFiltradosEvent)="arr_tickets = $event"></app-modal-filter-tickets>

<app-modal-tickets-history *ngIf="showModalHistorial" [showModalHistorial]="showModalHistorial"
  (closeEvent)="showModalHistorial = false"></app-modal-tickets-history>

<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>
<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>