<div class="pt-5">
  <div class="mt-5"></div>

  <h3 class="m-3 text-center">TICKETS</h3>

  <div class="d-flex justify-content-start gap-3 p-3 pb-0">
    <button class="btn bg-p-b p-2" (click)="openadd()">
      <i class="bx bx-plus bx-sm"></i>
    </button>
    <button class="btn bg-p-b p-2" style="background-color: #ff5722" (click)="showModalFiltros()">
      <i class="bx bx-filter bx-sm"></i>
    </button>
    <button class="btn bg-p-b p-2" style="background-color: #29d998" (click)="showHistorial()">
      <i class="bx bx-history bx-flip-horizontal bx-sm"></i>
    </button>
    <!-- <button (onClick)="opg.toggle($event)" class="btn bg-p-b p-2" style="background-color: #8922ff;" ><i class='bx bx-group bx-sm'></i></button> -->
    <p-button (onClick)="opg.toggle($event)" icon="pi pi-users" label="AGRUPAR" styleClass="rounded-3" />
  </div>

  <p-overlayPanel #opg>
    <button class="btn p-2 btn-light" (click)="showalltk()">
      <i class="bx bxs-grid-alt"></i>&nbsp;VER TODO
    </button>

    <button class="btn p-2 btn-light" (click)="agruparSucs()">
      <i class="bx bx-buildings"></i>&nbsp;SUCURSALES
    </button>

    <div class="d-flex flex-column justify-content-center p-3 gap-2">
      <button *ngFor="let item of catusuarioshelp" class="btn p-2 btn-light" (click)="agrupar(item)">
        <i class="bx bxs-user"></i>&nbsp;{{
        item.nombre + " " + item.apellidoP | uppercase
        }}
      </button>
    </div>
  </p-overlayPanel>

  <div *ngIf="showagrupacion && usergroup == undefined" class="mt-4">
    <app-branches-tickets-accordion [tickets]="arr_tickets"></app-branches-tickets-accordion>
  </div>

  <div *ngIf="showagrupacion && usergroup != undefined" class="mt-4">
    <H4 class="text-center text-primary fw-bold">{{
      usergroup.nombre + " " + usergroup.apellidoP
      }}</H4>
    <p-accordion class="w-full">
      <p-accordionTab *ngFor="let item of ordenarSucursalesUser(usergroup.sucursales)">
        <ng-template pTemplate="header">
          <span class="ms-3 d-flex gap-3 p-3 rounded-3 w-100" [style]="{
              'background-color': getBGSuc(getTicketsSuc(item.id).length)
            }">
            <p-badge [value]="getTicketsSuc(item.id).length" class="ml-auto mr-2" [size]="'large'"
              [style]="{ 'background-color': 'white', color: 'black' }" />
            <span class="fw-bold" [style]="{ color: getColortxt(getTicketsSuc(item.id).length) }">
              {{ item.nombre }}
            </span>
          </span>
        </ng-template>

        <p-table [value]="getTicketsSuc(item.id)" [tableStyle]="{ 'min-width': '10rem', padding: '10px' }"
          styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="62vh" selectionMode="single"
          [(selection)]="selectedtk">
          <ng-template pTemplate="header">
            <tr class="text-center">
              <th>PRIORIDAD</th>
              <th>FECHA</th>
              <th>SUCURSAL</th>
              <th>AREA</th>
              <th>CATEGORÍA</th>
              <th>STATUS</th>
              <th>SOLICITANTE</th>
              <th>RESPONSABLE</th>
              <th>ASISTENCIA</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tk>
            <tr [pSelectableRow]="tk">
              <td>
                <p-dropdown [options]="[
                    { name: 'PÁNICO' },
                    { name: 'ALTA' },
                    { name: 'MEDIA' },
                    { name: 'BAJA' }
                  ]" [(ngModel)]="tk.prioridadsuc" optionLabel="name" [showClear]="false" optionValue="name"
                  (onChange)="updatetk(tk)" [style]="{ border: 'none' }">
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                      <div>
              <td *ngIf="selectedOption.name == 'PÁNICO'">
                <i class="bx bxs-hot bx-sm rounded-3" style="color: red"></i>
              </td>
              <div *ngIf="selectedOption.name != 'PÁNICO'" style="border-radius: 50%" class="p-1" [style]="{
                            'background-color': getBgPrioridad(
                              selectedOption.name
                            ),
                            width: '20px',
                            height: '20px'
                          }"></div>
  </div>
</div>
</ng-template>
<ng-template let-item pTemplate="item">
  <div class="flex align-items-center gap-2">
    <div class="d-flex justify-content-start align-items-center gap-3">
      <td *ngIf="item.name == 'PÁNICO'">
        <i class="bx bxs-hot bx-sm rounded-3" style="color: red"></i>
      </td>
      <div *ngIf="item.name != 'PÁNICO'" style="border-radius: 50%" class="p-1" [style]="{
                            'background-color': getBgPrioridad(item.name),
                            width: '25px',
                            height: '25px'
                          }"></div>
      <div>{{ item.name }}</div>
    </div>
  </div>
</ng-template>
</p-dropdown>
</td>
<td class="text-center">{{ getDate(tk.fecha) | date }}</td>
<td class="text-center">{{ getNameSuc(tk.idsucordpto) }}</td>
<td class="text-center">
  <p-dropdown [options]="areas" [(ngModel)]="tk.idproveedor" optionLabel="nombre" [showClear]="false" optionValue="id"
    (onChange)="updatetk(tk)" [style]="{ border: 'none' }">
    <ng-template pTemplate="selectedItem" let-selectedOption>
      <div class="flex align-items-center gap-2">
        <div>{{ selectedOption.nombre }}</div>
      </div>
    </ng-template>
    <ng-template let-dep pTemplate="item">
      <div class="flex align-items-center gap-2">
        <div>{{ dep.nombre }}</div>
      </div>
    </ng-template>
  </p-dropdown>
</td>
<td class="text-center">
  <p-dropdown [options]="catcategorias" [(ngModel)]="tk.idcategoria" optionLabel="name" [showClear]="false"
    optionValue="id" [style]="{ width: '100%' }">
    <ng-template pTemplate="selectedItem" let-selectedOption>
      <div class="flex align-items-center gap-2">
        <div>{{ selectedOption.nombre }}</div>
      </div>
    </ng-template>
    <ng-template let-categoria pTemplate="item">
      <div class="flex align-items-center gap-2">
        <div>{{ categoria.nombre }}</div>
      </div>
    </ng-template>
  </p-dropdown>
</td>
<td class="text-center">
  <p-dropdown [options]="[
                    {
                      id: '1',
                      icon: 'bx bx-dots-horizontal-rounded',
                      animation: 'bx-tada',
                      color: '#ff0028'
                    },
                    {
                      id: '2',
                      icon: 'bx-loader',
                      animation: 'bx-rotate-180 bx-spin bx-sm',
                      color: '#ff7b00'
                    },
                    {
                      id: '3',
                      icon: 'bx bx-check',
                      animation: 'bx-tada',
                      color: '#008500'
                    },
                    {
                      id: '4',
                      icon: 'bx bx-pause',
                      animation: 'bx-tada',
                      color: '#a300ff'
                    },
                    {
                      id: '5',
                      icon: 'bx bxs-cart',
                      animation: 'bx-tada',
                      color: '#ff7b00'
                    },
                    {
                      id: '6',
                      icon: 'bx bxs-cart',
                      animation: 'bx-tada',
                      color: '#008500'
                    }
                  ]" [(ngModel)]="tk.status" optionLabel="nombre" [showClear]="false" optionValue="id"
    (onChange)="updatetk(tk)" [style]="{ border: 'none' }">
    <ng-template pTemplate="selectedItem" let-selectedOption>
      <div class="flex align-items-center gap-2">
        <i class="bx {{ selectedOption.icon }} {{
                          selectedOption.animation
                        }} bx-sm" [style]="{ color: selectedOption.color }"></i>
      </div>
    </ng-template>
    <ng-template let-st pTemplate="item">
      <div class="flex align-items-center gap-2">
        <i class="bx {{ st.icon }} {{ st.animation }} bx-sm" [style]="{ color: st.color }"></i>
      </div>
    </ng-template>
  </p-dropdown>
</td>
<td class="text-center">{{ tk.solicitante | uppercase }}</td>
<td class="text-center">
  {{ getNameResponsable(tk.responsable) }}
</td>
<td class="text-center">
  <p-dropdown [options]="[{ name: 'FÍSICA' }, { name: 'REMOTA' }]" [(ngModel)]="tk.tiposoporte" optionLabel="name"
    [showClear]="false" optionValue="name" (onChange)="updatetk(tk)" [style]="{ border: 'none' }">
    <ng-template pTemplate="selectedItem" let-selectedOption>
      <div class="flex align-items-center gap-2">
        <div>
          {{ selectedOption.name }}
        </div>
      </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
      <div class="flex align-items-center gap-2">
        <div class="d-flex justify-content-start align-items-center gap-3">
          <div>{{ item.name }}</div>
        </div>
      </div>
    </ng-template>
  </p-dropdown>
</td>
<td>
  <button class="btn bg-p-b p-1" (click)="showticketA(tk)">
    <i class="bx bx-show bx-sm"></i>
  </button>
</td>
</tr>
</ng-template>
</p-table>
</p-accordionTab>
</p-accordion>
</div>

<div class="d-flex flex-column align-items-center gap-3 bg-white m-4 justify-content-center p-5 shadow-sm rounded-3"
  *ngIf="arr_tickets.length == 0 && showagrupacion == false">
  <i class="bx bx-file-blank bx-md" style="color: rgb(107, 107, 107)"></i>
  <p>SIN TICKETS PENDIENTES</p>
</div>

<app-admin-tickets-list [tickets]="arr_tickets" *ngIf="showagrupacion == false"></app-admin-tickets-list>
</div>

<app-modal-generate-ticket *ngIf="showModalGenerateTicket" [showModalGenerateTicket]="showModalGenerateTicket"
  (closeEvent)="showModalGenerateTicket = false"></app-modal-generate-ticket>

<app-modal-filter-tickets [showModalFilterTickets]="showModalFilterTickets" [tickets]="all_arr_tickets"
  (closeEvent)="showModalFilterTickets = false"
  (ticketsFiltradosEvent)="arr_tickets = $event"></app-modal-filter-tickets>

<app-modal-tickets-history *ngIf="showModalHistorial" [showModalHistorial]="showModalHistorial"
  (closeEvent)="showModalHistorial = false"></app-modal-tickets-history>

<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>
<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>