<p-table *ngIf="usuariosHelp.length>0" [value]="tickets" [tableStyle]="{
    'min-width': '10rem',
    padding: '10px',
    'min-height': '500px'
  }" styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="65vh" selectionMode="single"
    [(selection)]="ticketSeleccionado">
    <ng-template pTemplate="header">
        <tr class="text-center">
            <th><span class="fs-1">🚥</span></th>
            <th>FOLIO</th>
            <th>FECHA</th>
            <th *ngIf="mostrarFedchaEstimacion">DEATHLINE</th>
            <th>AREA</th>
            <th>CATEGORÍA</th>
            <th>SUBCATEGORÍA</th>
            <th>ESTATUS</th>
            <th>SOLICITANTE</th>
            <th>RESPONSABLE</th>
            <th>ASISTENCIA</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tk>
        <tr [pSelectableRow]="tk" class="bg-opacity-25"
            [ngClass]="{'bg-warning':tk.idEstatusTicket == '7', 'texto-negro':tk.idEstatusTicket == '7'}">
            <td>
                <p-dropdown [options]="prioridadesTicket" [(ngModel)]="tk.idPrioridadTicket" optionLabel="id"
                    [showClear]="false" optionValue="id" (onChange)="actualizaTicket(tk)" [style]="{ border: 'none' }">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <div>
            <td *ngIf="selectedOption.id == '1'">
                <i class="bx bxs-hot bx-sm rounded-3" style="color: red"></i>
            </td>
            <div *ngIf="selectedOption.id != '1'" style="border-radius: 50%" class="p-1" [style]="{
                        'background-color': selectedOption.color,
                        width: '20px',
                        height: '20px'
                      }"></div>
            </div>
            </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div class="d-flex justify-content-start align-items-center gap-3">
                <td *ngIf="item.id == '1'">
                    <i class="bx bxs-hot bx-sm rounded-3" style="color: red"></i>
                </td>
                <div *ngIf="item.id != '1'" style="border-radius: 50%" class="p-1" [style]="{
                        'background-color': item.color,
                        width: '25px',
                        height: '25px'
                      }"></div>
                <div>{{ item.nombre }}</div>
            </div>
        </div>
    </ng-template>
    </p-dropdown>
    </td>
    <td class="text-center">{{tk.folio}}</td>
    <td class="text-center">{{ getDate(tk.fecha) | date: 'dd/MM/yyyy hh:mm a' }}
    </td>
    <td class="text-center" *ngIf="mostrarFedchaEstimacion">
        <p-calendar [showTime]="false" [touchUI]="true" [hourFormat]="'12'" (onSelect)="ManejadorDeFecha($event,tk)"
            placeholder="{{getDate(tk!.fechaEstimacion) | date: 'dd/MM/yyyy hh:mm a'}}"
            title="{{getDate(tk!.fechaEstimacion) | date: 'dd/MM/yyyy hh:mm a'}}" />
    </td>
    <td class="text-center">
        <p-dropdown [options]="areas" [(ngModel)]="tk.idArea" optionLabel="nombre" [showClear]="false" optionValue="id"
            [disabled]="true" (onChange)="actualizaTicket(tk)" [style]="{ border: 'none' }">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-dep pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ dep.nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </td>
    <td class="text-center">
        <p-dropdown [options]="categorias" [(ngModel)]="tk.idCategoria" optionLabel="name" [showClear]="false"
            optionValue="id" [style]="{ width: '100%' }" (onChange)="actualizaTicket(tk)">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-categoria pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ categoria.nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </td>
    <td class="text-center">
        <p-dropdown [options]="obtenerSubcategorias(tk.idCategoria)" [(ngModel)]="tk.idSubcategoria" optionLabel="name" [showClear]="false"
            optionValue="id" [style]="{ width: '100%' }" (onChange)="actualizaTicket(tk)">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-subcategoria pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ subcategoria.nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </td>
    <td class="text-center">
        <p-dropdown [options]="estatusTicket" [(ngModel)]="tk.idEstatusTicket" optionLabel="nombre" [showClear]="false"
            optionValue="id" (onChange)="actualizaTicket(tk)" [style]="{ border: 'none' }">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <i class="bx {{ selectedOption.icon }} {{
                      selectedOption.animation
                    }} bx-sm" [style]="{ color: selectedOption.color }"></i>
                </div>
            </ng-template>
            <ng-template let-st pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div class="d-flex justify-content-start align-items-center gap-3">
    <td>

        <i class="bx {{ st.icon }} {{ st.animation }} bx-sm rounded-3" [style]="{ color: st.color }"></i>
    </td>
    <div>{{ st.nombre }}</div>
    </div>
    </div>
    </ng-template>
    </p-dropdown>
    </td>
    <td class="text-center">{{ tk.solicitante | uppercase }}</td>
    <td class="text-center">
        {{ obtenerNombreResponsable(tk.idResponsableFinaliza) }}
    </td>
    <td class="text-center">
        <p-dropdown [options]="tiposSoporte" [(ngModel)]="tk.idTipoSoporte" optionLabel="name" optionValue="id"
            [showClear]="false" (onChange)="actualizaTicket(tk)" [style]="{ border: 'none' }">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>
                        {{ selectedOption.name }}
                    </div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div class="d-flex justify-content-start align-items-center gap-3">
                        <div>{{ item.name }}</div>
                    </div>
                </div>
            </ng-template>
        </p-dropdown>
    </td>
    <td *ngIf="mostrarAcciones">
        <div class="d-flex justify-content-center align-items-center gap-3">
            <button class="btn btn-warning" (click)="onClickRechazar(tk)" style="margin: 2px"
                *ngIf="mostrarAccionFinalizar && tk.idEstatusTicket == '7'">
                <i class="bx bx-undo bx-sm" pTooltip="RECHAZAR SPORTE" tooltipPosition="top"></i>
            </button>

            <button class="btn" style="margin: 2px; background-color: rgb(138, 0, 218); color: white;"
                (click)="onClickValidacionAdmin(tk)"
                *ngIf="mostrarAccionValidar && tk.idEstatusTicket != '7' && tk.idEstatusTicket == '3'">
                <i class="bx bxs-badge-check bx-sm" pTooltip="VALIDACIÓN ADMINISTRADOR" tooltipPosition="top"></i>
            </button>

            <button class="btn btn-warning" (click)="onClickValidar(tk)" style="margin: 2px"
                *ngIf="mostrarAccionValidar && tk.idEstatusTicket != '7' && tk.idEstatusTicket != '3'">
                <i class="bx bx-check-circle bx-sm" pTooltip="VALIDAR TICKET" tooltipPosition="top"></i>
            </button>
            <button class="btn btn-primary btn-notification" (click)="onClickChat(tk)" style="margin: 2px"
                *ngIf="mostrarAccionChat" [ngClass]="{'has-notification': verificarChatNoLeido(tk)}">
                <i class="bx bx-message-square-dots bx-sm" style="color: rgb(255, 255, 255)" pTooltip="CHAT"
                    tooltipPosition="top"></i>
            </button>
            <button class="btn btn-info" pTooltip="DETALLES" tooltipPosition="top"
                (click)="abrirModalDetalleTicket(tk)">
                <i class='bx bx-show bx-sm'></i>
            </button>
        </div>
    </td>
    </tr>
    </ng-template>
</p-table>


<app-modal-validate-ticket *ngIf="mostrarModalValidarTicket" [mostrarModalValidarTicket]="mostrarModalValidarTicket"
    [ticket]="ticketAccion" (closeEvent)="mostrarModalValidarTicket = false"></app-modal-validate-ticket>

<app-modal-ticket-chat *ngIf="showModalChatTicket" [showModalChatTicket]="showModalChatTicket" [ticket]="ticketAccion"
    (closeEvent)="showModalChatTicket = false"></app-modal-ticket-chat>

<app-modal-ticket-detail *ngIf="mostrarModalTicketDetail" [ticket]="ticket"
    [showModalTicketDetail]="mostrarModalTicketDetail"
    (closeEvent)="mostrarModalTicketDetail = false"></app-modal-ticket-detail>