<div style="margin-top: 80px;" class="p-3">
  <p *ngIf="colorUsuario != undefined">
    <span style="width: 30px; height: 30px;" [style]="{'background-color':colorUsuario!.color}"></span>
  </p>
  <app-calendar [usuariosHelp]="usuariosHelp"
  [tickets]="tickets" 
  [sucursales]="sucursales"
  [mantenimientos]="arr_ultimosmantenimientos"
  [loading]="loading"
  ></app-calendar>
</div>

<app-modal-event-detail  *ngIf="showModalEventeDetail" [showModalEventeDetail]="showModalEventeDetail"
(closeEvent)="showModalEventeDetail = false" [sucursal]="sucursalSeleccionada" [fecha]="FechaSeleccionada">
</app-modal-event-detail>

<app-modal-ticket-detail *ngIf="showModalTicketDetail" [ticket]="itemtk" [showModalTicketDetail]="showModalTicketDetail"
  (closeEvent)="showModalTicketDetail = false"></app-modal-ticket-detail>