<div class="m-3 shadow rounded-3 p-3">
      <p class="fw-bold fs-5 text-center">TICKETS X AREA</p>
      <div class="d-flex justify-content-center gap-3">
       <div *ngFor="let item of tabTickets">
         <div class="p-3 rounded-3" style="background-color: #ddd;">
          {{item.nombre+': '}}<strong>{{item.total}}</strong>
         </div>
       </div>
      </div>
                 <div style="height: 500px;" >
              <ngx-charts-bar-vertical-2d
                [scheme]="colorSchemeG"
                [results]="generarGraficaGeneral()"
                [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [legendTitle]="'ÁREAS'"
                [xAxisLabel]="'MES'"
                [yAxisLabel]="yAxisLabel"
                [showDataLabel]="true"
                >
                </ngx-charts-bar-vertical-2d>
             </div>
</div>

<div class="m-3 shadow rounded-3 p-3">
      <p class="fw-bold fs-5 text-center">TICKETS X TURNO</p>

                  <div style="height: 300px;" >
            <ngx-charts-bar-horizontal-stacked
                [scheme]="colorSchemeTurnos"
                [results]="generarGraficaPorTurnos()"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                  [legendTitle]="'TURNOS'"
                [showDataLabel]="true"
                >
                </ngx-charts-bar-horizontal-stacked>
         </div>
</div>


<div class="m-3 shadow rounded-3 p-3">
      <p class="fw-bold fs-5 text-center">MANTENIMIENTOS</p>

        <div class="d-flex justify-content-center gap-3">
       <div *ngFor="let item of tabMantenimientos">
          <div class="p-3 rounded-3" style="background-color: #ddd;">
          {{item.nombre+': '}}<strong>{{item.total}}</strong>
         </div>
       </div>
      </div>

                  <div style="height: 500px;" >
            <ngx-charts-bar-vertical-stacked
                [scheme]="colorSchemeCategorias"
                [results]="generarGraficaMantenimientos()"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="'SUCURSAL'"
                [yAxisLabel]="'CANTIDAD'"
                  [legendTitle]="'MES'"
                [showDataLabel]="true"
                >
                </ngx-charts-bar-vertical-stacked>
         </div>
</div>

<div class="m-3 shadow rounded-3 p-3">
      <p class="fw-bold fs-5 text-center">TICKETS X CATEGORÍA</p>
    <div style="height: 300px;" >
            <ngx-charts-bar-horizontal-normalized
            [scheme]="colorSchemeCategorias"
            [results]="gCategorias"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
              [legendTitle]="'CATEGORÍAS'"
            >
            </ngx-charts-bar-horizontal-normalized>
    </div>
</div>

<div *ngIf="usuariosSoporte.length>0">
<div class="m-3 shadow rounded-3 p-3"*ngFor="let item of usuariosSoporte">
    <p class="fw-bold fs-5">{{obtenerNombredeArea(item.idArea) +': ' + item.nombre+' '+item.apellidoP+' '+item.apellidoM}}</p>
    <div  style="height: 500px;">
            <ngx-charts-bar-vertical-stacked
            [scheme]="coloresEstatus"
            [results]="datosGraficaUsuario(item)"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="'SUCURSAL'"
            [yAxisLabel]="yAxisLabel"
            [showDataLabel]="true"
              [legendTitle]="'ESTATUS'"
            >
            </ngx-charts-bar-vertical-stacked>
    </div>
</div>
</div>

