<p-dialog [header]="!esNuevoActivoFijo ? 'ACTUALIZAR ACTIVO FIJO - ' + activoFijo.referencia :'CREAR ACTIVO FIJO'"
    [(visible)]="mostrarModalCrearActivoFijo" [modal]="true" [style]="{ 'width': '95vh', 'height': '95vh' }"
    [maximizable]="true" (onHide)="onHide()">
    <form #form="ngForm" (ngSubmit)="enviar(form)">

        <p class="fw-bold">SUCURSAL</p>
        <p-dropdown [options]="sucursales" [(ngModel)]="activoFijo.idSucursal" name="sucursal" [optionValue]="'id'"
            optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
            placeholder="SELECCIONAR SUCURSAL / DEPARTAMENTO" [style]="{width:'100%'}" #formSucursalCtrl="ngModel"
            [ngClass]="{'p-invalid': formSucursalCtrl.invalid && formSucursalCtrl.touched}" required="">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-dep pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ dep.nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <small *ngIf="formSucursalCtrl.invalid && formSucursalCtrl.touched" class="p-error">Campo
            requerido.</small>
        <p></p>

        <p class="fw-bold">ÁREA</p>
        <p-dropdown [options]="areas" [(ngModel)]="activoFijo.idArea" [optionValue]="'id'" name="area"
            optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true" placeholder="SELECCIONAR ÁREA"
            [style]="{width:'100%'}" #formAreaCtrl="ngModel"
            [ngClass]="{'p-invalid': formAreaCtrl.invalid && formAreaCtrl.touched}" required [disabled]="true">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-dep pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ dep.nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <small *ngIf="formAreaCtrl.invalid && formAreaCtrl.touched" class="p-error">Campo requerido.</small>
        <p></p>

        <p class="fw-bold">DESCRIPCIÓN</p>
        <input class="form-control" style="height: 48px;" type="text" placeholder="ESCRIBE LA DESCRIPCIÓN"
            [(ngModel)]="activoFijo.descripcion" name="descripcion"
            [ngClass]="{'p-invalid': formDescripcionCtrl.invalid && formDescripcionCtrl.touched}"
            #formDescripcionCtrl="ngModel" required>
        <small *ngIf="formDescripcionCtrl.invalid && formDescripcionCtrl.touched" class="p-error">
            Campo requerido.
        </small>
        <p></p>

        <div class="form-check form-switch d-flex align-items-center gap-3" *ngIf="usuario.idArea == '4'">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                style="width: 3rem; height: 2rem;" name="esFreidora" [(ngModel)]="activoFijo.esFreidora">
            <label class="form-check-label fs-4" for="flexSwitchCheckChecked">¿ES FREIDORA?</label>
        </div>

        <p class="fw-bold">LOCACIÓN</p>
        <p-dropdown [options]="areasActivosFijos" [(ngModel)]="activoFijo.idAreaActivoFijo" [optionValue]="'id'"
            name="areaActivoFijo" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
            placeholder="SELECCIONAR ÁREA ACTIVO FIJO" [style]="{width:'100%'}" #formareaActivoFijoCtrl="ngModel"
            [ngClass]="{'p-invalid': formareaActivoFijoCtrl.invalid && formareaActivoFijoCtrl.touched}" required>
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-area pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ area.nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <small *ngIf="formareaActivoFijoCtrl.invalid && formareaActivoFijoCtrl.touched" class="p-error">Campo
            requerido.</small>
        <p></p>

        <p class="fw-bold">CATEGORIA</p>
        <p-dropdown [options]="categoriasActivosFijos" [(ngModel)]="activoFijo.idCategoriaActivoFijo"
            [optionValue]="'id'" name="categoriaActivoFijo" optionLabel="nombre" [filter]="true" filterBy="nombre"
            [showClear]="true" placeholder="SELECCIONAR CATEGORIA ACTIVO FIJO" [style]="{width:'100%'}"
            #formCategoriaActivoFijoCtrl="ngModel"
            [ngClass]="{'p-invalid': formCategoriaActivoFijoCtrl.invalid && formCategoriaActivoFijoCtrl.touched}"
            required>
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-categoria pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ categoria.nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <small *ngIf="formCategoriaActivoFijoCtrl.invalid && formCategoriaActivoFijoCtrl.touched" class="p-error">Campo
            requerido.</small>
        <p></p>

        <p class="fw-bold">ESTATUS</p>
        <p-dropdown [options]="estatusActivosFijos" [(ngModel)]="activoFijo.idEstatusActivoFijo" [optionValue]="'id'"
            name="estatusActivoFijo" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
            placeholder="SELECCIONAR ESTATUS ACTIVO FIJO" [style]="{width:'100%'}" #formEstatusActivoFijo="ngModel"
            [ngClass]="{'p-invalid': formEstatusActivoFijo.invalid && formEstatusActivoFijo.touched}" required>
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-estatus pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ estatus.nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <small *ngIf="formEstatusActivoFijo.invalid && formEstatusActivoFijo.touched" class="p-error">Campo
            requerido.</small>
        <p></p>

        <p class="fw-bold">UBICACIÓN</p>
        <p-dropdown [options]="ubicacionesActivosFijos" [(ngModel)]="activoFijo.idUbicacionActivoFijo"
            [optionValue]="'id'" name="ubicacionesActivosFijos" optionLabel="nombre" [filter]="true" filterBy="nombre"
            [showClear]="true" placeholder="SELECCIONAR UBICACIÓN ACTIVO FIJO" [style]="{width:'100%'}"
            #formUbicacionesActivosFijosCtrl="ngModel"
            [ngClass]="{'p-invalid': formUbicacionesActivosFijosCtrl.invalid && formUbicacionesActivosFijosCtrl.touched}"
            required>
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-ubicacion pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ ubicacion.nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <small *ngIf="formUbicacionesActivosFijosCtrl.invalid && formUbicacionesActivosFijosCtrl.touched"
            class="p-error">Campo
            requerido.</small>
        <p></p>

        <p class="fw-bold">COSTO</p>
        <input class="form-control" style="height: 48px;" type="number" placeholder="ESCRIBE EL COSTO DEL ACTIVO"
            [(ngModel)]="activoFijo.costo" name="costo"
            [ngClass]="{'p-invalid': formCostoCtrl.invalid && formCostoCtrl.touched}" #formCostoCtrl="ngModel" required>
        <small *ngIf="formCostoCtrl.invalid && formCostoCtrl.touched" class="p-error">
            Campo requerido.
        </small>
        <p></p>

        <div class="d-flex justify-content-end mt-3">
            <button class="btn bg-p-b p-3">
                <i class='bx bx-send'></i>
                <label *ngIf="esNuevoActivoFijo">ENVIAR</label>
                <label *ngIf="!esNuevoActivoFijo">ACTUALIZAR</label>
            </button>
        </div>

    </form>

</p-dialog>