<p-table [value]="mantenimientos" [tableStyle]="{ 'min-width': '10rem', padding: '10px' }"
    styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="62vh" selectionMode="single"
    [(selection)]="mantenimientoSeleccionado">
    <ng-template pTemplate="header">
        <tr class="text-center">
            <th>NOMBRE</th>
            <th>FECHA</th>
            <th>TERMOSTATO</th>
            <th>PERILLAS</th>
            <th>TORNILLERIA</th>
            <th>RUEDAS</th>
            <th>CABLEADO</th>
            <th>TINAS</th>
            <th>MANGUERAS</th>
            <th>LLAVES DE PASO</th>
            <th>% DE PROGRESO</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-mantenimiento>
        <tr>
            <td class="text-center"> {{ obtenerNombreResponsable(mantenimiento!.idUsuarioSoporte) }}
            </td>
            <td class="text-center">{{ datesHelper.getDate(mantenimiento.fechaFin) | date: 'dd/MM/yyyy hh:mm a' }}</td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'TERMOSTATO')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoTermostato, 'bg-danger': !mantenimiento.mantenimientoTermostato}">
                <label style="color: white;">{{ mantenimiento.mantenimientoTermostato ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'PERILLAS')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoPerillas, 'bg-danger': !mantenimiento.mantenimientoPerillas}">
                <label style="color: white;">{{ mantenimiento.mantenimientoPerillas ? 'Si' : 'No' }}</label>

            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'TORNILLERIA')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoTornilleria, 'bg-danger': !mantenimiento.mantenimientoTornilleria}">
                <label style="color: white;">{{ mantenimiento.mantenimientoTornilleria ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'RUEDAS')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoRuedas, 'bg-danger': !mantenimiento.mantenimientoRuedas}">
                <label style="color: white;">{{ mantenimiento.mantenimientoRuedas ? 'Si' : 'No'
                    }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'CABLEADO')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoCableado, 'bg-danger': !mantenimiento.mantenimientoCableado}">
                <label style="color: white;">{{ mantenimiento.mantenimientoCableado ? 'Si' : 'No'
                    }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'TINAS')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoTina, 'bg-danger': !mantenimiento.mantenimientoTina}">
                <label style="color: white;">{{ mantenimiento.mantenimientoTina ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'MANGUERAS')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoMangueras, 'bg-danger': !mantenimiento.mantenimientoMangueras}">
                <label style="color: white;">{{ mantenimiento.mantenimientoMangueras ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'LLAVES')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoLlavesDePaso, 'bg-danger': !mantenimiento.mantenimientoLlavesDePaso}">
                <label style="color: white;">{{ mantenimiento.mantenimientoLlavesDePaso ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center">{{ maintenanceMtooService.calcularPorcentaje(mantenimiento) }}%</td>
            <td>
                <button class="btn btn-info" pTooltip="DETALLES" tooltipPosition="top"
                    (click)="abrirModalDetalle(mantenimiento)">
                    <i class='bx bx-show bx-sm'></i>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-modal-final-comments *ngIf="mostrarModalComentarios" [mostrarModal]="mostrarModalComentarios"
    [mantenimiento]="mantenimientoSeleccionado"
    (closeEvent)="mostrarModalComentarios = false"></app-modal-final-comments>

<app-modal-maintenance-mtto-imguploader *ngIf="mostrarModalSubirImagen" [mostrarModal]="mostrarModalSubirImagen"
    (closeEvent)="mostrarModalSubirImagen = false" [titulo]="tituloEvidencia"
    [mantenimiento]="mantenimientoSeleccionado"></app-modal-maintenance-mtto-imguploader>

<app-modal-visor-imagenes *ngIf="mostrarModalVisorImagen" [mostrarModal]="mostrarModalVisorImagen"
    [titulo]="tituloVisor!" (closeEvent)="mostrarModalVisorImagen = false"
    [imagenUrl]="urlImagen!"></app-modal-visor-imagenes>