<div class="p-3" style="margin-top: 80px;">
    <h4 class="text-center">PROGRAMAR VISITA {{ area?.nombre }} <span class="fw-bold" style="color: #8B5CF6;">{{ fecha |
            date:'fullDate':'':'es' | uppercase }}</span></h4>
    <div class="row mt-3">
        <div class="col-md-4">
            <p-dropdown [options]="usuariosHelpDropDown" [(ngModel)]="usuarioseleccionado" name="usuario"
                optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
                placeholder="SELECCIONAR USUARIO" [style]="{width:'100%'}" (onChange)="llenarInfoUsuario()">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <div>{{ selectedOption.nombre + ' ' + selectedOption.apellidoP +' '+selectedOption.apellidoM}}
                        </div>
                    </div>
                </ng-template>
                <ng-template let-usuario pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{usuario.nombre + ' ' + usuario.apellidoP +' '+usuario.apellidoM}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="col-md-4">
            <p-calendar [(ngModel)]="fecha" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                dateFormat="dd/mm/yy" [style]="{width:'100%'}" (onSelect)="llenarInfoUsuario()" />
        </div>
        <div class="col-md-2">
            <div class="form-check form-switch d-flex align-items-center gap-3">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                    style="width: 3rem; height: 2rem;" [(ngModel)]="vercalendario">
                <label class="form-check-label fs-4" for="flexSwitchCheckChecked">CALENDARIO</label>
            </div>
        </div>
        <div class="col-md-2">
            <p-button label="Colores" icon="pi pi-cog" (onClick)="abrirmodalColores()" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;" *ngIf="vercalendario && usuario.idRol == '1'">
        <div class="col-md-4">
            <p-dropdown [options]="areas" [(ngModel)]="idArea" [optionValue]="'id'" name="area" optionLabel="nombre"
                [filter]="true" filterBy="nombre" [showClear]="true" placeholder="SELECCIONAR ÁREA"
                [style]="{width:'100%'}">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <div>{{ selectedOption.nombre }}</div>
                    </div>
                </ng-template>
                <ng-template let-dep pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ dep.nombre }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>

    <div class="row mt-3" *ngIf="usuarioseleccionado && !vercalendario">
        <div class="col-md-12">
            <p-button label="NUEVA ACTIVIDAD" icon="pi pi-plus" (onClick)="mostrarModalActividades = true" />
        </div>
    </div>

    <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div *ngIf="!vercalendario">
        <div class="mt-3 bg-white shadow-sm p-3" *ngIf="loading == false">
            <p-pickList [source]="sucursalesOrdenadas" [target]="sucursalesSeleccionadas" sourceHeader="SUCURSALES"
                targetHeader="VISITAR" [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }"
                [targetStyle]="{ height: '30rem' }" filterBy="nombre" sourceFilterPlaceholder="Buscar"
                targetFilterPlaceholder="Buscar" breakpoint="1400px" (onMoveAllToSource)="actualizarListasComentarios()"
                (onMoveAllToTarget)="actualizarListasComentarios()" (onMoveToSource)="actualizarListasComentarios()"
                (onMoveToTarget)="actualizarListasComentarios()">
                <ng-template let-item pTemplate="item">
                    @if(item.id == '-999')
                    {
                    <div class="card p-3 bg-opacity-25" style="background-color: #8B5CF6; color: white;">
                        <p class="m-1">{{item.nombre}}</p>
                    </div>
                    }
                    @else if(item.id == '-998')
                    {
                    <div class="card p-3 bg-opacity-25" style="background-color: #6076d5; color: white;">
                        <p class="m-1">{{item.nombre}}</p>
                    </div>
                    }
                    @else
                    {
                    <app-branch-visit-item [sucursal]="item" [usuariosHelp]="usuariosHelp" [fecha]="fecha"
                        [usuarioSeleccionado]="usuarioseleccionado" [tickets]="obtenerTicketsPorSucursal(item.id)"
                        [ultimosMantenimientos]="arr_ultimosmantenimientos">
                    </app-branch-visit-item>
                    }
                </ng-template>
            </p-pickList>
        </div>

        <div class="mt-3 bg-white p-3">
            <p class="text-center fs-5 fw-bold" *ngIf="indicacionesVisitas.length>0">AGREGAR INDICACIONES / COMENTARIOS
                PARA LA VISITA (OPCIONAL)</p>

            <div class="mt-3" *ngFor="let item of indicacionesVisitas">
                <p class="text-center fw-bold fs-5" style="color: #8B5CF6;">{{obtenerNombreSucursal(item.idSucursal)}}
                </p>
                <p-editor [(ngModel)]="item.comentario" name="descripcion" [style]="{ height: '320px' }" />
            </div>

        </div>
    </div>

    <div *ngIf="vercalendario" class="mt-3">
        <app-calendar [usuariosHelp]="usuariosHelp" [tickets]="tickets" [idUsuarioFiltro]="usuarioseleccionado?.id"
            [idArea]="idArea"></app-calendar>
    </div>


    <div class="d-flex justify-content-end pt-3" *ngIf="!vercalendario">
        <p-button label="GUARDAR" icon="pi pi-save" styleClass="p-button-primary" (onClick)="guardarVisita()"
            [disabled]="usuarioseleccionado == undefined && loading == false"
            *ngIf="registroDeVisita == undefined && registroDeGuardia == undefined">
        </p-button>

        <p-button label="ACTUALIZAR" icon="pi pi-save" styleClass="p-button-primary" (onClick)="actualizar()"
            [disabled]="usuarioseleccionado == undefined && loading == false"
            *ngIf="registroDeVisita != undefined || registroDeGuardia != undefined">
        </p-button>


    </div>


</div>

<app-modal-colors *ngIf="showModalColors" (closeEvent)="showModalColors = false" [showModalColors]="showModalColors"
    [usuariosHelp]="usuariosHelp"></app-modal-colors>

<app-modal-ticket-detail *ngIf="showModalTicketDetail" [ticket]="itemtk" [showModalTicketDetail]="showModalTicketDetail"
    (closeEvent)="showModalTicketDetail = false"></app-modal-ticket-detail>


<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
    [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
    [showTransformOptions]="'translateX(100%)'"></p-toast>

<app-modal-activity [mostrarModal]="mostrarModalActividades" *ngIf="mostrarModalActividades"
    (closeEvent)="mostrarModalActividades = false" (activityEvent)="agregarActividad($event)"></app-modal-activity>