<p-table [value]="mantenimientos" [tableStyle]="{ 'min-width': '10rem', padding: '10px' }"
    styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="62vh" selectionMode="single"
    [(selection)]="mantenimientoSeleccionado">
    <ng-template pTemplate="header">
        <tr class="text-center">
            <th>NOMBRE</th>
            <th>FECHA</th>
            <th>CONEXIONES</th>
            <th>CABLEADO</th>
            <th>RACK</th>
            <th>CONTROLES</th>
            <th>NIVEL DE AUDIO</th>
            <th>CANALES</th>
            <th>% DE PROGRESO</th>
            <th>ACCIONES</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-mantenimiento>
        <tr>
            <td class="text-center"> {{ obtenerNombreResponsable(mantenimiento!.idUsuarioSoporte) }}
            </td>
            <td class="text-center">{{ datesHelper.getDate(mantenimiento.fechaFin) | date: 'dd/MM/yyyy hh:mm a' }}</td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'CONEXIONES')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoConexiones, 'bg-danger': !mantenimiento.mantenimientoConexiones}">
                <label style="color: white;">{{ mantenimiento.mantenimientoConexiones ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'CABLEADO')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoCableado, 'bg-danger': !mantenimiento.mantenimientoCableado}">
                <label style="color: white;">{{ mantenimiento.mantenimientoCableado ? 'Si' : 'No' }}</label>

            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'RACK')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoRack, 'bg-danger': !mantenimiento.mantenimientoRack}">
                <label style="color: white;">{{ mantenimiento.mantenimientoRack ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'CONTROLES')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoControles, 'bg-danger': !mantenimiento.mantenimientoControles}">
                <label style="color: white;">{{ mantenimiento.mantenimientoControles ? 'Si' : 'No'
                    }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'NIVEL AUDIO')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoNivelAudio, 'bg-danger': !mantenimiento.mantenimientoNivelAudio}">
                <label style="color: white;">{{ mantenimiento.mantenimientoNivelAudio ? 'Si' : 'No'
                    }}</label>
            </td>
            <td class="text-center" (click)="abrirModalImagen(mantenimiento, 'CANALES')"
                [ngClass]="{'bg-success': mantenimiento.mantenimientoCanales, 'bg-danger': !mantenimiento.mantenimientoCanales}">
                <label style="color: white;">{{ mantenimiento.mantenimientoCanales ? 'Si' : 'No' }}</label>
            </td>
            <td class="text-center">{{ maintenance6x6AvService.calcularPorcentaje(mantenimiento) }}%</td>
            <td style="display: flex; gap: 10px">
                <button class="btn btn-info" pTooltip="DETALLES" tooltipPosition="top"
                    (click)="abrirModalDetalle(mantenimiento)">
                    <i class='bx bx-show bx-sm'></i>
                </button>

                <button class="btn btn-primary btn-notification" (click)="onClickChat(mantenimiento)"
                    style="margin: 2px">
                    <i class="bx bx-message-square-dots bx-sm" style="color: rgb(255, 255, 255)" pTooltip="CHAT"
                        tooltipPosition="top"></i>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-modal-final-comments *ngIf="mostrarModalComentarios" [mostrarModal]="mostrarModalComentarios"
    [mantenimiento]="mantenimientoSeleccionado"
    (closeEvent)="mostrarModalComentarios = false"></app-modal-final-comments>

<app-modal-av-mtto-imguploader *ngIf="mostrarModalSubirImagen" [mostrarModal]="mostrarModalSubirImagen"
    (closeEvent)="mostrarModalSubirImagen = false" [titulo]="tituloEvidencia"
    [mantenimiento]="mantenimientoSeleccionado"></app-modal-av-mtto-imguploader>

<app-modal-visor-imagenes *ngIf="mostrarModalVisorImagen" [mostrarModal]="mostrarModalVisorImagen"
    [titulo]="tituloVisor!" (closeEvent)="mostrarModalVisorImagen = false"
    [imagenUrl]="urlImagen!"></app-modal-visor-imagenes>

<app-modal-maintenance-chat *ngIf="mostrarModalChat" [mostrarModal]="mostrarModalChat"
    (closeEvent)="mostrarModalChat = false"
    [idMnatenimiento]="mantenimientoSeleccionado?.id"></app-modal-maintenance-chat>