<div class="m-3">
<div class="mt-5">
<h3 class="text-center">PRECIOS AYC</h3>
</div>
<div class="d-flex justify-content-end">
    <button class="btn bg-p-b m-3 p-3" (click)="abrirModalColores()">COLORES Y PRECIOS AYC</button>
    <button class="btn bg-p-b m-3 p-3" (click)="abrirModalAgregar()">AGREGAR PRECIOS AYC EN SUCURSAL</button>
</div>

<div class="p-3">
  <p-table [value]="preciosdata" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>REGIÓN</th>
            <th>SUCURSAL</th>
            <th>LUNES</th>
            <th>MARTES</th>
            <th>MIERCOLES</th>
            <th>JUEVES</th>
            <th>VIERNES</th>
            <th>SÁBADO</th>
            <th>DOMINGO</th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{item.grupo}}</td>
          <td>{{item.nombreSuc}}</td>
          <td [ngStyle]="{'background-color': obtenerColor(item.cLunes), 'color': getTextColor(obtenerColor(item.cLunes))}">{{obtenerPrecio(item.cLunes)}}</td>
          <td [ngStyle]="{'background-color': obtenerColor(item.cMartes), 'color': getTextColor(obtenerColor(item.cMartes))}">{{obtenerPrecio(item.cMartes)}}</td>
          <td [ngStyle]="{'background-color': obtenerColor(item.cMiercoles), 'color': getTextColor(obtenerColor(item.cMiercoles))}">{{obtenerPrecio(item.cMiercoles)}}</td>
          <td [ngStyle]="{'background-color': obtenerColor(item.cJueves), 'color': getTextColor(obtenerColor(item.cJueves))}">{{obtenerPrecio(item.cJueves)}}</td>
          <td [ngStyle]="{'background-color': obtenerColor(item.cViernes), 'color': getTextColor(obtenerColor(item.cViernes))}">{{obtenerPrecio(item.cViernes)}}</td>
          <td [ngStyle]="{'background-color': obtenerColor(item.cSabado), 'color': getTextColor(obtenerColor(item.cSabado))}">{{obtenerPrecio(item.cSabado)}}</td>
          <td [ngStyle]="{'background-color': obtenerColor(item.cDomingo), 'color': getTextColor(obtenerColor(item.cDomingo))}">{{obtenerPrecio(item.cDomingo)}}</td>
          <th>&nbsp;<button class="btn btn-primary" (click)="abrirModalEditar(item)"> 
                <i class='bx bx-edit bx-sm'></i>
                </button>
         </th>  
          <td> <button class="btn btn-danger" (click)="confirmarEliminar(item.id)"> 
                <i class='bx bx-trash bx-sm'></i>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>  
</div>


</div>

<app-modal-agregar-precio-ayc *ngIf="modalAgregar" [visible]="modalAgregar" (closeEvent)="modalAgregar = false" 
(actualizarData)="obtenerPrecios()" [itemReg]="itemReg"></app-modal-agregar-precio-ayc>

<app-modal-precios-ayc *ngIf="modalcolores" [visible]="modalcolores" (closeEvent)="modalcolores = false" 
(actualizarData)="obtenerPrecios();obtenerColores()">
</app-modal-precios-ayc>