<p-dialog [header]="activoFijo.referencia + ' - ' + activoFijo.descripcion" [(visible)]="mostrarModalDetalleActivoFijo"
    [modal]="true" [style]="{ 'width': '75vw', 'height': '95vh' }" [maximizable]="true" (onHide)="onHide()" styleClass="dialog-rojo">

    <h5 class="text-dark fw-bold text-center">TICKETS</h5>
    <p></p>

    <app-requester-tickets-list [tickets]="tickets" [mostrarAcciones]="false" [mostrarEstrellas]="true"
        [mostrarFedchaEstimacion]="false" [mostrarEstrellas]="false" (clickEvent)="abrirModalDetalleTicket($event)"
        [mostrarAccionValidar]="false"></app-requester-tickets-list>

</p-dialog>

<app-modal-ticket-detail *ngIf="mostrarModalTicketDetail" [ticket]="ticket"
    [showModalTicketDetail]="mostrarModalTicketDetail"
    (closeEvent)="mostrarModalTicketDetail = false"></app-modal-ticket-detail>