<div class="rating-container" [ngClass]="{'editable': editable}">
    <p class="rating-title" *ngIf="editable">
        {{ calificaAnalista ? 'Califica tu experiencia con la sucursal:' : 'Califica tu experiencia con nuestro soporte:' }}
    </p>
    <div class="star-rating">
        <i *ngFor="let star of stars; let i = index" 
           [class]="star ? 'bx bxs-star star-filled' : 'bx bx-star star-empty'" 
           (click)="editable ? setRating(i) : null"
           class="star-icon">
        </i>
    </div>
</div>