<div class="pt-5">
    <div class="pt-3 container">
        <div class="m-2 mt-3 bg-white p-3">

            <h2>HISTORIAL DE VERSIONES</h2>
            <br>
            <p-table [value]="versiones" scrollable="true" scrollHeight="400px" [tableStyle]="{ 'min-width': '70rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Versión</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-version>
                    <tr (click)="abrirModalEditar(version)" style="cursor: pointer;">
                        <td>{{ version.version }}</td>
                        <td [innerHTML]="version.descripcion" class="col-descripcion"></td>
                        <td>{{ datesHelper.getDate(version.fecha) | date }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<app-modal-version-edit *ngIf="mostrarModalEditar" [mostrarModal]="mostrarModalEditar"
    (closeEvent)="mostrarModalEditar = false" [version]="versionSeleccionada"></app-modal-version-edit>