 <p-dialog 
    header="Archivos" 
    [modal]="true"
    [(visible)]="visible" 
    [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [maximizable]="false"
    (onHide)="onHide()"
     >
        
     <p class="fs-5 fw-bold text-center">{{links.length}} ARCHIVO(S)</p>
     
     <div class="d-flex justify-content-center p-3" *ngIf="loading">
     <i class="bx bx-loader bx-lg bx-spin" style="color: rgb(0, 153, 255)"></i>
</div>

     <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of links; let i = index">
     <td>
         <i class='bx bxs-file-pdf bx-lg' *ngIf="esPdf(item)"></i>
            <i class='bx bx-image bx-lg' *ngIf="!esPdf(item) && !esExcel(item)"></i>
            <i class='bx bxs-file-doc bx-lg' *ngIf="esExcel(item)"></i>
     </td>
      <td>{{getFileNameFromUrlManual(item)}}</td>
      <td><button class="btn btn-warning" (click)="downloadPdfDirect(item)"><i class='bx bx-cloud-download bx-sm'></i></button></td>
      <td>  <button class="btn btn-danger" (click)="confrimarEliminar(item,i)"><i class='bx bx-trash bx-sm' ></i></button></td>
    </tr>
  </tbody>
</table>

</p-dialog>


<p-confirmDialog />