<app-tpvs-devices-table *ngIf="mostrarTpvs" [sucursal]="sucursal"></app-tpvs-devices-table>

<p-accordion class="custom-branches-accordion w-full" *ngIf="!mostrarTpvs">
  <p-accordionTab *ngFor="let item of ['Crítico', 'Alto', 'Medio', 'Bajo']">
    <ng-template pTemplate="header">
      <div class="branch-accordion-header priority-{{item}}">
        
        <div class="branch-info-group">
          <!-- Clean Number Badge ONLY -->
          <div class="branch-count-badge">
            {{ obtenerContadorTickets(item) }}
          </div>

          <!-- Branch Name (Priority) ONLY -->
          <span class="branch-title text-uppercase">{{ item }}</span>
        </div>

        <!-- Action / Alert Badges -->
        <div class="branch-actions-indicators">
          

          <span class="indicator-badge badge-new" 
            *ngIf="verificarTicketsPorValidar(obtenerTicketsFiltrados(item))" 
            pTooltip="TICKET LISTO" tooltipPosition="top">
            <i class="bx bx-check-double bx-tada"></i>
          </span>
        </div>
      </div>
    </ng-template>

    <div class="accordion-tables-wrapper">
      <app-requester-tickets-list 
        [tickets]="obtenerTicketsFiltrados(item)"
        (clickEvent)="abrirModalDetalleTicket($event)" 
        [mostrarEstrellas]="false" 
        [mostrarAccionValidar]="false"
        [esEspectadorActivo]="esEspectadorActivo">
      </app-requester-tickets-list>
    </div>
  </p-accordionTab>
</p-accordion>