<div>
    
<div class="d-flex justify-content-center" *ngIf="loading">
                    <div class="lds-ring">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>

  <div class="row">
        <div class="col-md-3">
          <p>FECHA INICIO</p>
          <p-calendar 
    [(ngModel)]="fechaini" 
    [iconDisplay]="'input'" 
    [showIcon]="true" 
    inputId="icondisplay" [style]="{width:'100%'}" />
        </div>
         <div class="col-md-3">
           <p>FECHA FIN</p>
          <p-calendar 
    [(ngModel)]="fechafin" 
    [iconDisplay]="'input'" 
    [showIcon]="true" 
    inputId="icondisplay" [style]="{width:'100%'}" />
        </div>

          <div class="col-md-3">
            <p>SUCURSAL</p>
          <p-multiSelect [options]="sucursales" [(ngModel)]="sucursalesSel" [filter]="true" optionLabel="nombre"
        placeholder="SELECCIONAR SUCURSALES" [style]="{width:'100%'}" />
        </div>

        <div class="col-md-3"><p>&nbsp;</p><button class="btn btn-warning p-2" (click)="buscarRegistros()"><i class='bx bx-search'></i>&nbsp;BUSCAR</button>&nbsp;
        <button class="btn btn-success" [disabled]="dataReporte.length == 0" (click)="exportarExcel(dataReporte)"><img width="24" height="24" src="https://img.icons8.com/fluency/40/microsoft-excel-2019.png" alt="microsoft-excel-2019"/>&nbsp;EXCEL</button>
        </div>
      </div>

<div class="m-3">
     <p-table [value]="dataReporte" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
          <th>SUCURSAL</th>
          <th>ENTREGA CEDIS</th>
          <th>RECOLECCIÓN TOTAL</th>
          <th>RECOLECCION CONFIRMADA POR CEDIS</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
         <tr>
            <td>{{obtenerNombreSucursal(record.idf)}}</td>
          <td>{{ record.entregaCedis | number:'1.0-2'}}</td>
          <td class="bg-opacity-25 bg-primary">{{ record.recoleccion | number:'1.0-2'  }}</td>
          <td class="bg-opacity-25 bg-success">{{ record.recoleccionConfirmada | number:'1.0-2' }}</td>
        </tr>
    </ng-template>
</p-table>
</div>

</div>