// .avatars-container {
//   display: flex;
//   gap: 6px;
//   margin-top: 8px;
// }
.avatars-container {
  display: flex;
  flex-wrap: wrap;   /* 👈 permite que bajen */
  gap: 6px;
  margin-top: 8px;
  max-width: 100%;   /* evita que empuje la tarjeta */
}

/* CONTENEDOR */
.avatar-wrapper {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  overflow: visible;
  margin-bottom: 12px;
}

/* AVATAR */
.avatar-item {
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* HOVER */
.avatar-wrapper:hover .avatar-item {
  transform: scale(1.08);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
}

/* SELECCIONADO */
.avatar-wrapper.selected .avatar-item {
  // box-shadow: 0 0 0 3px #0d6efd;
  box-shadow: 0 0 0 3px #facc15; // dorado
}

/* CORONA */
.crown-icon {
  position: absolute;
  top: -18px;
  left: 50%;
  font-size: 0.9rem;
  color: gold;
  opacity: 0;
  transform: translateX(-50%) scale(0.5);
  transition: all 0.2s ease;
  pointer-events: none;

  /* relleno visual */
  text-shadow:
    0 0 1px gold,
    0 0 1px gold;
}

/* CORONA SOLO CUANDO ESTÁ SELECCIONADO */
.avatar-wrapper.selected .crown-icon {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

/* PROGRESO SUBTAREAS */
.progreso-responsable {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2196f3;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 1px 4px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  pointer-events: none;
  white-space: nowrap;
  z-index: 2;
}
