.avatars-container {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}

/* CONTENEDOR */
.avatar-wrapper {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  overflow: visible;
}

/* AVATAR */
.avatar-item {
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* HOVER */
.avatar-wrapper:hover .avatar-item {
  transform: scale(1.08);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
}

/* SELECCIONADO */
.avatar-wrapper.selected .avatar-item {
  // box-shadow: 0 0 0 3px #0d6efd;
  box-shadow: 0 0 0 3px #facc15; // dorado
}

/* CORONA */
.crown-icon {
  position: absolute;
  top: -18px;
  left: 50%;
  font-size: 0.9rem;
  color: gold;
  opacity: 0;
  transform: translateX(-50%) scale(0.5);
  transition: all 0.2s ease;
  pointer-events: none;

  /* relleno visual */
  text-shadow:
    0 0 1px gold,
    0 0 1px gold;
}

/* CORONA SOLO CUANDO ESTÁ SELECCIONADO */
.avatar-wrapper.selected .crown-icon {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
