<p-dialog header="CREAR RESPONSABLE" [modal]="true" [(visible)]="mostrarModal" [style]="{ width: '85vw' }"
  [breakpoints]="{ '1199px': '80vw', '575px': '95vw' }" [maximizable]="true" (onHide)="onHide()">

  <!-- FORMULARIO -->
  <form #f="ngForm" (ngSubmit)="enviar(f)">
    <div class="row align-items-center">

      <!-- NOMBRE -->
      <div class="col-md-4">
        <p class="fw-bold mb-1">NOMBRE</p>
        <input class="form-control" style="height: 48px" type="text" placeholder="NOMBRE DEL RESPONSABLE"
          [(ngModel)]="nuevoResponsable.nombre" name="nombre" required minlength="3" />
      </div>

      <!-- POSICIÓN -->
      <div class="col-md-4">
        <p class="fw-bold mb-1">POSICIÓN / PUESTO</p>
        <input class="form-control" style="height: 48px" type="text" placeholder="EJ. GERENTE, SUPERVISOR"
          [(ngModel)]="nuevoResponsable.posicion" name="posicion" required />
      </div>

      <!-- SUCURSAL -->
      <div class="col-md-4">
        <p class="fw-bold mb-1">SUCURSAL / DEPARTAMENTO</p>
        <p-dropdown [options]="sucursales" [(ngModel)]="nuevoResponsable.idSucursal" name="sucursal" optionValue="id"
          optionLabel="nombre" [filter]="true" [showClear]="true" placeholder="SELECCIONAR SUCURSAL"
          [style]="{ width: '100%' }" (onChange)="onSucursalChange($event.value)" required></p-dropdown>
      </div>

      <!-- CORREO -->
      <div class="col-md-4 mt-3">
        <p class="fw-bold mb-1">CORREO</p>
        <input type="email" class="form-control" placeholder="correo@operamx.com" [(ngModel)]="nuevoResponsable.correo"
          name="correo" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
      </div>

      <!-- GLOBAL + COLOR -->
      <div class="col-md-8 mt-3">
        <div class="row">

          <!-- ES GLOBAL -->
          <div class="col-md-4">
            <p class="fw-bold mb-1">ES GLOBAL?</p>

            <div class="d-flex align-items-center gap-2">
              <p-inputSwitch [(ngModel)]="nuevoResponsable.esGlobal" name="esGlobal">
              </p-inputSwitch>

              <span class="badge" [ngClass]="nuevoResponsable.esGlobal ? 'bg-success' : 'bg-secondary'">
                {{ nuevoResponsable.esGlobal ? 'SI' : 'NO' }}
              </span>
            </div>
          </div>

          <!-- COLOR + AVATAR -->
          <div class="col-md-4">
            <p class="fw-bold mb-1">COLOR</p>

            <div class="d-flex align-items-center gap-2">
              <ngx-avatars [name]="nuevoResponsable.nombre || ' '" [size]="32" [bgColor]="nuevoResponsable.color">
              </ngx-avatars>

              <input type="color" class="form-control form-control-color" [(ngModel)]="nuevoResponsable.color"
                name="color" required>
            </div>
          </div>

          <div class="col-md-4 text-md-end mt-3 mt-md-0">
            <br>
            <button type="button" class="btn btn-outline-primary w-100" (click)="verTodosResponsables()">
              <i class="fa-solid fa-list me-2"></i>
              VER TODOS
            </button>
          </div>
        </div>
      </div>





      <!-- BOTÓN -->
      <div class="d-flex justify-content-end mt-3">
        <button pButton type="submit" label="Agregar" [disabled]="f.invalid || cargando"></button>
      </div>

    </div>
  </form>

  <!-- TABLA -->
  <div class="mt-4" style="min-height: 300px">
    <p-table [value]="responsables" [tableStyle]="{ 'min-width': '50rem' }">

      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Posición</th>
          <th>Correo</th>
          <th>Sucursal</th>
          <th>Color</th>
          <th>Global</th>
          <th>PIN</th>
          <th>Eliminar</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-res>
        <tr>

          <!-- NOMBRE -->
          <td>
            <input type="text" class="form-control" [(ngModel)]="res.nombre" [readonly]="!res.editando"
              (click)="activarEdicion(res)" (blur)="guardarCambios(res)" (keydown.enter)="guardarCambios(res)" />
          </td>

          <!-- POSICIÓN -->
          <td>
            <input type="text" class="form-control" [(ngModel)]="res.posicion" [readonly]="!res.editando"
              (click)="activarEdicion(res)" (blur)="guardarCambios(res)" (keydown.enter)="guardarCambios(res)" />
          </td>

          <!-- CORREO -->
          <td>
            <input type="email" class="form-control" [(ngModel)]="res.correo" [readonly]="!res.editando"
              (click)="activarEdicion(res)" (blur)="guardarCambios(res)" (keydown.enter)="guardarCambios(res)" />
          </td>

          <!-- SUCURSAL -->
          <td>
            <label for="">
              {{sucursalesMap.get(res.idSucursal)}}
            </label>
          </td>

          <!-- COLOR -->
          <td>
            <input type="color" class="form-control form-control-color" [(ngModel)]="res.color"
              (change)="guardarCambios(res)">
          </td>

          <!-- ES GLOBAL -->
          <td class="text-center">
            <div class="d-flex align-items-center justify-content-center gap-2">
              <p-inputSwitch [(ngModel)]="res.esGlobal" (onChange)="guardarCambios(res)">
              </p-inputSwitch>

              <span class="badge" [ngClass]="res.esGlobal ? 'bg-success' : 'bg-secondary'">
                {{ res.esGlobal ? 'SI' : 'NO' }}
              </span>
            </div>
          </td>

          <!-- PIN -->
          <td>
            <div class="d-flex align-items-center gap-2">
              <input type="text" class="form-control text-center" style="width: 90px" [value]="res.pin" disabled />

              <p-button icon="pi pi-refresh" severity="secondary" pTooltip="Regenerar PIN"
                (onClick)="regenerarPin(res)">
              </p-button>
            </div>
          </td>

          <!-- ELIMINAR -->
          <td>
            <p-button icon="pi pi-trash" severity="danger" (onClick)="eliminar(res)"></p-button>
          </td>

        </tr>
      </ng-template>

    </p-table>
  </div>

</p-dialog>

<p-toast></p-toast>
