<div class="d-flex justify-content-center" *ngIf="loading">
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<full-calendar #calendar [options]="calendarOptions">
  <ng-template #eventContent let-arg>
    <div class="p-1">
      @if(arg.event.title == 'GUARDIA')
      {
      <div class="p-1 evento-calendario">
        <b><i class='bx bx-shield bx-sm'></i> {{ arg.event.title }}</b>
        <p>{{obtenerNombreUsuario(arg.event.extendedProps.idUsuario)}}</p>
      </div>
      }
      @else if(arg.event.title.indexOf('ACTIVIDAD:') >= 0)
      {
      <div class="p-1 evento-calendario">
        <b><i class='bx bx-task bx-sm'></i> {{ arg.event.title }}</b>
        <p>{{obtenerNombreUsuario(arg.event.extendedProps.idUsuario)}}</p>
      </div>
      }
      @else
      {
      <div class="p-1 evento-calendario">
        <b><i class='bx bx-store bx-sm'></i> {{ arg.event.title }}</b>
        <p class="p-0">{{obtenerNombreUsuario(arg.event.extendedProps.idUsuario)}}</p>
        <p class="p-0">
          <span class="p-1 bg-white text-dark rounded-3">
            {{arg.event.extendedProps.ticketsCount}} TICKETS:
            {{arg.event.extendedProps.ticketsFinalizados}} RESUELTOS
          </span>
        </p>
        <p class="p-0">
          <span class="p-1 bg-white text-dark rounded-3">
            {{textoMantenimiento(arg.event.extendedProps.idArea)}}:
            {{calcularPorcentaje(arg.event.extendedProps.mantenimientosDelDia[0], arg.event.extendedProps.idArea)}}%
          </span>
        </p>
      </div>
      }
    </div>
  </ng-template>
</full-calendar>

<app-modal-event-detail *ngIf="showModalEventeDetail" [showModalEventeDetail]="showModalEventeDetail"
  (closeEvent)="showModalEventeDetail = false" [sucursal]="sucursalSeleccionada" [fecha]="FechaSeleccionada"
  [comentario]="comentario" [usuariosHelp]="usuariosHelp" [usuarioSeleccionado]="usuarioSeleccionado">
</app-modal-event-detail>