<div class="p-3">
<h3 class="text-center">RECOLECCIÓN TRAMPA DE ACEITE</h3>

<div class="d-flex justify-content-center p-3" *ngIf="loading">
     <i class="bx bx-loader bx-lg bx-spin" style="color: rgb(0, 153, 255)"></i>
</div>


  <p-tabView>
    <p-tabPanel header="PENDIENTES">
               <p-table [value]="entregas" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                  <th>SUCURSAL</th>
                  <th>FECHA</th>
                   <th>COMENTARIOS CEDIS</th>
                   <th>ESTATUS</th>
                  <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
                <tr>
                    <td>{{obtenerNombreSucursal(record.idSucursal)}}</td>
                     <td>{{ getDate(record.fecha) | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ record.comentariosCedis || '' }}</td>
                  <td *ngIf="record.comentariosCedis == null"><i class='bx bx-time bx-sm text-primary'></i>&nbsp;POR VALIDAR</td>
                  <td *ngIf="record.comentariosCedis != null"><i class='bx bx-x-circle bx-sm text-danger' ></i>&nbsp;RECHAZADO</td>
                  <td><button class="btn btn-primary" (click)="abrirModalDevolucion(record)"><i class='bx bx-check-circle' ></i>&nbsp;RECOLECCIÓN</button></td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="HISTORIAL">
      <div class="row">
        <div class="col-md-3">
          <p>FECHA INICIO</p>
          <p-calendar 
    [(ngModel)]="fechaini" 
    [iconDisplay]="'input'" 
    [showIcon]="true" 
    inputId="icondisplay" [style]="{width:'100%'}" />
        </div>
         <div class="col-md-3">
           <p>FECHA FIN</p>
          <p-calendar 
    [(ngModel)]="fechafin" 
    [iconDisplay]="'input'" 
    [showIcon]="true" 
    inputId="icondisplay" [style]="{width:'100%'}" />
        </div>
        <div class="col-md-3"><p>&nbsp;</p><button class="btn btn-warning p-2" (click)="consultarEntregasTAH()"><i class='bx bx-search'></i>&nbsp;BUSCAR</button></div> 
      
      </div>
        <div class="mt-3 mb-3">
          <p-triStateCheckbox [(ngModel)]="value" inputId="tricheckbox" (onChange)="cambiarFIltro()" />&nbsp;&nbsp;{{estatusfiltro}}
        </div>
          <p-table [value]="entregasH" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
              <tr>
                <th>SUCURSAL</th>
                <th>FECHA</th>
                <th>RECOLECCIÓN</th>
                <th>75%</th>
                <th>ESTATUS</th>
                <th>DIFERENCIA</th>
                <th>COMENTARIOS CEDIS</th>
                <th>COMENTARIOS SUCURSAL</th>
                <th>FINALIZADO</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-record>
              <tr class="bg-opacity-25" [ngClass]="{
        'bg-danger': record.intercambio == 1,
        'bg-success': record.intercambio == 2,
        'bg-warning': record.intercambio == 3
        }"> 
                  <td>{{obtenerNombreSucursal(record.idSucursal)}}</td>
                  <td>{{ getDate(record.fecha) | date: 'dd/MM/yyyy' }}</td>
                     <!-- <td>{{ getDate(record.fecha) | date: 'dd/MM/yyyy hh:mm a' }}</td> -->
                <td>{{ record.entregaSucursal || '' }}</td>
                <td>{{ record.porcentaje75*100 |number:'1.0-0'}}%</td>
                      <td *ngIf="record.intercambio == 1"><i class='bx bx-minus-circle bx-sm' style="color:red"></i></td>
                 <td *ngIf="record.intercambio == 2"><i class='bx bx-check-circle bx-sm' style="color:rgb(44, 189, 0)"></i></td>
                  <td *ngIf="record.intercambio == 3"><i class='bx bx-plus-circle bx-sm' style="color:rgb(255, 153, 0)"></i></td>
                <td>{{ record.diferencia || '' }}</td>
                <td>{{ record.comentariosCedis || '' }}</td>
                <td>{{ record.comentariosSucursal || '' }}</td>
                <td *ngIf="record.status == 2"><i class='bx bx-checkbox bx-md text-primary'></i></td>
                <td *ngIf="record.status == 3"><i class='bx bx-checkbox-checked bx-md text-success'></i></td>
              </tr>
          </ng-template>
      </p-table>

    </p-tabPanel>
</p-tabView>

</div>


<p-dialog header="REGISTRAR ENTREGA TRAMPA DE ACEITE" [modal]="true" [(visible)]="mostrarModalDevolucion" [style]="{ width: '70rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <div class="p-3" style="min-height: 400px;">
        <div class="col-12">
          <p>CANTIDAD RECOLECCIÓN</p>
          <p-inputNumber 
            inputId="integeronly" 
            [(ngModel)]="formCantidad"
            [style]="{width:'100%'}"
            class="w-100"
            /> 
        </div>
        <div class="col-12 mt-3">
          <p>COMENTARIOS</p>
          <textarea class="form-control p-3" [(ngModel)]="formcomentarios"></textarea>
        </div>
        <div class="col-12 mt-3">
          <button class="btn btn-success" (click)="confirmacion()"><i class='bx bx-save'></i>&nbsp;GUARDAR</button>
        </div>
    </div>
</p-dialog>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>

  <p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
      <p>{{ message.message }}</p>
      <p class="text-danger fw-bold">{{formCantidad}} PIEZAS</p>
    </div>
  </ng-template>
</p-confirmDialog>