<div class="pt-5">
    <div class="container mt-4 px-3">

        <div class="text-center mb-3">
            <img src="assets/img/RW_LogoWEB.png" alt="Logo" class="img-fluid" style="max-height: 80px;">
        </div>


        <div class="card shadow-sm rounded-4">
            <div class="card-body">

                <h5 class="card-title fw-bold text-primary text-center">
                    {{ activo.descripcion || 'Activo sin descripción' }}
                </h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Referencia:</strong>
                        <span>{{ activo.referencia || 'N/A' }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Sucursal:</strong>
                        <span>{{ nombreSucursal(activo.idSucursal) }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Área:</strong>
                        <span>{{ nombreArea(activo.idArea) }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Categoría:</strong>
                        <span>{{ nombreCategoriaActivoFijo(activo.idCategoriaActivoFijo) }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Ubicación:</strong>
                        <span>{{ nombreUbicacionActivoFijo(activo.idUbicacionActivoFijo) }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Locación:</strong>
                        <span>{{ nombreAreaActivoFijo(activo.idAreaActivoFijo) }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Costo:</strong>
                        <span>{{ activo.costo ? ('$' + activo.costo.toFixed(2)) : 'No registrado' }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Estado:</strong>
                        <span>{{ nombreEstatusActivoFijo(activo.idEstatusActivoFijo) }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>No. Mantenimientos:</strong>
                        <span>{{ activo.mantenimientos.length }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between"
                        [ngClass]="{ 'bg-danger text-white':getCostoTotalMantenimientos() > activo.costo! }">
                        
                        <strong>Costo mantenimientos:</strong>
                        <span>{{ getCostoTotalMantenimientos() | currency }}</span>
                    </li>
                </ul>

                <br>


                <div class="row mb-3">
                    <div class="col-12 col-md-6 d-grid mb-2 mb-md-0">
                        <button class="btn btn-primary" (click)="mostrarModalTickets = true">
                            <i class="bi bi-ticket me-2"></i>
                            TICKETS
                        </button>
                    </div>
                    <div class="col-12 col-md-6 d-grid">
                        <button class="btn btn-warning" (click)="mostrarModalMantenimientos = true">
                            <i class="bi bi-tools me-2"></i>
                            MANTENIMIENTOS
                        </button>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
    [showTransformOptions]="'translateX(100%)'"></p-toast>


<app-modal-fixed-asset-tickets *ngIf="mostrarModalTickets" [mostrarModalDetalleActivoFijo]="mostrarModalTickets"
    [activoFijo]="activo" (closeEvent)="mostrarModalTickets = false"></app-modal-fixed-asset-tickets>

<app-modal-fixed-asset-maintenance *ngIf="mostrarModalMantenimientos" [mostrarModal]="mostrarModalMantenimientos"
    [activoFijo]="activo" (closeEvent)="mostrarModalMantenimientos = false"></app-modal-fixed-asset-maintenance>