.task-card {
    background: #fff;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.2s ease;
}

.task-card:hover {
    background: #f1f5ff;
}

.titulo {
    font-weight: 600;
    margin-bottom: 5px;
}

.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fecha {
    font-size: 12px;
    color: #666;
}

.estatus {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/* To Do */
.estatus-1 {
    background: #f31212;
}

/* Working */
.estatus-2 {
    background: #ffaa00bf;
}

/* Pause */
.estatus-3 {
    background: #5448f7;
}

/* Done */
.estatus-4 {
    background: #30e91f;
}





.fila-etiqueta {
    width: 100%;
    display: flex;
    justify-content: flex-start; // 👈 ahora a la izquierda
    margin-top: 4px;
    margin-bottom: 6px;
}

.etiqueta-contenedor {
    display: flex;
    align-items: center;
    gap: 6px;

    background: #f1f1f1;
    padding: 4px 10px;
    border-radius: 6px;

    font-size: 12px;
    font-weight: 500;
    color: #333;
}

.etiqueta-icono {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #c7c7c7;
}