<p-table *ngIf="usuariosHelp.length>0" [value]="tickets" [tableStyle]="{
    'min-width': '10rem',
    padding: '10px',
    'min-height': '500px'
  }" styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="65vh" selectionMode="single"
    [(selection)]="ticketSeleccionado">
    <ng-template pTemplate="header">
        <tr class="text-center">
            <th><i class="bx bx-slider-alt text-muted fs-5" title="Prioridad"></i></th>
            <th>FOLIO</th>
            <th>FECHA</th>
            <th *ngIf="mostrarFedchaEstimacion">DEATHLINE</th>
            <th>AREA</th>
            <th>CATEGORÍA</th>
            <th>SUBCATEGORÍA</th>
            <th>ESTATUS</th>
            <th>SOLICITANTE</th>
            <th>RESPONSABLE</th>
            <th>ASISTENCIA</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tk>
        <tr [pSelectableRow]="tk" class="bg-opacity-25"
            [ngClass]="{'bg-warning':tk.idEstatusTicket == '7', 'texto-negro':tk.idEstatusTicket == '7'}">
            <td class="text-center">
                <i *ngIf="!tk.esAsignadoEspecialista && tk.idPrioridadTicket != '1'" class="bx bxs-circle bx-sm"
                    [style]="{ color: obtenerBackgroundColorPrioridad(tk.idPrioridadTicket) }">
                </i>
                <i class="bx bxs-hot bx-sm" style="color: red"
                    *ngIf="tk.idPrioridadTicket == '1' && !tk.esAsignadoEspecialista"></i>

                <div *ngIf="tk.esAsignadoEspecialista" ticket.esAsignadoEspecialista
                    [pTooltip]="obtenerNombreResponsable(tk.idUsuarioEspecialista)" tooltipPosition="top"
                    style="margin: 2px; background-color: white; color: red; font-size: 1.5em;"> ✚
                </div>
            </td>
            <td class="text-center fw-bold">{{tk.folio}}</td>
            <td class="text-center">{{ datesHelper.getDate(tk.fecha) | date: 'dd/MM/yyyy hh:mm a' }}
            </td>
            <td class="text-center" *ngIf="mostrarFedchaEstimacion">
                <p-calendar [showTime]="false" [touchUI]="true" [hourFormat]="'12'"
                    (onSelect)="ManejadorDeFecha($event,tk)"
                    placeholder="{{datesHelper.getDate(tk!.fechaEstimacion) | date: 'dd/MM/yyyy hh:mm a'}}"
                    title="{{datesHelper.getDate(tk!.fechaEstimacion) | date: 'dd/MM/yyyy hh:mm a'}}"
                    styleClass="table-calendar-custom" />
            </td>
            <td class="text-center">
                <p-dropdown 
                    [options]="areas" 
                    [(ngModel)]="tk.idArea" 
                    optionLabel="nombre" 
                    [showClear]="false"
                    optionValue="id" 
                    [disabled]="true" 
                    (onChange)="actualizaTicket(tk)" 
                    styleClass="table-select-custom">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <span>{{ selectedOption?.nombre }}</span>
                    </ng-template>
                    <ng-template let-dep pTemplate="item">
                        <span>{{ dep.nombre }}</span>
                    </ng-template>
                </p-dropdown>
            </td>
            <td class="text-center">
                <p-dropdown 
                    [options]="categorias" 
                    [(ngModel)]="tk.idCategoria" 
                    optionLabel="nombre" 
                    [showClear]="false"
                    optionValue="id" 
                    styleClass="table-select-custom" 
                    (onChange)="actualizaTicket(tk)">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <span>{{ selectedOption?.nombre || selectedOption?.name }}</span>
                    </ng-template>
                    <ng-template let-categoria pTemplate="item">
                        <span>{{ categoria.nombre || categoria.name }}</span>
                    </ng-template>
                </p-dropdown>
            </td>
            <td class="text-center">
                <p-dropdown 
                    [options]="obtenerSubcategorias(tk.idCategoria)" 
                    [(ngModel)]="tk.idSubcategoria"
                    optionLabel="nombre" 
                    [showClear]="false" 
                    optionValue="id" 
                    styleClass="table-select-custom"
                    (onChange)="actualizaTicket(tk)">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <span>{{ selectedOption?.nombre || selectedOption?.name || 'SELECCIONAR' }}</span>
                    </ng-template>
                    <ng-template let-subcategoria pTemplate="item">
                        <span>{{ subcategoria.nombre || subcategoria.name }}</span>
                    </ng-template>
                </p-dropdown>
            </td>
            <td class="text-center">
                <p-dropdown 
                    [options]="estatusTicket" 
                    [(ngModel)]="tk.idEstatusTicket" 
                    optionLabel="nombre"
                    [showClear]="false" 
                    optionValue="id" 
                    (onChange)="actualizarEstatus(tk, $event.value)" 
                    styleClass="table-select-custom">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="d-flex align-items-center gap-1 justify-content-center">
                            <i class="bx {{ selectedOption?.icon }} {{ selectedOption?.animation }}" [style.color]="selectedOption?.color"></i>
                            <span>{{ selectedOption?.nombre }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-st pTemplate="item">
                        <div class="d-flex align-items-center gap-2">
                            <i class="bx {{ st.icon }} {{ st.animation }}" [style.color]="st.color"></i>
                            <span>{{ st.nombre }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </td>
            <td class="text-center">{{ tk.solicitante | uppercase }}</td>
            <td class="text-center">
                {{ obtenerNombreResponsable(tk.idResponsableFinaliza) }}
            </td>
            <td class="text-center">
                <p-dropdown 
                    [options]="tiposSoporte" 
                    [(ngModel)]="tk.idTipoSoporte" 
                    optionLabel="name" 
                    optionValue="id"
                    [showClear]="false" 
                    (onChange)="actualizaTicket(tk)" 
                    styleClass="table-select-custom">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <span>{{ selectedOption?.name || selectedOption?.nombre }}</span>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <span>{{ item.name || item.nombre }}</span>
                    </ng-template>
                </p-dropdown>
            </td>
            <td *ngIf="mostrarAcciones">
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <button class="btn btn-warning btn-sm rounded-2" (click)="onClickRechazar(tk)"
                        *ngIf="mostrarAccionFinalizar && tk.idEstatusTicket == '7'">
                        <i class="bx bx-undo" pTooltip="RECHAZAR SOPORTE" tooltipPosition="top"></i>
                    </button>

                    <button class="btn btn-sm rounded-2" style="background-color: #8a00da; color: white;"
                        (click)="onClickValidacionAdmin(tk)"
                        *ngIf="mostrarAccionValidar && tk.idEstatusTicket != '7' && tk.idEstatusTicket == '3'">
                        <i class="bx bxs-badge-check" pTooltip="VALIDACIÓN ADMINISTRADOR" tooltipPosition="top"></i>
                    </button>

                    <button class="btn btn-warning btn-sm rounded-2" (click)="onClickValidar(tk)"
                        *ngIf="mostrarAccionValidar && tk.idEstatusTicket != '7' && tk.idEstatusTicket != '3'">
                        <i class="bx bx-check-circle" pTooltip="VALIDAR TICKET" tooltipPosition="top"></i>
                    </button>
                    <button class="btn btn-primary btn-sm rounded-2 btn-notification" (click)="onClickChat(tk)"
                        *ngIf="mostrarAccionChat" [ngClass]="{'has-notification': verificarChatNoLeido(tk)}">
                        <i class="bx bx-message-square-dots text-white" pTooltip="CHAT" tooltipPosition="top"></i>
                    </button>
                    <button class="btn btn-info btn-sm rounded-2 text-white" pTooltip="DETALLES" tooltipPosition="top"
                        (click)="abrirModalDetalleTicket(tk)">
                        <i class="bx bx-show"></i>
                    </button>
                    <button *ngIf="(tk != undefined && tk!.idPrioridadTicket != '1')" class="btn btn-dark btn-sm rounded-2"
                        (click)="onPanicoClick(tk!.id)">
                        <i class="bx bxs-hot text-white" pTooltip="PÁNICO" tooltipPosition="top"></i>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- Modals -->
<app-modal-validate-ticket *ngIf="mostrarModalValidarTicket" [mostrarModalValidarTicket]="mostrarModalValidarTicket"
    [ticket]="ticketAccion" (closeEvent)="mostrarModalValidarTicket = false"></app-modal-validate-ticket>

<app-modal-ticket-chat *ngIf="showModalChatTicket" [showModalChatTicket]="showModalChatTicket" [ticket]="ticketAccion"
    (closeEvent)="showModalChatTicket = false"></app-modal-ticket-chat>

<app-modal-ticket-detail *ngIf="mostrarModalTicketDetail" [ticket]="ticket"
    [showModalTicketDetail]="mostrarModalTicketDetail"
    (closeEvent)="mostrarModalTicketDetail = false"></app-modal-ticket-detail>