.dashboard-page-wrapper {
  background-color: #f4f6fa;
  min-height: calc(100vh - 65px);
  padding: 1.25rem 1.5rem;
  width: 100%;
}

.dashboard-content-container {
  max-width: 1650px;
  margin: 0 auto;
}
