<div class="pt-5">
<div class="d-flex justify-content-center p-3" *ngIf="loading">
     <i class="bx bx-loader bx-lg bx-spin" style="color: rgb(0, 153, 255)"></i>
</div>

<div class="p-3">
      <div class="d-flex justify-content-center gap-3 flex-wrap bg-white p-3">
        <div class="p-3">
            <h3 class="text-center mb-3">PERSONAL DE LA SUCURSAL&nbsp;{{turnoActual}}</h3>
           
            <div class="d-flex justify-content-center mb-3 rounded-3">
                     <p-knob [(ngModel)]="porcentajePersonal" valueTemplate="{value}%" [readonly]="true" valueColor="green" rangeColor="SlateGray" [size]="150"/>
                </div>

            <div class="d-flex justify-content-center gap-3 flex-wrap">

                <div class="d-flex flex-column align-items-center p-3 shadow rounded-5" style="width: 15rem;" *ngFor="let item of puestosDeTrabajo">
                    <p-knob [(ngModel)]="item.porcentaje" valueTemplate="{value}%" [readonly]="true" valueColor="green" rangeColor="SlateGray" [size]="100"/>
                    <p class="text-center">{{item.nombre}}</p>
                     <div class="d-flex justify-content-center flex-wrap gap-1">
                     
                        <div *ngFor="let color of obtenerEmpleadosPuesto(item)">
                             <i class='bx bx-user-check bx-md {{color}}'></i>
                        </div>
                     <!-- <i class='bx bx-user-x bx-md text-danger' ></i> -->
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
</div>

<div class="mt-3 p-3" *ngIf="marcajes.length>0">
    <p class="fw-bold fw-bold text-center fs-5">MARCAJES</p>

<p-table [value]="marcajes" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>NOMBRE</th>
            <th>PUESTO</th>
            <th>ENTRADA</th>
            <th>SALIDA</th>
            <th>INCIDENCA</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr class="bg-opacity-25" [ngClass]="{'bg-success': item.entrada!=''}">
            <td>{{item.nombre}}</td>
            <td>{{obtenerNombrePuesto(item.idpuesto)}}</td>
            <td>{{item.entrada}}</td>
            <td>{{item.salida}}</td>
            <td>{{item.incidencia}}</td>
        </tr>
    </ng-template>
</p-table>

</div>
</div>
