<div class="pt-5">
  <div class="mt-5"></div>

  <h3 class="m-3 text-center" *ngIf="userdata.idRol == '4'">MIS TICKETS</h3>
  <h3 class="m-3 text-center" *ngIf="userdata.idRol == '2'">
    TICKETS <span class="text-center text-primary">{{ sucursal?.nombre }}</span>
  </h3>

  <div class="d-flex justify-content-start gap-3 p-3 pb-0">
    <button class="btn bg-p-b p-2" (click)="showModalGenerateTicket = true">
      <i class="bx bx-plus bx-sm"></i>
    </button>
    <button class="btn bg-p-b p-2" style="background-color: #ff5722" (click)="showModalFinalizeTicket = true">
      <i class="bx bx-filter bx-sm"></i>
    </button>
    <button class="btn bg-p-b p-2" style="background-color: #29d998" (click)="showModalHistorial = true">
      <i class="bx bx-history bx-flip-horizontal bx-sm"></i>
    </button>
  </div>

  <div class="d-flex flex-column align-items-center gap-3 bg-white m-4 justify-content-center p-5 shadow-sm rounded-3"
    *ngIf="tickets.length == 0">
    @if (loading) {
    <i class="bx bx-loader bx-lg bx-spin" style="color: rgb(0, 153, 255)"></i>
    }@else {
    <i class="bx bx-file-blank bx-md" style="color: rgb(43, 92, 226)"></i>
    <p>SIN TICKETS PENDIENTES</p>
    }
  </div>

  <div *ngIf="tickets.length > 0" class="p-1 mt-3">
    <div class="m-0 pb-4" style="background-color: transparent">
      <app-requester-tickets-list *ngIf="userdata.idRol == '2'" [tickets]="tickets"
        (clickEvent)="abrirModalDetalleTicket($event)"></app-requester-tickets-list>

      <div *ngIf="userdata.idRol == '4'">
        <div *ngFor="let item of userdata.sucursales" class="mb-3">
          <p-table [value]="obtenerTicketsPorSucursal(item.id)" [tableStyle]="{ 'min-width': '10rem', padding: '10px' }"
            styleClass="p-datatable-gridlines table-tk" [scrollable]="true" scrollHeight="62vh" selectionMode="single"
            [(selection)]="selectedtk" (onRowSelect)="abrirModalDetalleTicket($event)">
            <ng-template pTemplate="header">
              <tr>
                <th colspan="4" class="text-center text-primary">
                  <span class="fs-5">{{ item.nombre }}</span>
                </th>
              </tr>
              <tr class="text-center">
                <th>P.</th>
                <th>AREA</th>
                <th>CATEGORÍA</th>
                <th>STATUS</th>
                <!-- <th></th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tk>
              <tr [pSelectableRow]="tk">
                <td class="text-center" *ngIf="tk.prioridadsuc == 'PÁNICO'">
                  <i class="bx bxs-hot bx-sm" style="color: red"></i>
                </td>
                <td class="text-center" *ngIf="tk.prioridadsuc != 'PÁNICO'">
                  <i class="bx bxs-circle bx-sm"
                    [style]="{ color: obtenerBackgroundColorPrioridad(tk.prioridadsuc) }"></i>
                </td>
                <td class="text-center">
                  {{ obtenerNombreProveedor(tk.idproveedor) }}
                </td>
                <td class="text-center">
                  {{ tk.nombreCategoria == null ? "" : tk.nombreCategoria }}
                </td>
                <td class="text-center">
                  <i *ngIf="tk.status == '1'" class="bx bx-dots-horizontal-rounded bx-tada bx-sm"
                    style="color: #ff0028"></i>
                  <i *ngIf="tk.status == '2'" class="bx bx-loader bx-rotate-180 bx-spin bx-sm"
                    style="color: #ff7b00"></i>
                  <i *ngIf="tk.status == '4'" class="bx bx-pause bx-tada bx-md" style="color: #a300ff"></i>
                  <i *ngIf="tk.status == '3'" class="bx bx-check bx-tada bx-sm" style="color: #008500"></i>
                  <i *ngIf="tk.status == '5'" class="bx bxs-cart bx-tada bx-sm" style="color: #ff7b00"></i>
                  <i *ngIf="tk.status == '6'" class="bx bxs-cart bx-tada bx-sm" style="color: #008500"></i>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-generate-ticket *ngIf="showModalGenerateTicket" [showModalGenerateTicket]="showModalGenerateTicket"
  (closeEvent)="showModalGenerateTicket = false"></app-modal-generate-ticket>

<app-modal-ticket-detail *ngIf="showModalTicketDetail" [ticket]="itemtk" [showModalTicketDetail]="showModalTicketDetail"
  (closeEvent)="showModalTicketDetail = false"></app-modal-ticket-detail>

<app-modal-filter-tickets *ngIf="showModalFinalizeTicket" [showModalFinalizeTicket]="showModalFinalizeTicket"
  [tickets]="todosLosTickets" (closeEvent)="showModalFinalizeTicket = false"
  (ticketsFiltradosEvent)="tickets = $event"></app-modal-filter-tickets>

<app-modal-tickets-history *ngIf="showModalHistorial" [showModalHistorial]="showModalHistorial"
  (closeEvent)="showModalHistorial = false"></app-modal-tickets-history>

<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>

<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>