<p-dialog 
    header="AGREGAR COMPRA" 
    [modal]="true"
    [(visible)]="visible" 
    [style]="{ width: '90%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [maximizable]="true"
    (onHide)="onHide()"
     >
        <div class="mt-3">
             
          
            <div class="p-3 mt-3" style="background-color: #e5e8f3;" *ngIf="!tieneArticuloOnline()">
                            <p class="mt-3 text-center fw-bold">AGREGAR ARTÍCULO(S)</p>
                       
                           
                                <div class="row">
                            <div class="col-md-4">
                                <p>ARTÍCULO</p>
                                 <input type="text"  class="form-control h-42" [(ngModel)]="formArtArticulo">
                            </div>
                            <div class="col-md-4">
                                <p>UDS</p>
                                <input type="number"  class="form-control h-42" [(ngModel)]="formArtUds">
                            </div>
                            <div class="col-md-4">
                                <p>PRECIO X UNIDAD</p>
                                  <input type="number"  class="form-control h-42" [(ngModel)]="formArtPrecio">
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <p>Tipo</p>
                                <select class="form-select h-42" [(ngModel)]="formArtTipo" (change)="cambiartipo()">
                                    <option *ngFor="let item of catTipoCompra" [value]="item.id">{{item.nombre}}</option>
                                    </select>
                            </div>
                            <div class="col-md-4">
                                <p>link de compra</p>
                                <input type="text"  class="form-control h-42" [(ngModel)]="formArtLink" [disabled]="formArtTipo != '1'">
                            </div>
                            <div class="col-md-4">
                                <p>Proveedor</p>
                                 <p-dropdown 
                                            [options]="catProveedores" 
                                            [(ngModel)]="formArtProveedor"
                                            optionValue="id"
                                            filterBy="razonSocial"
                                            [filter]="true"  
                                            optionLabel="razonSocial" 
                                            placeholder="SELECCIONAR PROVEEDOR" 
                                             [style]="{width:'100%'}" 
                                             [disabled]="formArtTipo == '1'"
                                             />
                            </div>
                        </div>
    
                        <div class="row mt-3">
                             <div class="col-md-4">
                                <p>REGIÓN</p>
                                <select class="form-select h-42" [(ngModel)]="formRegion">
                                    <option value="CDMX">CDMX</option>
                                    <option value="QRO">QRO</option>
                                    </select>
                            </div>
                            <div class="col-md-4">
                                <p>SUCURSAL / AREA</p>
                                <p-dropdown [options]="sucursales" [(ngModel)]="FormSucursal" name="sucursal" optionLabel="nombre" [filter]="true"
                                filterBy="nombre" [showClear]="true" placeholder="SELECCIONAR SUCURSAL"
                                [style]="{width:'100%'}">
                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ selectedOption.nombre }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-dep pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ dep.nombre }}</div>
                                    </div>
                                </ng-template>
                                </p-dropdown>
                            </div>
                            <div class="col-4">
                                <p>Dirección de entrega</p>
                                <input type="text"  class="form-control h-42"  [(ngModel)]="formDireccion">
                             </div>
                        </div>

                         <div class="row mt-3">
                            <div class="col-12">
                            <p>JUSTIFICACIÓN</p>
                            <input type="text"  class="form-control h-42" [(ngModel)]="formArtJustificacion">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-primary" (click)="agregarArticulo()" 
                            [disabled]="formArtTipo =='' || formArtArticulo == '' || formArtJustificacion == '' || formArtPrecio == undefined || 
                            formArtUds == undefined || FormSucursal == undefined || formRegion == '' || formDireccion == ''">
                            <i class='bx bx-plus-circle'></i>&nbsp;Agregar</button>
                        </div>
            </div>
   
              <div class="p-3" *ngIf="formarticulos.length>0">
               
              <div class="row mt-3">
                           
                            <div class="col-md-4">
                                <p>RAZON SOCIAL</p>
                                <select class="form-select h-42" [(ngModel)]="formRazonSocial">
                                    <option value="REBEL W1">REBEL W1</option>
                                    <option value="REBEL W2">REBEL W2</option>
                                    <option value="REBEL W3">REBEL W3</option>
                                    <option value="REBEL WINGS 3">REBEL WINGS 3</option>
                                    <option value="RW CENTRO">RW CENTRO</option>
                                    </select>
                            </div>

                              <div class="col-md-4">
                                <p>Método de pago</p>
                                <select class="form-select h-42" [(ngModel)]="formMetodoPago">
                                    <option *ngFor="let item of catMetodosPago" [value]="item.id">{{item.nombre}}</option>
                                    </select>
                            </div>
                          <div class="col-md-4">
                        <p>Solicitante</p>
                        <input type="text"  class="form-control h-42"  [(ngModel)]="formSolicitante">
                        </div>

                        </div>

            </div>

            <div class="mt-3 shadow">
                <p-table [value]="formarticulos" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Artículo</th>
                                <th>Uds</th>
                                <th>Precio x unidad</th>
                                <th>Tipo</th>
                                <th>Link de compra</th>
                                <th>Proveedor</th>
                                <th>Justificación</th>
                                <th>Región</th>
                                <th>Sucursal / Área</th>
                                <th>Dirección</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product  let-i="rowIndex">
                            <tr>
                                <td>{{ product.art }}</td>
                                <td>{{ product.uds }}</td>
                                <td>{{ product.precio }}</td>
                                <td>{{ product.tipo }}</td>
                                <td>{{ product.link }}</td>
                                <td>{{ product.nomprov }}</td>
                                <td>{{ product.justificacion }}</td>
                                <td>{{ product.region }}</td>
                                <td>{{ obtenerNombreSucursal(product.idsucursal) }}</td>
                                <td>{{ product.direccionentrega}}</td>
                                <td><button class="btn btn-danger" (click)="borrarArt(i)"><i class='bx bx-trash bx-sm'></i></button></td>
                            </tr>
                        </ng-template>
                    </p-table>
            </div>

            <div class="mt-3 mb-3 d-flex justify-content-end" *ngIf="formarticulos.length>0">
                <button class="btn bg-p-b p-3" [disabled]="formarticulos.length==0 || formRazonSocial == ''
                 || formMetodoPago == '' || formSolicitante == ''" (click)="guardar()">GUARDAR</button>
            </div>


        </div>
</p-dialog>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>