<p-dialog header="CHAT" [modal]="true" [(visible)]="showModalChatTicket" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" (onHide)="onHide()">

    <div *ngIf="ticket != undefined" #chatContainer style="overflow: auto; max-height: 500px; padding-right: 10px;">
        <div class="d-flex w-100" *ngFor="let item of ticket!.comentarios" [ngClass]="{
            'justify-content-start': esmiuid(item.uid) == false,
            'justify-content-end': esmiuid(item.uid)
        }">
            <div class="p-1 rounded-3 mt-3" style="max-width: 80%; background-color: rgb(163 180 201)"
                *ngIf="esmiuid(item.uid) == false">
                <p class="p-1" style="color: black">{{ item.nombre }}</p>
                <label [innerHTML]="item.comentario"></label>
                <p class="align-right"><label style="font-size: 10px;">{{ getDate(item.fecha) | date:'MM/dd HH:mm' }}</label></p>
            </div>

            <div *ngIf="esmiuid(item.uid)" class="p-1 rounded-3 mt-3" style="max-width: 80%; background-color: #F3F3F3">
                <p class="p-1" style="color: rgb(0, 0, 0)">{{ item.nombre }}</p>
                <label [innerHTML]="item.comentario"></label>
                <p class="align-right"><label style="font-size: 10px;">{{ getDate(item.fecha) | date:'MM/dd HH:mm' }}</label></p>
            </div>
        </div>
    </div>

    <p-footer>
        <div class="input-container" style="display: flex; width: 100%; margin-top: 10px">
            <input pInputText placeholder="Escribe algo..." style="flex-grow: 1; margin-right: 10px;"
                [(ngModel)]="comentario" (keyup.enter)="enviarComentarioChat()" />
            <button class="btn btn-dark" style="flex-shrink: 0; padding: 10px;" (click)="enviarComentarioChat()">
                <i class="bx bxs-send bx-sm" style="color: rgb(255, 255, 255)"></i>
            </button>
        </div>
    </p-footer>
</p-dialog>