.contenedor {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    // background: #f5f5f5;
}

/* Título */
.titulo {
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
    font-weight: bold;
}

/* Lista de comentarios con scroll */
.lista-comentarios {
    flex: 1;
    overflow-y: auto;
    padding-right: 4px;
    /* para que no tape el scroll */
}

/* Si no hay comentarios */
.sin-comentarios {
    text-align: center;
    color: #777;
    margin-bottom: 1rem;
}

/* Tarjeta */
.tarjeta {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    margin-bottom: 1rem;
    animation: fadeIn 0.2s;
}

.tarjeta-encabezado {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: #444;
    font-size: 0.95rem;
}

.tarjeta-cuerpo {
    color: #333;
    white-space: pre-line;
    font-size: 1rem;
}

/* Caja fija abajo */
.ingresar-comentario {
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    background: #fafafa;

    display: flex;
    gap: 10px;
    align-items: flex-end;
}

/* Caja de texto a la izquierda */
.texto {
    flex: 1;
    border-radius: 6px;
    padding: 0.7rem;
    border: 1px solid #ccc;
    resize: none;
    font-size: 1rem;
}

/* Contenedor de acciones a la derecha */
.acciones {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Botón enviar */
.btn-enviar {
    padding: 0.7rem 1rem;
    border: none;
    width: 120px;
    background: #1976d2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn-enviar:hover {
    background: #155a9c;
}

.fecha {
    font-size: 0.8rem;
    color: #666;
}

.nombre {
    font-size: 0.95rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.imagenes {
    margin-top: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.imagen-comentario {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.imagen-comentario:hover {
    transform: scale(1.05);
}

/* Botón adjuntar */
.btn-adjuntar {
    position: relative;
    background: #555;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #d32f2f;
    color: white;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}