.contenedor {
    padding: 1rem;
}

.titulo {
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.sin-comentarios {
    text-align: center;
    color: #777;
    margin-bottom: 1rem;
}

.tarjeta {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    margin-bottom: 1rem;
    animation: fadeIn 0.2s;
}

.tarjeta-encabezado {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: #444;
    font-size: 0.95rem;
}

.tarjeta-cuerpo {
    color: #333;
    white-space: pre-line;
    font-size: 1rem;
}

.ingresar-comentario {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.texto {
    width: 100%;
    border-radius: 6px;
    padding: 0.7rem;
    border: 1px solid #ccc;
    resize: none;
    font-size: 1rem;
}

.btn-enviar {
    margin-top: 0.5rem;
    padding: 0.7rem;
    border: none;
    width: 120px;
    background: #1976d2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn-enviar:hover {
    background: #155a9c;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fecha {
    font-size: 0.8rem;
    color: #666;
}

.nombre {
    font-size: 0.95rem;
}