<p-dialog [header]="sucursal!.nombre" [(visible)]="showModalEventeDetail" [modal]="true" [maximizable]="true"
    (onHide)="onHide()" [style]="{ width: '90vw' }" class="custom-dialog">
    <h4 class="text-dark fw-bold text-center">{{ fecha | date:'fullDate':'':'es' | uppercase }}</h4>

    <h5 class="text-dark fw-bold text-center">TICKETS</h5>

    <app-requester-tickets-list [tickets]="tickets" (clickEvent)="abrirModalDetalleTicket($event)"
        [mostrarAccionFinalizar]="false" [mostrarEstrellas]="false"
        [mostrarAcciones]="false"></app-requester-tickets-list>

    <div class="d-flex flex-column align-items-center gap-3 bg-white m-4 justify-content-center p-5 shadow-sm rounded-3"
        *ngIf="tickets.length == 0">
        @if (loading) {
        <i class="bx bx-loader bx-lg bx-spin" style="color: rgb(0, 153, 255)"></i>
        }@else {
        <i class="bx bx-file-blank bx-md" style="color: rgb(43, 92, 226)"></i>
        <p>SIN TICKETS PENDIENTES</p>
        }
    </div>

    <div class="mt-3">
        <h5 class=" text-dark fw-bold text-center">MANTENIMIENTO</h5>

        <app-branch-maintenance-table *ngIf="usuario.idArea == '1'" [mantenimientos]="mantenimientosDelDia" [usuariosHelp]="usuariosHelp"
            (clickEvent)="abrirModalDetalleMantenimiento($event)"></app-branch-maintenance-table>

        <app-branch-maintenance-table-av *ngIf="usuario.idArea == '2'" [mantenimientos]="mantenimientosDelDia" [usuariosHelp]="usuariosHelp"
            (clickEvent)="abrirModalDetalleMantenimiento($event)"></app-branch-maintenance-table-av>
    </div>

    <div *ngIf="comentario != ''">
        <p class="text-dark fw-bold text-center mt-3">COMENTARIOS</p>
        <p-editor [(ngModel)]="comentario" [style]="{ height: '300px' }">
            <ng-template pTemplate="header">
                <span class="ql-formats">
                </span>
            </ng-template>
        </p-editor>

    </div>

    <app-modal-ticket-detail *ngIf="showModalTicketDetail" [ticket]="itemtk"
        [showModalTicketDetail]="showModalTicketDetail"
        (closeEvent)="showModalTicketDetail = false"></app-modal-ticket-detail>

    <app-modal-maintenance-detail *ngIf="mostrarModalDetalleMantenimeinto" [mantenimiento]="mantenimiento"
        [mostrarModalDetalleMantenimeinto]="mostrarModalDetalleMantenimeinto"
        (closeEvent)="mostrarModalDetalleMantenimeinto = false"></app-modal-maintenance-detail>

</p-dialog>