<p-dialog header="FINALIZAR TICKET" [modal]="true" [(visible)]="showModalFinalizeTicket" [style]="{ width: '50rem' }"
    [maximizable]="true" (onHide)="onHide()">
    <p class="text-center fw-bold">INGRESA EVIDENCIA Y COMENTARIOS FINALES</p>
    <p-editor [(ngModel)]="evidencia" [style]="{ height: '320px' }" *ngIf="showModalFinalizeTicket" />

    <div class="rating-container">
        <p>Califica tu experiencia con nuestro soporte:</p>
        <div class="star-rating">
            <span *ngFor="let star of stars; let i = index" (click)="setRating(i)" class="star">
                <ng-container *ngIf="star">★</ng-container>
                <ng-container *ngIf="!star">☆</ng-container>
            </span>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-success p-2 text-center" (click)="finalizarTicket()"
            [disabled]="evidencia == '' || rating == 0">
            <i class="bx bx-check-circle bx-md"></i>
        </button>
    </div>
</p-dialog>