<p-dialog #dialogHtk header="HISTORIAL DE TICKETS" [modal]="true" [(visible)]="showModalHistorial"
  [style]="{ width: '90vw', height: '90vh' }" [maximizable]="true" (onHide)="onHide()">
  <input class="invisible">

  <div class="row" style="margin-top: 10px">
    <div class="col-md-4">
      <p class="fw-bold">FECHA INICIAL</p>
      <p-calendar [(ngModel)]="fechaInicio" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
        [style]="{width:'100%'}" />
    </div>
    <div class="col-md-4">
      <p class="fw-bold">FECHA FINAL</p>
      <p-calendar [(ngModel)]="fechaFin" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
        [style]="{width:'100%'}" />
    </div>

    <div class="col-md-4">
      <p class="fw-bold">SUCURSAL</p>
      <p-multiSelect [options]="sucursales" [(ngModel)]="idsucursales" name="sucursales" optionLabel="nombre"
        optionValue="id" [filter]="true" filterBy="nombre" [showClear]="true" placeholder="SELECCIONAR SUCURSALES"
        [style]="{width:'100%'}" [disabled]="usuario.idRol == '2'">

        <!-- Template para ítems -->
        <ng-template let-sucursal pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ sucursal.nombre }}</div>
          </div>
        </ng-template>

        <!-- Template para los seleccionados -->
        <ng-template let-selectedOptions pTemplate="selectedItems">
          <div *ngIf="selectedOptions?.length === 0">Seleccionar sucursales</div>
          <div *ngIf="selectedOptions?.length === 1">{{ selectedOptions[0].nombre }}</div>
          <div *ngIf="selectedOptions?.length > 1">{{ selectedOptions.length }} sucursales seleccionadas</div>
        </ng-template>
      </p-multiSelect>
    </div>

  </div>

  <div class="row" style="margin-top: 10px">
    <div class="col-md-4">
      <p class="fw-bold">ÁREA</p>
      <p-dropdown [options]="areas" [(ngModel)]="idArea" name="area" optionLabel="name" [optionValue]="'id'"
        [filter]="true" filterBy="nombre" [showClear]="true" placeholder="SELECCIONAR ÁREA" [style]="{width:'100%'}"
        [disabled]="true">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption?.nombre }}</div>
          </div>
        </ng-template>

        <ng-template let-area pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ area.nombre }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="col-md-4">
      <p class="fw-bold">CATEGORÍA</p>
      <p-dropdown [options]="categorias" [(ngModel)]="idCategoria" name="categoria" optionLabel="name"
        [optionValue]="'id'" [filter]="true" filterBy="nombre" [showClear]="true" placeholder="SELECCIONAR CATEGORIA"
        [style]="{width:'100%'}">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption?.nombre }}</div>
          </div>
        </ng-template>

        <ng-template let-categoria pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ categoria.nombre }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="col-md-4">
      <p class="fw-bold">CALIFICACIÓN</p>
      <p-dropdown [options]="opcionesCalificacion" [(ngModel)]="calificacion" name="calificacion" optionLabel="label"
        optionValue="value" [showClear]="true" placeholder="SELECCIONAR CALIFICACIÓN" [style]="{width:'100%'}">
        <!-- Ítem seleccionado -->
        <ng-template pTemplate="selectedItem" let-seleccionado>
          <div class="flex align-items-center gap-2" *ngIf="seleccionado">
            <div class="star-rating">
              <span *ngFor="let s of [].constructor(seleccionado.value)">
                ★
              </span>
              <span *ngFor="let s of [].constructor(5 - seleccionado.value)">
                ☆
              </span>
            </div>
          </div>
        </ng-template>

        <!-- Ítems del dropdown -->
        <ng-template let-opcion pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div class="star-rating">
              <span *ngFor="let s of [].constructor(opcion.value)">
                ★
              </span>
              <span *ngFor="let s of [].constructor(5 - opcion.value)">
                ☆
              </span>
            </div>
          </div>
        </ng-template>
      </p-dropdown>

    </div>
  </div>

  <div class="row align-items-center" style="margin-top: 10px">
    <div class="col-12 d-flex align-items-end">
      <div class="flex-grow-1 me-2">
        <label class="form-label fw-bold">Filtro</label>
        <input type="text" class="form-control" (ngModelChange)="applyFiltroTexto($event)" [(ngModel)]="textoBusqueda"
          placeholder="BUSCAR POR DESCRIPCIÓN">
      </div>
      <div>
        <button class="btn bg-p-b p-2" (click)="buscar()">BUSCAR</button>
      </div>
    </div>
  </div>

  <br>
  <app-requester-tickets-list [tickets]="ticketsFiltrados" (clickEvent)="abrirModalDetalleTicket($event)"
    [mostrarAcciones]="false" [mostrarEstrellas]="true" [mostrarFedchaEstimacion]="false" [mostrarSucursal]="true"></app-requester-tickets-list>
</p-dialog>





<app-modal-ticket-detail *ngIf="showModalTicketDetail" [ticket]="itemtk" [showModalTicketDetail]="showModalTicketDetail"
  (closeEvent)="showModalTicketDetail = false"></app-modal-ticket-detail>

<app-modal-filter-tickets [showModalFilterTickets]="showModalFilterTickets" [tickets]="todosLosTickets"
  (closeEvent)="showModalFilterTickets = false" (ticketsFiltradosEvent)="tickets = $event"></app-modal-filter-tickets>