<p-dialog header="CAMBIAR REFERENCIA" [(visible)]="mostrarModal"
    [modal]="true" [style]="{ 'width': '95vh', 'max-width': '500px' }" [maximizable]="true" (onHide)="onHide()">
    <form #form="ngForm" (ngSubmit)="enviar(form)">

        <p class="fw-bold mb-3" *ngIf="lote">LOTE SELECCIONADO: {{lote.lote}}</p>

        <p class="fw-bold">NUEVA REFERENCIA</p>
        <input class="form-control" style="height: 48px;" placeholder="ESCRIBE LA REFERENCIA"
            [(ngModel)]="referencia" name="referencia"
            [ngClass]="{'is-invalid': formRefCtrl.invalid && formRefCtrl.touched}" #formRefCtrl="ngModel"
            required>
        <small *ngIf="formRefCtrl.invalid && formRefCtrl.touched" class="text-danger">
            Campo requerido.
        </small>
        <p></p>

        <div class="d-flex justify-content-end mt-3">
            <button class="btn bg-p-b p-3 text-white" type="submit" style="background-color: var(--primary-color, #0f172a);">
                <i class='bx bx-send'></i>
                <label class="ms-2 mb-0" style="cursor: pointer;">CONFIRMAR</label>
            </button>
        </div>
    </form>
</p-dialog>
