<app-side-menu />
<div class="pt-5 mt-5">
  <p-tabView>
    <p-tabPanel header="COMPRAS">
      <app-shopping-admin-page></app-shopping-admin-page>
    </p-tabPanel>
    <p-tabPanel header="VIÁTICO">
      <app-viaticos-tab></app-viaticos-tab>
    </p-tabPanel>
    <p-tabPanel header="BONO">
      <app-bonos-tab></app-bonos-tab>
    </p-tabPanel>
    <p-tabPanel header="FONDEO TARJETA">
      <app-fondeo-tarjeta-tab></app-fondeo-tarjeta-tab>
    </p-tabPanel>
    <p-tabPanel header="GASOLINA">
      <app-gasolina-tab></app-gasolina-tab>
    </p-tabPanel>
  </p-tabView>
</div>
