<p-dialog header="REGISTRO DE MANTENIMIENTO 10 DE 10" [(visible)]="showModal10x10" [modal]="true" [maximizable]="true"
    (onHide)="onHide()" [style]="{ width: '40vw' }" class="custom-dialog">

    <form [formGroup]="maintenanceForm" class="p-fluid">
        <div class="p-grid p-ai-center">
            <div *ngFor="let option of maintenanceOptions" class="p-col-12 p-md-6 p-lg-2">
                <div class="p-field-checkbox flex align-items-center">
                    <p-checkbox [binary]="true" [formControlName]="option.controlName"></p-checkbox>
                    <label class="check-text ml-2">{{ option.label }}</label>
                </div>
            </div>
        </div>

        <div class="p-field p-col-12 mt-3">
            <label for="observaciones" class="block mb-2">Observaciones</label>
            <textarea id="observaciones" formControlName="observaciones" pInputTextarea rows="5" class="w-full"></textarea>
        </div>
    </form>

    <p-footer class="footer-buttons">
        <div class="d-flex justify-content-end mt-3">
            <button class="btn bg-p-b p-3" (click)="saveToFirebase()"><i class='bx bx-send'></i> ENVIAR</button>
        </div>
    </p-footer>

</p-dialog>