<div>
 <div class="row m-0">
    <div class="col-md-6" style="height: 250px;">
        <p class="text-center fw-bold fs-5">SOLICITANTES</p>
          <ngx-charts-advanced-pie-chart
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          >
        </ngx-charts-advanced-pie-chart> 
    </div>
     <div class="col-md-6" style="height: 250px;">
         <p class="text-center fw-bold fs-5">BENEFICIARIOS</p>
          <ngx-charts-advanced-pie-chart
          [scheme]="colorScheme"
          [results]="single2"
          [gradient]="gradient"
          >
        </ngx-charts-advanced-pie-chart> 
    </div>
   </div> 
</div>