<div *ngIf="mostrarSubtareas || tarea.subtareas?.length > 0" class="p-2 border rounded" style="background: #fafafa;">

  <div class="mb-2">
    <label class="fw-bold subtareas-text">AGREGAR SUBTAREA</label>
    <div class="d-flex gap-2">
      <input class="form-control" [(ngModel)]="nuevaSubtarea" placeholder="ESCRIBE UNA SUBTAREA...">

      <button type="button" class="btn btn-success" (click)="agregarSubtarea()">
        <i class="bx bx-plus"></i>
      </button>
    </div>
  </div>

  <div *ngIf="tarea.subtareas?.length">
    <p class="fw-bold mt-3 subtareas-text">SUBTAREAS AGREGADAS</p>

    <!-- PROGRESS BAR -->
    <div *ngIf="tarea.subtareas?.length" class="mt-3">
      <label class="fw-bold subtareas-text">PROGRESO</label>

      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" [ngClass]="getProgressColor()" [style.width.%]="calcularProgreso()"
          style="transition: width 0.4s ease;">
          {{ calcularProgreso() }}%
        </div>
      </div>
    </div>

    <br>

    <ul class="list-group">
      <li *ngFor="let st of tarea.subtareas; let i = index"
        class="list-group-item d-flex align-items-center justify-content-between subtarea-item">

        <!-- IZQUIERDA -->
        <div class="d-flex align-items-center gap-2">
          <ngx-avatars *ngIf="st.idResponsable" [name]="getResponsablesDeTarea(st.idResponsable)?.nombre" [size]="30"
            class="avatar-item" pTooltip="{{ getResponsablesDeTarea(st.idResponsable)?.nombre }}"
            [bgColor]="getResponsablesDeTarea(st.idResponsable)?.color">
          </ngx-avatars>

          <input type="checkbox" [ngModelOptions]="{ standalone: true }" [(ngModel)]="st.terminado"
            class="form-check-input">

          <span [ngClass]="{ 'text-decoration-line-through': st.terminado }">
            {{ st.titulo }}
          </span>
        </div>

        <!-- DERECHA -->
        <div class="d-flex align-items-center gap-2">

          <!-- RESPONSABLE -->
          <p-dropdown [options]="responsables" optionLabel="nombre" optionValue="id" [(ngModel)]="st.idResponsable"
            placeholder="RESPONSABLE" [showClear]="true" [style]="{ width: '160px' }"
            [ngModelOptions]="{ standalone: true }" (onClear)="onResponsableSubtareaClear(st)"
            (onChange)="onResponsableSubtareaChange()">
          </p-dropdown>

          <!-- ELIMINAR -->
          <button type="button" class="btn btn-danger btn-sm" (click)="eliminarSubtarea(i)">
            <i class="bx bx-trash"></i>
          </button>

        </div>
      </li>

    </ul>
  </div>
</div>
