<div class="acciones">
    <button (click)="agregarTarea()">Agregar</button>
</div>

<div class="kanban-container">

    <div class="columna">
        <h3>To Do</h3>
        <div cdkDropList id="todoList" [cdkDropListData]="toDo" [cdkDropListConnectedTo]="dropListIds"
            (cdkDropListDropped)="drop($event)" class="lista">

            <div class="item" *ngFor="let t of toDo" cdkDrag>{{ t.titulo }}</div>
        </div>
    </div>

    <div class="columna">
        <h3>Working</h3>
        <div cdkDropList id="workingList" [cdkDropListData]="working" [cdkDropListConnectedTo]="dropListIds"
            (cdkDropListDropped)="drop($event)" class="lista">

            <div class="item" *ngFor="let t of working" cdkDrag>{{ t.titulo }}</div>
        </div>
    </div>

    <div class="columna">
        <h3>Pause</h3>
        <div cdkDropList id="pauseList" [cdkDropListData]="pause" [cdkDropListConnectedTo]="dropListIds"
            (cdkDropListDropped)="drop($event)" class="lista">

            <div class="item" *ngFor="let t of pause" cdkDrag>{{ t.titulo }}</div>
        </div>
    </div>

    <div class="columna">
        <h3>Done</h3>
        <div cdkDropList id="doneList" [cdkDropListData]="done" [cdkDropListConnectedTo]="dropListIds"
            (cdkDropListDropped)="drop($event)" class="lista">

            <div class="item" *ngFor="let t of done" cdkDrag>{{ t.titulo }}</div>
        </div>
    </div>

</div>

<app-new-task *ngIf="mostrarModalTarea" [mostrarModal]="mostrarModalTarea"
    (closeEvent)="mostrarModalTarea = false"></app-new-task>