
<div class="mt-4 p-3">
  <h2 class="text-center mb-3">ADMINISTRACIÓN DE DICCIONARIOS</h2>
  <p-tabView>
    <p-tabPanel header="DICCIONARIO">
        <app-tab-diccionario></app-tab-diccionario>
    </p-tabPanel>
    <p-tabPanel header="MARCAS">
        <app-tab-cat-marcas-delivery></app-tab-cat-marcas-delivery>
    </p-tabPanel>
    <p-tabPanel header="CLIENTES">
        <app-tab-clientes-delivery></app-tab-clientes-delivery>
    </p-tabPanel>
    <p-tabPanel header="COMBOS">
        <app-tab-combos-delivery></app-tab-combos-delivery>
    </p-tabPanel>
</p-tabView>


</div>

