<div class="rating-container" *ngIf="!editable">
    <div class="star-rating">
        <span *ngFor="let star of stars; let i = index" class="star">
            <ng-container *ngIf="star">★</ng-container>
            <ng-container *ngIf="!star">☆</ng-container>
        </span>
    </div>
</div>

<div class="rating-container" *ngIf="editable">
    <p style="color: black;">Califica tu experiencia con nuestro soporte:</p>
    <div class="star-rating">
        <span *ngFor="let star of stars; let i = index" (click)="setRating(i)" class="star">
            <ng-container *ngIf="star">★</ng-container>
            <ng-container *ngIf="!star">☆</ng-container>
        </span>
    </div>
</div>