

<div class="d-flex justify-content-center" *ngIf="loading">
                    <div class="lds-ring">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
</div>

<div class="parent mt-3" *ngIf="!loading">
<div class="div1 p-0 shadow rounded-3"> 
   <div class="rounded-3 p-3" style="background-color: rgb(156, 234, 156); color: rgb(0, 0, 0);">
     <p class="m-0 fs-5 text-center">C1:🔥PELIGRO! Hazlo ya </p>
   </div>

     <div class="columna p-3" cdkDropList id="c1" [cdkDropListData]="tc1" style="max-height: 300px; overflow: auto;"
    [cdkDropListConnectedTo]="dropListIds" (cdkDropListDropped)="drop($event)">

    <app-task-eisenhower-card [catEstatusTareas]="catEstatusTareas" *ngFor="let t of tc1" [tarea]="t" (seleccionarTarea)="abrirDetalle(t)">
    </app-task-eisenhower-card>

  </div>

</div>


<div class="div2 p-0 shadow rounded-3" >

    <div class="rounded-3 p-3 shadow rounded-3" style="background-color: rgb(118, 191, 255); color: rgb(0, 0, 0);">
     <p class="m-0 fs-5 text-center">C2:💎 VALOR! Planifícalo ya</p>
   </div>

     <div class="columna p-3" cdkDropList id="c2" [cdkDropListData]="tc2" style="max-height: 300px; overflow: auto;"
    [cdkDropListConnectedTo]="dropListIds" (cdkDropListDropped)="drop($event)">
    <app-task-eisenhower-card [catEstatusTareas]="catEstatusTareas" *ngFor="let t of tc2" [tarea]="t" (seleccionarTarea)="abrirDetalle(t)">
    </app-task-eisenhower-card>

  </div>

</div>

<div class="div3 p-0 shadow rounded-3">  
    <div class="rounded-3 p-3" style="background-color: rgb(243, 234, 167); color: rgb(0, 0, 0);">
     <p class="m-0 fs-5 text-center">C3:📢 RUIDO! Si puedes, delégalo</p>
   </div>

     <div class="columna p-3" cdkDropList id="c3" [cdkDropListData]="tc3" style="max-height: 300px; overflow: auto;"
    [cdkDropListConnectedTo]="dropListIds" (cdkDropListDropped)="drop($event)">

    <app-task-eisenhower-card [catEstatusTareas]="catEstatusTareas" *ngFor="let t of tc3" [tarea]="t" (seleccionarTarea)="abrirDetalle(t)">
    </app-task-eisenhower-card>

  </div>

</div>

<div class="div4 p-0 shadow rounded-3" >
  <div class="rounded-3 p-3" style="background-color: rgb(243, 167, 167); color: rgb(0, 0, 0);">
     <p class="m-0 fs-5 text-center">C4:⏳TRANQUILO.. Puede esperar</p>
   </div>
      <div class="columna p-3" cdkDropList id="c4" [cdkDropListData]="tc4" style="max-height: 300px; overflow: auto;"
    [cdkDropListConnectedTo]="dropListIds" (cdkDropListDropped)="drop($event)">

    <app-task-eisenhower-card [catEstatusTareas]="catEstatusTareas" *ngFor="let t of tc4" [tarea]="t" (seleccionarTarea)="abrirDetalle(t)">
    </app-task-eisenhower-card>

  </div>

</div>
</div>


<app-task-detail *ngIf="mostrarModalDetalleTarea" [mostrarModal]="mostrarModalDetalleTarea"
  (closeEvent)="mostrarModalDetalleTarea = false" [tarea]="tareaSeleccionada">
</app-task-detail>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>

